//============================================
// サイト幅でセンタリング
//============================================
@mixin center{
	width: $baseWidth;
	margin: 0 auto;
}

//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// フォント
//============================================
@mixin mincyo() {
	font-family: "Avenir", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "Roboto", "游ゴシック", "Yu Gothic",
	"游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", "Meiryo", 
	"ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

//============================================
// breakpoint 768
//============================================
@mixin sp {
  @media screen and (max-width: 768px) {
   @content;
  }
}

//============================================
// breakpoint 480
//============================================
@mixin sp480 {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin wsp {
    width: 590/640*100%;
    margin: 0 auto;
}