{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">
        <div class="p-apart">

             <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/apart/index_our_service.png" alt="私たちのサービス"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/use_diagnosia.html">土地活用診断</a></li>
                <li><a href="/investment_advice.html">不動産投資助言</a></li>
                <li><a href="/right_adjustmentfield.html ">権利調整分野</a></li>
            </ul>

            <!--************************ Section apart1 start ************************-->
            <section class="p-apart1">
                <h3 class="c-title1">[ 不動産の物納対策 ]</h3>
                <div class="p-apart1-img">
                    <img src="/assets/img/apart/our_service_image.png" alt="アパート・マンション経営">
                    <div class="c-text1">
                        <p>所有の土地にアパート・マンションのような賃貸住宅をすることによって、<br>
                            成功すれば、高水準の賃貸料を長期に渡って得ることが可能です。<br>
                            税制面でのメリットも多く、土地活用の手法としてもっとも一般的なものとなります。</p>
                    </div>
                </div>
                <div class="c-table1 c-table1--apart">
                    <dl>
                        <dd>事業の特性</dd>
                        <dt>
                            アパートやマンションを建築後、不特定多数の個人や法人に賃貸します。<br>
                            事業用に比べて入居者の入退去サイクルが比較的に短いため、管理面での手間が煩雑になる可能性があります。<br>
                            しかし管理会社や施工業者による一括借り上げによって、空室の心配や管理面での手間がなく、安定収入を得られる<br>
                            仕組みも見受けられます。<br>
                            また住宅の賃料は生活費の一部として可処分所得（手取り収入）のなかから負担されるため、賃料の上限額が制限さ<br>
                            れる傾向があり、一般的には店舗や事務所等の事業用物件に比べて収益性が劣ります。<br>
                            また、立地の良いアパートは事務所として利用（賃貸）することも可能です。
                        </dt>
                    </dl>
                    <dl class="c-table1--apart__bd">
                        <dd>計画上の留意点</dd>
                        <dt>
                            <span>立地条件</span>
                            <p>交通の便や日常生活の利便性、住環境の優れる立地が理想ではありますが、想定される入居者の家<br>
                                族構成等により立地条件の優先順位は異なります。実際の立地条件に見合った入居者層の想定と商<br>
                                品企画によって事業化の可能性は高く、立地上の制約は少なくなります。<br>
                                また、空室対策としては、賃料を低く設定したり、内装をリフォーム等で差別化を図ることにより、立地<br>
                                の不利をある程度カバーすることもできる可能性があります。</p>
                            <hr>
                            <span>市場動向</span>
                            <p>全体的には安定した需要がある市場といえますが、対象となる家族構成により異なります。<br>
                                住環境によって、ファミリータイプや単身者用等、ニーズや地域の特性に応じた商品企画が重要とな<br>
                                ります。
                            </p>
                        </dt>
                    </dl>
                    <dl class="c-table1--apart__bd">
                        <dd>メリット・デメリット</dd>
                        <dt>
                            <span>メリット</span>
                            <p> 1．健全な経営ができれば、毎月安定した家賃収入を長期に渡って得ることができます。<br>
                                2．賃貸住宅の場合、駐車場や遊休地などの非居住用地を所有している場合と比較して、固定資産税<br>
                                が1/6、都市計画税が1戸200平方メートルまで1/3に軽減されます。<br>
                                3．相続税評価上土地は「貸家建付地」、建物は「貸家」評価となり評価減が可能となります。<br>
                                また借金が残った場合も消極財産として債務控除が可能です。
                            </p>
                            <hr>
                            <span>市場動向</span>
                            <p>1．建物のメンテナンスや修繕など継続的にコストがかかる。<br>
                                2．空室対策や賃料の滞納リスク。<br>
                                3．騒音やごみ等近隣トラブルに注意する必要がある。
                            </p>
                        </dt>
                    </dl>
                </div>
            </section>
            <!--************************ Section apart1 end ************************-->

        </div>
        {{> contact}}

    </div>
    <!--************************ main page end ************************-->
  {{/content}}
{{/extend}}
