{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-company">
            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/company/index_company.png" alt="会社案内"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/company_profile">会社概要</a></li>
                <li><a href="/philosophy">経営理念</a></li>
                <li><a href="/message">代表挨拶</a></li>
                <li><a href="/staff">スタッフ紹介</a></li>
                <li><a href="/privacy_policy">個人情報の<br> 取扱いについて</a></li>
            </ul>

            <!--************************ Section company1 start ************************-->
            <section class="p-company1">
                <h3 class="c-title1">[ 会社概要 ]</h3>

                <div class="l-company1">
                    <div class="c-table1 c-table1--mod2">
                        <dl>
                            <dd>正式社名</dd>
                            <dt>株式会社あいち不動産コンサルタンツ</dt>
                        </dl>
                        <dl>
                            <dd>所在地</dd>
                            <dt>愛知県刈谷市末広町2丁目2-18</dt>
                        </dl>
                        <dl>
                            <dd>TEL</dd>
                            <dt>0566-23-1226</dt>
                        </dl>
                        <dl>
                            <dd>設立</dd>
                            <dt>愛知県知事(2)第22498号</dt>
                        </dl>
                        <dl>
                            <dd>免許番号</dd>
                            <dt>愛知県知事(2)第22498号</dt>
                        </dl>
                        <dl>
                            <dd>有資格者</dd>
                            <dt>
                                公認不動産ｺﾝｻﾙﾃｨﾝｸﾞﾏｽﾀｰ　2名 <br>
                                CFP®認定者　1名<br>
                                一級ﾌｧｲﾅﾝｼｬﾙﾌﾟﾗﾝﾆﾝｸﾞ技能士　1名<br>
                                二級ﾌｧｲﾅﾝｼｬﾙﾌﾟﾗﾝﾆﾝｸﾞ技能士　1名<br>
                                宅地建物取引士　4名<br>
                                安城簡易裁判所調停委員　1名
                                    
                            </dt>
                        </dl>
                        <dl>
                            <dd>所属団体</dd>
                            <dt>(公社)愛知県宅地建物取引業協会<br>
                                (公社)全国宅地建物取引業保証協会<br>
                                特定非営利活動法人（NPO法人）<br>
                                日本ファイナンシャル・プランナーズ協会</dt>
                        </dl>
                    </div>

                    <div class="c-table1 c-table1--mod2">
                        <dl>
                            <dd>代表者</dd>
                            <dt>加藤　克健</dt>
                        </dl>
                        <dl>
                            <dd>営業時間</dd>
                            <dt>9:00～19:00</dt>
                        </dl>
                        <dl>
                            <dd>Ｆ Ａ Ｘ</dd>
                            <dt>0566-23-1227</dt>
                        </dl>
                        <dl>
                            <dd>資本金</dd>
                            <dt>20,000千円</dt>
                        </dl>
                        <dl>
                            <dd>事業内容</dd>
                            <dt class="lh-text">
                                不動産の有効活用提案業務<br>
                                不動産に関わる相続設計と対策の提案業務<br>
                                不動産の購入・売却サポート業務<br>
                                空き家の活用・管理に関する業務<br>
                                不動産投資・経営に関する提案業務<br>
                                不動産に関わるﾌｧｲﾅﾝｼｬﾙﾌﾟﾗﾝﾆﾝｸﾞ業務<br>
                                不動産の売買及び賃貸の仲介業務<br>
                                その他不動産に関わる相談業務
                            </dt>
                        </dl>
                        <dl>
                            <dd>提携先</dd>
                            <dt>ミッドランド税理士法人<br>
                                GOLGO社労士事務所<br>
                                株式会社インスピーディア<br>
                                株式会社ライフリノベーション</dt>
                        </dl>
                    </div>

                </div>
            </section>
            <!--************************ Section company1 end ************************-->

            <!--************************ Section company2 start ************************-->
            <section class="p-company2">
                <div class="l-container">
                    <h3 class="c-title1">[ アクセス ]</h3>
                    <div class="c-text1">
                        <p>〒448-0802　愛知県刈谷市末広町2丁目2-18 <br>
                            TEL 0566-23-1226　/　FAX 0566-23-1227<br>
                            Mail info@aichi-rc.com
                        </p>
                        <p>
                            お車でお越しの方・・・国道23号線（知立バイパス）野田ICを降りて、安城・岡崎方面に直進約1km<br>
                            電車でお越しの方・・・東刈谷駅下車 徒歩4分
                        </p>
                    </div>
                </div>
            </section>
            <!--************************ Section company2 end ************************-->

            <!-- Google Map start -->
            <div id="map"></div>
            <!-- Google Map End -->
        </div>

        {{> contact}}
        
    <!--************************ main page end ************************-->
    </div>

    <!--************************ main page end ************************-->
    <script>
        var masp_style = [{"stylers":[{"saturation":-100}]}];
        function initMap() {
        var uluru = {lat: 34.974489, lng: 137.043338};
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 18,
        center: uluru,
        styles : masp_style,
        scrollwheel: false
        });
        var image = '/assets/img/index/map.png';
        var beachMarker = new google.maps.Marker({
            position: uluru,
            map: map,
            icon: image
        });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu2U4cbUApqr4sm0M8OhPUzBPlrdDgEKE&callback=initMap" type="text/javascript"></script>
    <!--************************ Map Api end ************************-->
  {{/content}}
{{/extend}}
