{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-consultation">
            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/consultation/index_business.png" alt="事業実績"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/for_business">事業用物件</a></li>
                <li><a href="/for_dwelling">住居用物件</a></li>
                <li><a href="/consultation">相談・コンサルティング</a></li>
            </ul>

            <!--************************ Section consultation1 start ************************-->
            <section class="p-consultation1">
                <h3 class="c-title1">[ 相談・コンサルティング ]</h3>
                <div class="c-text1">
                    <p>あいち不動産コンサルタンツでは、不動産の売却及び購入に関するさまざまなご相談をお受けいたします。<br>
                        実際にご相談いただいた事例をご紹介いたします。
                    </p>
                </div>

                <div class="c-table1 c-table1--conslt">
                    <dl>
                        <dd>ご相談者</dd>
                        <dt>Ｙ 様（個人のお客様）</dt>
                    </dl>
                    <dl>
                        <dd>所在地</dd>
                        <dt>岡崎市庄司田</dt>
                    </dl>
                    <dl>
                        <dd>ご相談内容</dd>
                        <dt>遊休地に、アパートメーカーより戸建借家の建築を提案されているが、将来の収支や事業計画に不安がある。<br>
                            計画内容について助言がほしい。
                        </dt>
                    </dl>
                    <dl>
                        <dd>結果</dd>
                        <dt>事業計画にご納得いただき、戸建借家を建築、賃貸中。</dt>
                    </dl>
                </div>
                <div class="c-table1 c-table1--conslt">
                    <dl>
                        <dd>ご相談者</dd>
                        <dt>Ａ様（個人のお客様）</dt>
                    </dl>
                    <dl>
                        <dd>所在地</dd>
                        <dt>安城市横山町</dt>
                    </dl>
                    <dl>
                        <dd>ご相談内容</dd>
                        <dt>敷地内に自宅、喫茶店店舗、空き工場があり、相続時にどうなるのか不安。</dt>
                    </dl>
                    <dl>
                        <dd>ご提案</dd>
                        <dt>相続発生時に現状のままだった場合と複数の活用方法で活用した場合、一部売却した場合の相続税の税額及び土地活用による <br>
                            効果、メリットデメリットをご提案。</dt>
                    </dl>
                    <dl>
                        <dd>結果</dd>
                        <dt>土地の一部を売却し、自宅敷地以外の部分を活用することを検討中。</dt>
                    </dl>
                </div>
                <div class="c-table1 c-table1--conslt">
                    <dl>
                        <dd>ご相談者</dd>
                        <dt>Ｍ様（個人のお客様）</dt>
                    </dl>
                    <dl>
                        <dd>所在地</dd>
                        <dt>刈谷市高須町</dt>
                    </dl>
                    <dl>
                        <dd>ご相談内容</dd>
                        <dt>自宅敷地内に遊休地があり、売却はしたくないが貸したい。アパート建築等の投資はしたくない。</dt>
                    </dl>
                    <dl>
                        <dd>ご提案</dd>
                        <dt>立地を鑑み、一般定期借地権での土地賃貸と資材置場及び駐車場での賃貸をご提案。 <br>
                            造成金額及び想定賃貸料収入相続時の評価額、メリットデメリットをご提示した。</dt>
                    </dl>
                    <dl>
                        <dd>結果</dd>
                        <dt>長期の賃貸借は望まないとのことで、資材置き場での活用を選択、賃貸中。</dt>
                    </dl>
                </div>
                <div class="c-table1 c-table1--conslt">
                    <dl>
                        <dd>ご相談者</dd>
                        <dt>Ｏ様（個人のお客様）</dt>
                    </dl>
                    <dl>
                        <dd>所在地</dd>
                        <dt>知立市谷田町</dt>
                    </dl>
                    <dl>
                        <dd>ご相談内容</dd>
                        <dt>新築マンション購入後、住宅ローンの借換えや繰り上げ返済について相談したい。</dt>
                    </dl>
                    <dl>
                        <dd>ご提案</dd>
                        <dt>現状の返済や家計収支を分析したうえで、向こう35年間のライフプラン表と家計のキャッシュフロー表を作成。 <br>
                            住宅ローンについては、借換えした場合の諸経費を含めた効果をシュミレーション表を作成。</dt>
                    </dl>
                    <dl>
                        <dd>結果</dd>
                        <dt>借換えをしても、事務手数料、保証料、抵当権費用等の諸経費を鑑みると効果が薄いことがわかり、現状維持。</dt>
                    </dl>
                </div>
                <div class="c-table1 c-table1--conslt">
                    <dl>
                        <dd>ご相談者</dd>
                        <dt>Ｋ様（個人のお客様）</dt>
                    </dl>
                    <dl>
                        <dd>所在地</dd>
                        <dt>－</dt>
                    </dl>
                    <dl>
                        <dd>ご相談内容</dd>
                        <dt>住宅ローンの借り換えを検討中、相談がしたい。</dt>
                    </dl>
                    <dl>
                        <dd>ご提案</dd>
                        <dt>現在の金融機関の金利見直しと、他の複数の金融機関でかり借換えた場合のシュミレーションをご提案、その中から2行の金融 <br>
                            機関をピックアップし、具体的な借入れ条件を提案していただき、比較検討。</dt>
                    </dl>
                    <dl>
                        <dd>結果</dd>
                        <dt>借換え諸経費を差し引いても、総額で約200万以上の返済圧縮につながった。</dt>
                    </dl>
                </div>
                <div class="c-table1 c-table1--conslt">
                    <dl>
                        <dd>ご相談者</dd>
                        <dt>K様（個人のお客様）</dt>
                    </dl>
                    <dl>
                        <dd>所在地</dd>
                        <dt>安城市</dt>
                    </dl>
                    <dl>
                        <dd>ご相談内容</dd>
                        <dt>資産がほぼ不動産であり、相続時に多額の納税が予想される。<br>どうなるのか不安であり、対策があれば行いたい。</dt>
                    </dl>
                    <dl>
                        <dd>ご提案</dd>
                        <dt>投資には消極的であるため収益物件の建築や購入等は行わない。 <br>
                            よって現在のまま相続を迎えた場合、納税は避けられない。生前贈与及び養子縁組による相続財産の圧縮及び、相続発生時の <br>
                            不動産の売却による納税対策をご提案。各不動産ごとに優先順位を付け、転用が容易な土地賃貸借等をご提案。
                        </dt>
                    </dl>
                    <dl>
                        <dd>結果</dd>
                        <dt>ご提案のとおり</dt>
                    </dl>
                </div>

            </section>
            <!--************************ Section consultation1 end ************************-->

        </div>

        {{> contact}}
        
    <!--************************ main page end ************************-->
    </div>
  {{/content}}
{{/extend}}
