{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-fee">
             <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/fee/fee.png" alt="料金報酬体形"></div>
            </div>
            <!--************************ MainBlock end ************************-->

            <!--************************ Section fee1 start ************************-->
            <section class="p-fee1">

                <div class="c-fee-info">
                    <h4>初回面談によるご相談 <span>無 料</span></h4>
                    <div class="c-text1">
                        <p>ご相談のみの場合は初回120分のみ無料とさせていただきます。<br>
                        継続的なアドバイスをご希望の場合は別途お見積りとなります。<br>
                        また業務に着手する場合も、お見積り後の契約までは報酬は一切発生致しません。</p>
                    </div>
                </div>
                <h3 class="c-title1">[ 不動産コンサルティング報酬 ]</h3>
                <div class="c-fee-info">
                    <h4>土地活用診断 <span>別途お見積り</span></h4>
                    <div class="c-text1">
                        <p>土地有効活用のご提示後、活用の形態により別途お見積りさせていただきます。</p>
                        <ul>
                            <li>活用別事業計画書の作成</li>
                            <li>不動産活用による節税効果のご提示</li>
                        </ul>
                    </div>
                </div>
                <div class="c-fee-info">
                    <h4>不動産投資助言 <span>別途お見積り</span></h4>
                    <div class="c-text1">
                        <ul>
                            <li>アパート経営改善計画支援</li>
                            <li>保有不動産全体の収益力分析（ＲＯＡ診断）</li>
                            <li>アパート建築の第三者目線によるアドバイス</li>
                            <li>投資用物件の情報収集と選定</li>
                            <li>その他投資コンサルティング</li>
                        </ul>
                    </div>
                </div>
                <div class="c-fee-info">
                    <h4>不動産相続相談 <span>別途お見積り</span></h4>
                    <div class="c-text1">
                        <ul>
                            <li>相続税額／二次相続シュミレーション</li>
                            <li>贈与による効果と贈与税</li>
                            <li>税制の特例を利用した贈与のご提案</li>
                            <li>不動産の活用による相続税評価引き下げのご提案</li>
                            <li>物納対策</li>
                        </ul>
                    </div>
                </div>
                <div class="c-fee-info">
                    <h4>その他不動産コンサルティング <span>別途お見積り</span></h4>
                    <div class="c-text1">
                        <ul>
                            <li>貸宅地（借地権）の整理</li>
                            <li>生前贈与サポート</li>
                            <li>離婚に伴う不動産名義変更</li>
                            <li>固定資産の交換</li>
                            <li>測量・登記サポート</li>
                        </ul>
                    </div>
                </div>
                <div class="l-p-fee1">
                    <div class="c-text1">
                        <p>不動産コンサルティング報酬は不動産価格が特定されない業務も含まれるため、<br>
                            宅地取引業法に基づく媒介報酬のように対象不動産の価格に一定の料率を乗じて算定する方法は取れません。<br>
                            報酬の算定方法としてはコストアプローチ法(※)を採用しています。<br>
                            ※コストアプローチ法：業務内容を作業項目に分類し、それぞれの質・量に応じた費用を積み重ねたものに技術料を付加する方式</p>
                    </div>
                    <div class="c-text1 c-text1--mg">
                        <p>案件の内容によりまして、別途  不動産コンサルティング中央協議会の報酬 に準じて、<br>
                            お見積提示後ご納得頂いてから業務を行います。</p>
                    </div>
                </div>
            </section>
            <!--************************ Section fee1 end ************************-->

            <!--************************ Section fee2 start ************************-->
            <section class="p-fee2">
                <div class="l-container">
                    <h3 class="c-title1">[ 相続手続きサポート ]</h3>
                    <div class="c-text1 c-text1--fee2">
                        <p>外部専門家に委託し、相続にあたっての各種手続きにも幅広く対応しております。<br>
                            お客様のご事情やニーズに合わせて、各種代行手続きをスムーズに行います。<br>
                            また、提携の司法書士や税理士、行政書士などの専門家がていねいにサポートいたします。</p>
                    </div>
                    <div class="c-fee-info">
                        <h4 class="c-fee-info__title">生前の準備における手続き</h4>
                        <h4>公正証書遺言作成サポート <span>148,000円</span></h4>
                        <div class="c-text1">
                            <p class="c-fee-info__name">ご意見にもとづいた作成案の提示とアドバイス、立会者の手配、公証役場との打ち合わせ等を行います。 <span>公証役場への手数料は別途 / 税別</span></p>
                            <p>
                                ※不動産が多い場合や相続人が多い場合は別途費用が発生します。<br>
                                ※遺言執行時には別途費用がかかります。</p>
                        </div>
                    </div>
                    <div class="c-fee-info">
                        <h4>任意後見契約 <span>200,000円〜</span></h4>
                        <div class="c-text1">
                            <p class="c-fee-info__name"><span></span><span>お見積り</span></p>
                        </div>
                    </div>
                    <div class="c-fee-info">
                        <h4 class="c-fee-info__title">相続発生後における手続き</h4>
                        <h4>遺産分割協議書の作成サービス<span>1件 20,000円</span></h4>
                        <div class="c-text1">
                            <p class="c-fee-info__name">遺産分割協議の内容をまとめる。<span>実費別 / 税別</span></p>
                        </div>
                        <div class="c-text1 c-text1--mg">
                            <p>[目安となる期間] <br>遺産分割協議書の作成サービス...標準1ヶ月<br>※遺産分割における相続人の調整などは弁護士業務のため、別途ご相談となります。</p>
                        </div>
                    </div>
                    <div class="c-fee-info">
                        <h4>戸籍収集・相続関係図作成サービス<span>3行政区まで 29,800円</span></h4>
                        <div class="c-text1">
                            <p class="c-fee-info__name">預貯金の解約・名義変更や不動産の名義書き換えに必要となる戸籍謄本を収集し、相続関係図を作成いたします。<span>実費別 / 税別</span></p>
                            <p class="c-fee-info__name">また、外国籍の方の戸籍収集にも対応いたします。<span>※1</span></p>
                            <p>※1： 3行政区とは、戸籍謄本を取得する先の市区町村(役所)の数です。</p>
                        </div>
                        <div class="c-text1 c-text1--mg">
                            <p>
                                [目安となる期間]<br>
                                相続関係図作成サービス...標準1ヶ月半〜<br>
                                ※目安となる期間です。相続人様の人数や法定書類の収集の状況に応じて変動いたします。<br>
                                ※1： 行政区毎に8,000円(実費込/税別)となります。
                            </p>
                        </div>
                    </div>
                    <div class="c-fee-info">
                        <h4>不動産の名義書き換えサポート<span>1申請 50,000円</span></h4>
                        <div class="c-text1">
                            <p class="c-fee-info__name">被相続人名義の不動産を、相続人様の名義に書き換えます。<span>実費別 / 税別</span></p>
                            <p class="c-fee-info__name">※2： 1申請とは、一体の土地・建物を取得する先の市区町村(役所)の数です。<span>※2</span></p>
                        </div>
                        <div class="c-text1 c-text1--mg">
                            <p>
                                [目安となる期間]<br>
                                不動産の名義書き換えサポート...標準1ヶ月〜<br>
                                ※目安となる期間です。相続人様の人数や法定書類の収集の状況に応じて変動いたします。
                            </p>
                        </div>
                    </div>
                    <div class="c-fee-info">
                        <h4>預貯金の解約・名義変更サービス<span>1銀行 50,000円〜</span></h4>
                        <div class="c-text1">
                            <p class="c-fee-info__name">被相続人名義の銀行口座を解約し、相続人様の口座に入金いたします。<span>実費別 / 税別</span></p>
                        </div>
                        <div class="c-text1 c-text1--mg">
                            <p>
                                [目安となる期間]<br>
                                預貯金の解約・名義変更サービス...標準1金融機関1ヶ月<br>
                                ※目安となる期間です。相続人様の人数や法定書類の収集の状況に応じて変動いたします。
                            </p>
                        </div>
                    </div>
                    <div class="c-fee-info">
                        <h4>相続放棄の手続きサポート<span>45,000円</span></h4>
                        <div class="c-text1">
                            <p class="c-fee-info__name">相続放棄の手続きについてアドバイスし、家庭裁判所への申請をサポートいたします。<span>実費別 / 税別</span></p>
                            <p class="c-fee-info__name">※3： 相続開始を知ってから3カ月経過後65,000円実費別 / 税別<span>※3</span></p>
                        </div>
                        <div class="c-text1 c-text1--mg">
                            <p>
                                [目安となる期間]<br>
                                相続放棄の手続きサービス...標準1ヶ月半〜<br>
                                ※ご状況によって期間が前後することがございます。
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!--************************ Section fee2 end ************************-->

            <!--************************ Section fee3 start ************************-->
            <section class="p-fee3">
                <h3 class="c-title1">[ 不動産売却・購入サポート ]</h3>
                <div class="c-text1">
                    <p>当社エージェントによる、売却・購入のご相談やサポート、ご提案後、<br>
                        購入・売却の媒介（仲介）をさせていただく場合、国土交通省告示の報酬規定に基づく仲介手数料を受領いたします。<br>
                        この場合、仲介手数料以外のそれまでにかかったサービス費用は一切いただいておりません。<br>
                        売却・購入に至らなかった場合も、ご相談や物件のご提供のみであれば報酬は発生いたしませんのでご安心ください。</p>
                </div>
                <div class="c-table1 c-table1--fee">
                    <h4 class="c-fee3-table">速算式</h4>
                    <dl class="fee-first">
                        <dd>取引額</dd>
                        <dt>仲介手数料</dt>
                    </dl>
                    <dl>
                        <dd>400万円以下の場合</dd>
                        <dt>18万円＋消費税</dt>
                    </dl>
                    <dl>
                        <dd>400万円を超える場合</dd>
                        <dt>取引額×3.24%+64,800円(税抜：取引額×3%+60,000円)</dt>
                    </dl>
                </div>
                <div class="c-text1">
                    <p>※上記はあくまで仲介手数料の上限であり、個別の事情を鑑みご相談させていただきます。</p>
                </div>
            </section>
            <!--************************ Section fee3 end ************************-->

            <!--************************ Section fee3 start ************************-->
            <section class="p-fee4">
                <h3 class="c-title1">[ その他報酬 ]</h3>
                <div class="c-fee-info">
                    <h4>セミナー、講演依頼 <span>50,000円</span></h4>
                    <div class="c-text1">
                      <ul>
                          <li class="c-fee-info__name">不動産コンサルティング関連セミナー <span>2時間あたり</span></li>
                          <li>相続関連セミナー</li>
                          <li>住宅購入・売却セミナー、住宅ローンセミナーほか</li>
                      </ul>
                    </div>
                </div>
                <div class="c-fee-info">
                    <h4>イベント等へのＦＰを派遣<span>100,000円 / 日</span></h4>
                    <div class="c-text1">
                        <p class="c-fee-info__name">ハウスメーカー、工務店による住宅イベントでの住宅ローン個別相談など終日お手伝いする場合<span>1日あたり8時間まで</span></p>
                    </div>
                </div>
                <div class="c-fee-info">
                    <h4>取材協力<span>別途お見積り</span></h4>
                    <div class="c-text1">
                        <p>テレビ、ラジオ、雑誌等の取材協力も承っております。</p>
                    </div>
                </div>
                <div class="c-fee-info">
                    <div class="c-text1">
                        <p>[注意事項]<br>
                            1．表示金額に消費税は含まれておりません。別途申し受けます。<br>
                            2．出張による交通費等は実費申し受ける場合があります。<br>
                            3．弁護士や税理士、司法書士等各種専門家へ依頼した場合は実費負担となります。<br>
                            4．その他別途費用が発生する場合があります。予めご了承ください。<br>
                            5．上記サービスの一部はクーリングオフの対象とならない場合があります。<br>
                            6．相続その他事由に起因して紛争性のある事件に関する相談などは受任いたしかねます。<br>
                            7．以下の場合には依頼をお断りする場合があります。<br>
                            ご相談やお申し込みの内容に虚偽があった場合<br>
                            依頼者または関係人、相続人等に反社会的勢力に関係するものがいたとき<br>
                            当社の業務の遂行上著しい支障があると判断されたとき</p>
                    </div>
                </div>
            </section>
        </div>
        {{> contact}}

    </div>
    <!--************************ main page end ************************-->
  {{/content}}
{{/extend}}
