{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-business">
            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/common/index_business.png" alt="事業実績"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/for_business">事業用物件</a></li>
                <li><a href="/for_dwelling">住居用物件</a></li>
                <li><a href="/consultation">相談・コンサルティング</a></li>
            </ul>

            <!--************************ Section business1 start ************************-->
            <section class="p-business1">
                <h3 class="c-title1">[ 事業用物件 ]</h3>
                <ul class="c-list1">
                    <li>
                        <img src="/assets/img/for_business/img01.jpg" alt="">
                        <p>㈱ビジョンメガネ 様<br>所在地:刈谷市東刈谷町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img02.jpg" alt="">
                        <p>㈲晋和興業 様<br>所在地:刈谷市富士見町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img03.jpg" alt="">
                        <p>㈱WORKOUT JAPAN 様<br>所在地:安城市住吉町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img04.jpg" alt="">
                        <p>マルコ㈱ 様<br>所在地:岐阜市早田大通<br>事業種別:建物賃貸借<br></p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img05.jpg" alt="">
                        <p>㈱AESJ 様<br>所在地:知立市山屋敷町 <br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img06.jpg" alt="">
                        <p>N（個人） 様	<br>所在地:高浜市豊田町 <br>事業種別:収益物件売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img07.jpg" alt="">
                        <p>トヨタ部品愛知共販㈱様<br>所在地:刈谷市場割町 <br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img08.jpg" alt="">
                        <p>S（法人） 様<br>所在地:刈谷市富士見町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img09.jpg" alt="">
                        <p>(資)ZERO 様	<br>所在地:豊明市沓掛町 <br>種別:借地権付建物売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img10.jpg" alt="">
                        <p>㈱MDI様<br>所在地:知立市内幸町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img11.jpg" alt="">
                        <p>N（個人） 様<br>所在地:高浜市豊田町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img12.png" alt="">
                        <p>マルコ㈱ 様<br>所在地:四日市市安島<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img13.jpg" alt="">
                        <p>K（個人） 様	<br>所在地:緑区左京山 <br>事業種別:収益物件売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img14.jpg" alt="">
                        <p>ｻﾝﾖｰﾊｳｼﾞﾝｸﾞ名古屋 様	<br>所在地:豊田市大林町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img15.jpg" alt="">
                        <p>㈱TONIX様<br>所在地:安城市池浦町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img16.jpg" alt="">
                        <p>株式会社イトウ様<br>所在地:刈谷市中山町 <br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img17.jpg" alt="">
                        <p>榊原（個人） 様	<br>所在地:刈谷市野田町<br>種別:借地権付建物売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img18.jpg" alt="">
                        <p>マルコ株式会社様	<br>所在地:三重県松阪市 <br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img19.jpg" alt="">
                        <p>S（個人） 様	<br>所在地:東浦町緒川 <br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img20.jpg" alt="">
                        <p>㈱明都測量設計事務所様<br>所在地:安城市池浦町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img21.jpg" alt="">
                        <p>雅祇株式会社様<br>所在地:豊田市大見町 <br>事業種別:土地建物売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img22.jpg" alt="">
                        <p>H（個人） 様	<br>所在地:刈谷市今川町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img23.jpg" alt="">
                        <p>㈱ｶｼﾞ・ｺｰﾎﾟﾚｰｼｮﾝ様<br>所在地:知立市新林町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img24.jpg" alt="">
                        <p>ｺｰﾝｽﾞﾃｸﾉﾛｼﾞｰ㈱様	<br>所在地:知立市上重原町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img25.jpg" alt="">
                        <p>E（個人）様	<br>所在地:刈谷市小垣江町 <br>事業種別:月極駐車場</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img26.jpg" alt="">
                        <p>こころペイント様	<br>所在地:西尾市下町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img27.jpg" alt="">
                        <p>W（個人） 様	<br>所在地:安城市箕輪町<br>事業種別:土地賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img28.png" alt="">
                        <p>マルコ㈱ 様	<br>所在地:大府市追分町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img29.jpg" alt="">
                        <p>にほんのうみ 様	<br>所在地:刈谷市南桜町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img30.jpg" alt="">
                        <p>泉合資会社 様<br>所在地:刈谷市南桜町 <br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img31.jpg" alt="">
                        <p>アクシアプレイス 様<br>所在地:安城市南町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img32.jpg" alt="">
                        <p>晋和興業 様<br>所在地:刈谷市富士見町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img33.jpg" alt="">
                        <p>O（個人） 様	<br>所在地:名古屋市南区 <br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img34.jpg" alt="">
                        <p>S（法人） 様	<br>所在地:安城市高棚町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img35.jpg" alt="">
                        <p>M（個人） 様	<br>所在地:名古屋市西区<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img36.jpg" alt="">
                        <p>MAHANA 様<br>所在地:刈谷市富士見町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img37.jpg" alt="">
                        <p>㈲碧海開発 様<br>所在地:岡崎市戸崎町 <br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img38.jpg" alt="">
                        <p>NPO法人ひかり学園 様<br>所在地:豊明市新田町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img39.jpg" alt="">
                        <p>㈱エリアパートナー 様<br>所在地:刈谷市松栄町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img40.jpg" alt="">
                        <p>㈱紫香 様<br>所在地:安城市南町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img41.jpg" alt="">
                        <p>M（個人）様<br>所在地:安城市住吉町<br>事業種別:土地建物売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img42.jpg" alt="">
                        <p>㈱Y’s8 様<br>所在地:知立市山屋敷町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img43.jpg" alt="">
                        <p>メビウス 様	<br>所在地:安城市箕輪町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img44.jpg" alt="">
                        <p>H（個人）　様<br>所在地:豊明市新田町<br>事業種別:建物売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img45.jpg" alt="">
                        <p>川﨑建築 様<br>所在地:安城市緑町 <br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img46.jpg" alt="">
                        <p>㈱キトー 様<br>所在地:安城市新田町<br>事業種別:土地賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img47.jpg" alt="">
                        <p>HC（法人） 様<br>所在地:刈谷市松坂町 <br>事業種別:収益物件売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img48.jpg" alt="">
                        <p>福現（法人） 様	<br>所在地:豊田市元城町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img49.png" alt="">
                        <p>しまむら 様<br>所在地:安城市横山町 <br>事業種別:土地賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img50.png" alt="">
                        <p>ジャパンレンタカー様<br>所在地:安城市横山町 <br>事業種別:土地賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img51.jpg" alt="">
                        <p>BE（法人） 様<br>所在地:刈谷市野田町<br>事業種別:土地賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img52.jpg" alt="">
                        <p>N（個人・法人） 様<br>所在地:知多郡南知多町<br>事業種別:土地建物売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img53.jpg" alt="">
                        <p>M（個人） 様	<br>所在地：豊明市沓掛町 <br>事業種別:土地賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img54.jpg" alt="">
                        <p>N（個人） 様	<br>所在地：刈谷市野田町 <br>事業種別:土地賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img55.jpg" alt="">
                        <p>毎日産業 様<br>所在地:安城市二本木新町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img56.jpg" alt="">
                        <p>S（個人） 様	<br>所在地:岡崎市上和田町<br>事業種別:収益物件売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img57.jpg" alt="">
                        <p>三宝住産 様<br>所在地：名古屋市南区<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img58.jpg" alt="">
                        <p>魚酒家　呑（DON） 様<br>所在地：豊明市西川町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img59.jpg" alt="">
                        <p>GARAGE23 様<br>所在地：知立市上重原町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img60.png" alt="">
                        <p>NEIGHBORHOOD 様<br>所在地：知立市上重原町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img61.jpg" alt="">
                        <p>イセ工業株式会社様<br>所在地：刈谷市小垣江町 <br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img62.jpg" alt="">
                        <p>三菱電機住環境ｼｽﾃﾑｽﾞ様<br>所在地:岡崎市上和田町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img63.jpg" alt="">
                        <p>美容室RUMI 様<br>所在地：刈谷市富士見町<br>種別:事業用定期借地権</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img64.jpg" alt="">
                        <p>ヘアビューティーHeal 様<br>所在地：西尾市矢曽根町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img65.jpg" alt="">
                        <p>㈱キトー 様<br>所在地：安城市和泉町<br>事業種別:土地建物売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img66.png" alt="">
                        <p>愛昇殿 様<br>所在地：刈谷市熊野町<br>種別:事業用定期借地権</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img67.jpg" alt="">
                        <p>㈱クサカ　様<br>所在地：刈谷市野田町<br>事業種別:土地賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img68.jpg" alt="">
                        <p>泉合資会社 様<br>所在地：刈谷市富士見町<br>種別:事業用定期借地権</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img69.jpg" alt="">
                        <p>O（個人） 様<br>所在地：安城市高木町<br>事業種別:土地賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img70.jpg" alt="">
                        <p>メルシーヘアー 様<br>所在地:刈谷市半城土北町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img71.jpg" alt="">
                        <p>K調剤薬局 様<br>所在地：刈谷市松栄町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img72.jpg" alt="">
                        <p>マルコ㈱ 様<br>所在地：名古屋市緑区<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img73.png" alt="">
                        <p>なりたクリニック様<br>所在地：刈谷市松栄町 <br>種別:事業用定期借地権</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img74.jpg" alt="">
                        <p>コインランドリー様<br>所在地：刈谷市新富町 <br>事業種別：建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_business/img75.jpg" alt="">
                        <p>アペオ技研様	<br>所在地：刈谷市半城土町<br>事業種別：建物賃貸借</p>
                    </li>
                </ul>
            </section>
            <!--************************ Section business1 end ************************-->
        </div>

        {{> contact}}
        
    <!--************************ main page end ************************-->
    </div>
  {{/content}}
{{/extend}}
