{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-dwelling">
            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/common/index_business.png" alt="事業実績"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/for_business">事業用物件</a></li>
                <li><a href="/for_dwelling">住居用物件</a></li>
                <li><a href="/consultation">相談・コンサルティング</a></li>
            </ul>

            <!--************************ Section dwelling1 start ************************-->
            <section class="p-dwelling1">
                <h3 class="c-title1">[ 事業用物件 ]</h3>
                <ul class="c-list1">
                    <li>
                        <img src="/assets/img/for_dwelling/img01.jpg" alt="">
                        <p>N（個人） 様<br>所在地:高浜市豊田町<br>事業種別:収益物件売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img02.jpg" alt="">
                        <p>㈱MDI様<br>所在地:知立市内幸町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img03.jpg" alt="">
                        <p>U（個人） 様	<br>所在地:港区入場 <br>事業種別:MS売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img04.jpg" alt="">
                        <p>N（個人） 様<br>所在地:高浜市豊田町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img05.jpg" alt="">
                        <p>K（個人） 様<br>所在地:緑区左京山<br>事業種別:収益物件売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img06.jpg" alt="">
                        <p>N（個人） 様	<br>所在地:港区木場町 <br>事業種別:MS売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img07.jpg" alt="">
                        <p>N（個人） 様	<br>所在地:知立市内幸町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img08.jpg" alt="">
                        <p>ｻﾝﾖｰﾊｳｼﾞﾝｸﾞ名古屋 様<br>所在地:豊田市大林町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img09.jpg" alt="">
                        <p>榊原（個人） 様<br>所在地:刈谷市野田町 <br>種別:借地権付建物売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img10.jpg" alt="">
                        <p>S（個人） 様<br>所在地:東浦町緒川 <br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img11.jpg" alt="">
                        <p>K（個人） 様<br>所在地:高浜市碧海町 <br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img12.jpg" alt="">
                        <p>田中（個人） 様	<br>所在地:緑区桶狭間<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img13.jpg" alt="">
                        <p>S（個人） 様	<br>所在地:刈谷市東刈谷町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img14.jpg" alt="">
                        <p>A（個人） 様<br>所在地:豊田市五ケ丘 <br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img15.jpg" alt="">
                        <p>F（個人） 様<br>所在地:刈谷市末広町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img16.jpg" alt="">
                        <p>㈱三栄建築設計様<br>所在地:安城市二本木新町<br>事業種別:新築戸建売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img17.jpg" alt="">
                        <p>I（個人） 様<br>所在地:刈谷市沖野町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img18.jpg" alt="">
                        <p>㈱NASH様<br>所在地:安城市二本木新町<br>事業種別:建物管理</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img19.jpg" alt="">
                        <p>浅野（個人） 様<br>所在地:知多市八幡鍋山 <br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img20.jpg" alt="">
                        <p>K（個人） 様<br>所在地:蒲郡市鹿島町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img21.jpg" alt="">
                        <p>S（個人） 様<br>所在地:刈谷市野田町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img22.jpg" alt="">
                        <p>H（個人） 様	<br>所在地:安城市二本木町<br>事業種別:土地建物売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img23.png" alt="">
                        <p>㈱ウッドフレンズ 様<br>所在地:刈谷市高須町<br>事業種別:戸建売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img24.jpg" alt="">
                        <p>㈲碧海開発 様<br>所在地:岡崎市戸崎町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img25.jpg" alt="">
                        <p>N（個人） 様<br>所在地:安城市南町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img26.jpg" alt="">
                        <p>S（個人） 様	<br>所在地:名古屋市昭和区<br>事業種別:一戸建て売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img27.jpg" alt="">
                        <p>(有)碧海開発 様<br>所在地:安城市三河安城町<br>事業種別:建物賃貸借</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img28.jpg" alt="">
                        <p>O（個人）様	<br>所在地:豊明市二村台 <br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img29.jpg" alt="">
                        <p>H（個人）様<br>所在地:知立市谷田町<br>事業種別:一戸建売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img30.jpg" alt="">
                        <p>A（個人）様<br>所在地:刈谷市松栄町<br>事業種別:新築戸建売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img31.jpg" alt="">
                        <p>N（個人・法人） 様<br>所在地:知多郡南知多町 <br>事業種別:土地建物売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img32.jpg" alt="">
                        <p>㈱ウッドフレンズ 様<br>事業種別:土地売買<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img33.jpg" alt="">
                        <p>O（個人） 様<br>所在地:安城市赤松町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img34.jpg" alt="">
                        <p>F（個人） 様<br>所在地:刈谷市野田町<br>事業種別:マンション売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img35.jpg" alt="">
                        <p>S（個人） 様	<br>所在地:安城市宇藤茶屋町 <br>事業種別:マンション売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img36.jpg" alt="">
                        <p>K（個人） 様	<br>所在地:刈谷市松栄町 <br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img37.jpg" alt="">
                        <p>S（個人） 様	<br>所在地:岡崎市上和田町<br>事業種別:収益物件売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img38.jpg" alt="">
                        <p>T（個人） 様	<br>所在地:刈谷市野田町<br>事業種別:マンション売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img39.jpg" alt="">
                        <p>K（個人） 様	<br>所在地:豊田市水源町 <br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img40.jpg" alt="">
                        <p>H（個人） 様	<br>所在地:岡崎市上六名<br>事業種別:マンション売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img41.jpg" alt="">
                        <p>A（個人） 様<br>所在地:豊田市水源町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img42.jpg" alt="">
                        <p>ウッドフレンズ 様<br>所在地:刈谷市野田町 <br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img43.jpg" alt="">
                        <p>三栄建築設計 様<br>所在地:刈谷市松栄町 <br>事業種別:新築一戸建分譲</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img44.jpg" alt="">
                        <p>O（個人） 様<br>所在地:安城市横山町 <br>事業種別:マンション売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img45.jpg" alt="">
                        <p>A（個人） 様<br>所在地：知多郡美浜町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img46.jpg" alt="">
                        <p>K（個人） 様<br>所在地：西尾市巨海町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img47.jpg" alt="">
                        <p>S（個人） 様<br>所在地：刈谷市板倉町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img48.jpg" alt="">
                        <p>O（個人） 様<br>所在地：岡崎市元能見町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img49.jpg" alt="">
                        <p>S（個人） 様<br>所在地：安城市大東町<br>事業種別:土地売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img50.jpg" alt="">
                        <p>I（個人） 様	<br>所在地：碧南市錦町 <br>事業種別：土地建物売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img51.jpg" alt="">
                        <p>T（個人） 様	<br>所在地：東浦町生路 <br>事業種別:土地建物売買</p>
                    </li>
                    <li>
                        <img src="/assets/img/for_dwelling/img52.jpg" alt="">
                        <p>K（個人） 様	<br>所在地：名古屋市緑区<br>事業種別:建物賃貸借</p>
                    </li>
                </ul>
            </section>
            <!--************************ Section dwelling1 end ************************-->
        </div>

        {{> contact}}
        
    <!--************************ main page end ************************-->
    </div>
  {{/content}}
{{/extend}}
