{{#extend "default"}}
  {{#content "main"}}
  <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-index">
        <div id="movArea">
            <video playsinline autoplay muted loop id="bgmov" poster="/assets/img/index/poster.png">
                <source src="/assets/img/index/top_mov.mp4" type="video/mp4">
                <source src="/assets/img/index/top_mov.webm" type="video/webm">
            </video>
            <div class="movArea-title"><img src="/assets/img/index/category.png" alt="We Aer Aichi Real Estate Consultants"></div>
        </div>
        </div>

        <!--************************ section index1 start ************************-->
        <section class="p-index1" id="services">
            <h2 class="p-index1__title l-upToo"><img src="/assets/img/index/toppage_index1.png" alt="私たちのサービス"></h2>
            <div class="l-container">
                <div class="p-index1-slide">
                    <ul id="sliderIndex">
                        <li><a href="/effective_use.html"><img src="/assets/img/index/slide1.png" alt="個人向け資産コンサルティング"><p>個人向け資産コンサルティング</p></a></li>
                        <li><a href="/inquiry_counter"><img src="/assets/img/index/slide2.png" alt="不動産相続の相談窓口"><p>不動産相続の相談窓口</p></a></li>
                        <li><a href="/purchase_and_sell.html"><img src="/assets/img/index/slide3.png" alt="不動産の購入・売却サポート"><p>不動産の購入・売却サポート</p></a></li>
                        <li><a href="/vacant_house.html"><img src="/assets/img/index/slide4.png" alt="空き家活用と管理"><p>空き家活用と管理</p></a></li>
                        <li><a href="/other_consultation.html"><img src="/assets/img/index/slide5.png" alt="その他不動産についてのご相談"><p>その他不動産についてのご相談</p></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--************************ section index1 end ************************-->

        <!--************************ section index2 start ************************-->
        <section class="p-index2">
            <div class="l-container">
                <div class="c-info">
                    <h3 class="c-info__title l-upToo"><img src="/assets/img/index/toppage_index2.png" alt="お知らせ"></h3>
                    <div class="c-info__text">
                        <a href="">
                            <span>2018/05/01</span>
                            <p>ゴールデンウィーク休業のおしらせ</p>
                        </a>
                        <a href="">
                            <span>2018/05/01</span>
                            <p>ゴールデンウィーク休業のおしらせ</p>
                        </a>
                        <a href="">
                            <span>2018/05/01</span>
                            <p>ゴールデンウィーク休業のおしらせ</p>
                        </a>
                        <a href="">
                            <span>2018/05/01</span>
                            <p>ゴールデンウィーク休業のおしらせ</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--************************ section index2 end ************************-->

        <div class="c-gallery">
            <ul>
                <li><a href="/our_company.html"><img src="/assets/img/index/our_company.png" alt="会社概要"></a></li>
                <li><a href="/bussiness_result.html"><img src="/assets/img/index/bussiness_result.png" alt="事業実績"></a></li>
                <li><a href="/about_fee.html"><img src="/assets/img/index/fee.png" alt="料金報酬体系"></a></li>
                <li><a href="http://aichi-rc.com/category/interest-rate/"><img src="/assets/img/index/rate.png" alt="金利情報"></a></li>
            </ul>
        </div>

        <!--************************ section index3 start ************************-->
        <section class="p-index3">
            <h2 class="p-index3__title l-upToo"><img src="/assets/img/index/toppage_index3.png" alt=""></h2>
            <div class="l-container">
                <ul class="p-index3-navi1">
                <li>
                    <img src="/assets/img/index/promise1.png" alt="おやくそくその1">
                    <p>お客様にとって、有利な情報のみをお伝えするのではなく、たとえ不利な情報でもお伝えし、お客様の自己決定の為のサポートをいたします。また、特定の企業を斡旋したり、偏ったご提案をいたしません。 </p>
                </li>
                <li>
                    <img src="/assets/img/index/promise2.png" alt="おやくそくその2">
                    <p>「そもそも何を聞いていいのかわからない」「わからないことがわからない」を解決します。初めての方にも難しい専門用語ではなく、わかりやすい言葉でお客様にご納得いただけるまで、丁寧にご説明いたします。  </p>
                </li>
                <li>
                    <img src="/assets/img/index/promise3.png" alt="おやくそくその3">
                    <p>不動産のお取引は手段であり、目的ではありません。お取引がゴールではなく、お客様それぞれの、その先の豊かなくらしを実現するためのご提案をいたします。 </p>
                </li>
                </ul>
            </div>
        </section>
        <!--************************ section index3 end ************************-->

        <!--************************ section index4 start ************************-->
        <section class="p-index4">
            <h2 class="p-index4__title l-upToo"><img src="/assets/img/index/toppage_index4.png" alt="特設サイト"></h2>
            <div class="l-container">
                <ul class="p-index3-navi1 p-index3-navi1--index4" id="slideSite">
                <li>
                    <a href="">
                        <img src="/assets/img/index/special1.png" alt="">
                        <p>ご来店予約でもれなく<br>
                            QUOｶｰﾄﾞ1,000円分ﾌﾟﾚｾﾞﾝﾄ! </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/assets/img/index/special2.png" alt="">
                        <p>新築分譲住宅全6棟 <br>
                            安城市二本木新町1丁目  </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/assets/img/index/special3.png" alt="">
                        <p>【当社キッズコーナー】 <br>
                            安心してご相談ください </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/assets/img/index/special4.png" alt="">
                        <p>PitchFM Around40女子部 <br>
                            お金にまつわる話～不動産編～</p>
                    </a>
                </li>
                </ul>
            </div>
        </section>
        <!--************************ section index4 end ************************-->

        <!-- Google Map start -->
        <div id="map"></div>
        <!-- Google Map End -->

        <!--************************ section index5 start ************************-->
        <section class="p-index5">
            {{> contact}}
        </section>
        <!--************************ section index5 end ************************-->

    </div>
    <!--************************ main page end ************************-->
    <script>
        var masp_style = [{"stylers":[{"saturation":-100}]}];
        function initMap() {
        var uluru = {lat: 34.974489, lng: 137.043338};
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 18,
        center: uluru,
        styles : masp_style,
        scrollwheel: false
        });
        var image = '/assets/img/index/map.png';
        var beachMarker = new google.maps.Marker({
            position: uluru,
            map: map,
            icon: image
        });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBoEbnvRPTV6o5lHFBVjwB_NratIqnOE0&callback=initMap" type="text/javascript"></script>
    <!--************************ Map Api end ************************-->
  {{/content}}
{{/extend}}
