{{#extend "default"}}
    {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">
        <div class="p-inquiry_counter">
            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/inquiry_counter/inquiry_counter.png" alt="不動産相続の相談窓口"></div>
            </div>
             <!--************************ MainBlock end ************************-->
            <!--************************ inquiry_counter1 start ************************-->
            <div class="p-inquiry_counter1">
                <div class="p-inquiry_counter1__text">
                    <div class="c-text1">
                        <p>
                            家計資産のおよそ7割は不動産資産。
                            <br>資産を引き継ぐ相続において、不動産の扱いを避けて通ることはできません。
                            <br>しかし、不動産の扱いは難しい。その理由は大きくふたつあります。
                        </p>  
                    </div>
                    <div class="c-text1">
                        <p>
                            ひとつは、不動産はその価値がわかりにくいから。
                            <br>土地としての評価は高いが、家を建てるには不向き...など
                            <br>不動産の価値はその相続上の評価と一致しないことがよくあります。
                            <br>そしてもうひとつは、不動産は分けにくいから。
                            <br>たとえば、相続人3人で、遺された田舎の実家を分けられるでしょうか。
                            <br>現金資産とは違って分けにくいのも不動産の特徴のひとつです。
                            <br>「不動産相続の相談窓口」では、価値がわかりにくく、専門的な知識も必要な不動産の想像を、
                            <br>経験を積んだ"不動産のプロ"がサポートします。
                        </p>
                    </div>
                </div>
                <div class="p-inquiry_counter1-img">
                    <img src="/assets/img/inquiry_counter/inquiry_counter_graph.png" alt="不動産相続の相談窓口のグラフ">
                </div> 
            </div>
            <!--************************ inquiry_counter1 start ************************-->

            <!--************************ Section inquiry_counter2 start ************************-->
            <section class="p-inquiry_counter2">
                <h3 class="c-title3">「相続対策」は、まず何から始めればいい？</h3>
                <ul class="p-inquiry_counter2__list">
                    <li><img src="/assets/img/inquiry_counter/inquiry_counter_1.png" alt="相続対策1"></li>
                    <li><img src="/assets/img/inquiry_counter/inquiry_counter_2.png" alt="相続対策2"></li>
                    <li><img src="/assets/img/inquiry_counter/inquiry_counter_3.png" alt="相続対策3"></li>
                    <li><img src="/assets/img/inquiry_counter/inquiry_counter_4.png" alt="相続対策4"></li>
                    <li><img src="/assets/img/inquiry_counter/inquiry_counter_5.png" alt="相続対策5"></li>
                    <li><img src="/assets/img/inquiry_counter/inquiry_counter_6.png" alt="相続対策6"></li>
                </ul>
                <div class="c-text1">
                    <p>
                        どの提案も決して間違いではありません。相続対策の方法はさまざまです。
                        <br>しかし立場によって得意分野は異なり、偏った提案になる可能性も。
                        <br>最適な相続対策の答えはひとつではありません。
                        <br>相続税という税金への対応とともに、各相続人との人間関係への対応も重要なポイントとなります。
                        <br>一般的に複数の相続人がいる場合、いわゆる「争続」や「争族」にならないために、
                        <br>トラブルを事前に回避することも相続対策の重要な目的です。
                    </p>
                </div>
                <h3 class="c-title3">不動産を利用した相続対策</h3>
                <div class="c-text1">
                    <p>
                        それぞれ方法と効果が異なるので、どれか一つに偏った方策は好ましくありません。
                        <br>上手な相続設計は、この3本の柱をバランスよく組み合わせることです。
                    </p>
                </div>
                <ul class="p-inquiry_counter2__list p-inquiry_counter2__list--mod">
                    <li><a href="/Reduction_of_evaluation "><img src="/assets/img/inquiry_counter/Inheritancecountermeasure1.png" alt="相続対策１"></a></li>
                    <li><a href="/Transfer_of_property "><img src="/assets/img/inquiry_counter/Inheritancecountermeasure2.png" alt="相続対策2"></a></li>
                    <li><a href="/Delivery_of_real estate"><img src="/assets/img/inquiry_counter/Inheritancecountermeasure3.png" alt="相続対策3"></a></li>
                </ul>

            </section>
            <!--************************ Section inquiry_counter2 end ************************-->
            
            <!--************************ Section inquiry_counter3 start ************************-->
            <section class="p-inquiry_counter3">
                <h3 class="c-title3">まずは、「相続勉強会」にご参加ください</h3>
                <figure class="p-inquiry_counter3-img">
                    <img src="/assets/img/inquiry_counter/Inheritance_study.png" alt="相続勉強会">
                </figure>
                <div class="c-text1">
                    <p>
                        定期的に相続勉強会を開催しています。相続問題は、できる限りご自分たち（ご本人やご家族）で解決できることが理想です。
                        <br>相続についての基礎知識をはじめ、資産の分け方、遺言ののこし方、相続に備えてしておくべきこと、
                        <br>相続税と節税の対策方法、不動産の評価と活用方法など、実際の事例も交えながらお伝えします。
                        <br>お気軽にご参加ください。
                    </p>
                </div>
                <div class="c-btn1">
                    <img src="/assets/img/inquiry_counter/Inheritance_study_button.png" alt="相続勉強会はこちら">
                </div>
                <h3 class="c-title3">「不動産相続の相談窓口」の相続対策シミュレーション</h3>
                <div class="c-text1">
                    <p>
                        「うちでは相続税いくらくらいかかる？」「相続するか生前贈与するかどちらがいい？」
                        <br>「土地はいつ売るのがいい？」「アパート建築、いくらまでかけて大丈夫？」「遊休地の最適な活用方法は？」
                        <br>などの疑問に対し、当社では不動産と相続の診断ツールを活用し、
                        <br>わかりやすいグラフやシュミレーションをご提供します。
                    </p>
                </div>
                <figure>
                    <img src="/assets/img/inquiry_counter/Inheritance_image.png" alt="資産配分イメージ">
                </figure>
            </section>
            <!--************************ Section inquiry_counter3 end ************************-->

            <!--************************ Section inquiry_counter4 start ************************-->
            <section class="p-inquiry_counter4">
                <h3 class="c-title3">不動産相続の相談窓口サービスのご案内</h3>
                <div class="c-text1">
                    <p>
                        最適な相続の答えはひとつではありません。
                        <br>ご家族の状況や資産の状況をきちんと確認し、わかりやすい資料の提出やシュミレーションを通じて
                        <br>そのご家族にとっての最適な相続の実現をサポートいたします。
                        <br>もちろん、お持ちの不動産の査定やアパートの改善、遊休地の有効活用、不動産の処分の相談もお任せください。
                    </p>
                </div>
                
                <div class="c-need">
                    <div class="c-need__info">
                        <div class="c-need__item">
                            <h4>相続提案・シュミレーションサービス</h4>
                            <ul>
                                <li>相続税額 / 二次相続シュミレーション</li>
                                <li>贈与による効果と贈与税</li>
                                <li>税制の特例を利用した贈与のご提案</li>
                                <li>不動産の活用による相続税評価引き下げのご提案</li>
                                <li>物納対策</li>
                            </ul>
                        </div>
                        <div class="c-need__item">
                            <h4>相続前後の手続きサポート</h4>
                            <ul>
                                <li>公正証書遺言作成サポート</li>
                                <li>任意後見契約</li>
                                <li>遺産分割協議書作成サービス</li>
                                <li>戸籍収集・相続関係図作成サービス</li>
                                <li>不動産の名義書換えサポート</li>
                                <li>預貯金の解約・名義変更サービス</li>
                                <li>相続放棄の手続きサポート</li>
                            </ul>
                        </div>
                        <div class="c-need__item">
                            <h4>その他不動産コンサルティング</h4>
                            <ul>
                                <li>貸宅地（借地権）の整理</li>
                                <li>生前贈与サポート</li>
                                <li>離婚に伴う不動産名義変更</li>
                                <li>固定資産の交換</li>
                                <li>測量・登記サポート</li>
                            </ul>
                        </div>
                    </div>
                    <div class="c-need__img">
                        <img src="/assets/img/inquiry_counter/Inheritance_need_image.png" alt="二次相続対策">
                    </div>
                </div>
            </section>
            <!--************************ Section inquiry_counter4 end ************************-->
        </div>

        {{> contact}}
    </div>
    <!--************************ main page end ************************-->
    {{/content}}
{{/extend}}