{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">
        <div class="p-investment_advice">

             <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/investment_advice/index_our_service.png" alt="私たちのサービス"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/use_diagnosia.html">土地活用診断</a></li>
                <li><a href="/investment_advice.html">不動産投資助言</a></li>
                <li><a href="/right_adjustmentfield.html ">権利調整分野</a></li>
            </ul>

            <!--************************ Section investment_advice1 start ************************-->
            <section class="p-investment_advice1">
                <h3 class="c-title1">[ 不動産投資助言 ]</h3>
                <div class="c-text1">
                    <p>東京オリンピックや製造業の好景気に伴い、不動産投資が活発になっています。<br>
                         以前はアパート経営、不動産投資といえば一部の大家さんや資産家の副業というイメージでしたが、<br>
                         近年ではサラリーマン投資家からの相談も多くなってきています。<br>
                         不動産投資は、金融商品と異なり相場に左右されることがありません。<br>
                         また、不動産は実物資産であり、入居者やテナントから毎月家賃が振り込まれ、<br>
                         長期的にインカムゲイン（保有利益）を得ることも魅力です。

                    <p>しかし、アパート経営や不動産投資に成功している人がいる一方、<br>
                        家賃保証会社からサブリースの金額を下げられ収益が悪化したり、 <br>
                        保有期間中の経費を甘く見積り、想定外の多額の費用が発生し<br>
                        「思ったよりもうからない」「もう手放したい」と思い悩む方も多く見受けられます。</p>
                    <p>
                        不動産投資は、事業計画段階において適切なシミュレーションを行うことが重要です。<br>
                        また、どういった投資方法が自分に合っているのかポートフォリオを組む必要があります。</p>
                </div>
            </section>
            <!--************************ Section investment_advice1 end ************************-->

            <!--************************ Section investment_advice2 start ************************-->
            <section class="p-investment_advice2">
                <h3 class="c-title1">お気軽にご相談ください</h3>
                <div class="c-investment-imgtext">
                    <div class="c-text1">
                        <p>
                            ・ アパート経営や不動産投資のノウハウ、手法を教えてほしい<br>
                            ・ 不動産投資に興味がありこれからはじめたいが、何からはじめたらよいかわからない<br>
                            ・ 検討中の物件について、助言や価格判断をしてほしい<br>
                            ・ 保有アパートに空室が目立ってきた。改善策を提案してほしい<br>
                            ・ 返済がきつくなってきた<br>
                            ・ 不良入居者とのトラブルにうんざりしている<br>
                            ・ アパートメーカーから提案されている計画を第三者の目で見てほしい<br>
                            ・ 資産全体から相続対策を含め総合的なアドバイスがほしい<br>
                            ・ 信頼できるアドバイザーが欲しい
                        </p>
                    </div>
                    <div class="c-investment-imgtext__img">
                        <img src="/assets/img/investment_advice/fudousantoushijyogen.png" alt="不動産投資助言">
                    </div>
                </div>
            </section>
            <!--************************ Section investment_advice2 end ************************-->

            <!--************************ Section investment_advice3 start ************************-->
            <section class="p-investment_advice3">
                <h3 class="c-title1">収益不動産の投資分析</h3>
                <div class="c-text1">
                    <p>将来の転売を前提とした収益用不動産購入の投資分析を行います。</p>
                </div>
                <div class="c-investment-img">
                    <p><img src="/assets/img/investment_advice/Analysis.png" alt="ＣＦ分析イメージ"></p>
                    <p><img src="/assets/img/investment_advice/Price_calculation.png" alt="ＤＣＦ価格計算書イメージ"></p>
                </div>
            </section>
            <!--************************ Section investment_advice3 end ************************-->

            <!--************************ Section investment_advice4 start ************************-->
            <section class="p-investment_advice4">
                <h3 class="c-title1">その他サービスメニュー</h3>
                <div class="c-investment-imgtext">
                    <div class="c-text1">
                        <p>
                            当社では、根拠に基づいた収支分析と最大限のリスク想定をご提案いたします。<br>
                            また近年では地価の上昇や、不動産投資ブームにより利回りの相場も下がりつつあります。<br>
                            場合によっては購入や建設の見合わせをご提案させていただくこともあります。
                        </p>
                        <p>
                            ・ アパート経営改善計画支援<br>
                            ・ 保有不動産全体の収益力分析（ＲＯＡ診断）<br>
                            ・ アパート建築の第三者目線によるアドバイス<br>
                            ・ 投資用物件の情報収集と選定<br>
                            ・ その他投資コンサルティング
                        </p>
                    </div>
                    <div class="c-investment-imgtext__img">
                        <img src="/assets/img/investment_advice/Other_service.png" alt="サービスメニュー">
                    </div>
                </div>
            </section>
            <!--************************ Section investment_advice4 end ************************-->
        </div>
        {{> contact}}

    </div>
    <!--************************ main page end ************************-->
  {{/content}}
{{/extend}}
