{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-message">
            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/common/index_company.png" alt="会社案内"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/company_profile">会社概要</a></li>
                <li><a href="/philosophy">経営理念</a></li>
                <li><a href="/message">代表挨拶</a></li>
                <li><a href="/staff">スタッフ紹介</a></li>
                <li><a href="/privacy_policy">個人情報の<br> 取扱いについて</a></li>
            </ul>

            <div class="l-container">
                <!--************************ Section message1 start ************************-->
                <section class="p-message1">
                    <h3 class="c-title1">[ 代表挨拶 ]</h3>
                    <h4><img src="/assets/img/message/company_message.png" alt="代表挨拶"></h4>
                    <div class="c-text1">
                        <p>消費税増税や相続税・贈与税を含む税制改正、日銀による金融政策、ますます進む高齢化社会等、一般消費者を取り巻く金融環境は日々めまぐるしく変化しています。また現在日本の正味個人資産約450兆円の内、土地建物等の不動産は約６割を占めており、この割合は年々低下していますが、他の金融資産に比べ依然として高い水準にあります。</p>
                        <p>　不動産は、国民生活やあらゆる産業活動、文化活動の基盤をなすものであり、これらの有効利用や活用は個人の資産の運用や家計、法人の経営に大きく影響します。近年当社への相談内容も多様化しており、例えば個人の土地所有者においては、上記の税制改正や金融不安に伴い、将来を見据えた土地利用等についてのコンサルティングを求める事例が増えていますし、法人においても、事業の再構築などに伴って、不動産に関する適切なコンサルティングを求める事例が多くなってきています。</p>
                        <p>　このように不動産に関する顧客のニーズは、ますます多様化・高度化しており、これまでの単一的な仲介業務ではお客様のニーズに対応できないどころか、間違った提案をしかねません。我々不動産業者は今後ますます多様化するニーズに対応すべく日々自己研鑽するとともに、新しい事業スキームを構築するべきです。</p>
                        <p>　私は、不動産の売買・賃貸の仲介、個人の住宅取得のコンサルティング、土地有効活用、相続の事前対策、権利調整、商業開発等の街づくりまで、不動産に関する幅広い分野での経験を活かし、この地域の新しい不動産コンサルタントとしてお手伝いをしております。</p>
                        <p>　また、ファイナンシャルプランナーとして、税金、金融・保険商品からライフプランまでを踏まえたアドバイス、実行支援をお手伝いいたします。相談内容を整理・分析し、必要に応じて、弁護士・税理士・不動産鑑定士・司法書士・社会保険労務士等とプロジェクトチームを組織し、そのうえで、お客様にあったライフプラン・資産設計・相続を見据えた最善の解決策をご提案させていただくと同時に、実行支援までトータルでサポートしております。</p>
                    </div>

                    <div class="p-message1-imgtext">
                        <div class="p-message1-imgtext__img">
                            <img src="/assets/img/message/kato_sama.png" alt="代表取締役 加藤克健">
                        </div>
                        <div class="c-text1">
                            <p>株式会社あいち不動産コンサルタンツ <br> 代表取締役　加藤 克健</p>
                            <p>愛知県刈谷市野田町出身</p>
                            <p>公認不動産コンサルティングマスター <br>
                                一級ファイナンシャルプランニング技能士<br>
                                CFP®認定者<br>
                                宅地建物取引士</p>
                        </div>
                    </div>

                    <div class="p-message1-imgtext p-message1-imgtext--fz">
                        <div class="p-message1-imgtext__img">
                            <img src="/assets/img/message/icon_cfp.png" alt="cfp">
                        </div>
                        <div class="c-text1">
                            <p>CFP®、CERTIFIED FINANCIAL PLANNER®は、米国外においてはFinancial <br>
                                Planning Standards Board Ltd.(FPSB)の登録商標で、FPSBとのライセンス<br>
                                契約の下に、日本国内においてはNPO法人日本FP協会が商標の使用を認めています。</p>
                        </div>
                    </div>
                </section>
                <!--************************ Section message1 end ************************-->
            </div>

        </div>

        {{> contact}}
        
    <!--************************ main page end ************************-->
    </div>
  {{/content}}
{{/extend}}
