{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">
        <div class="p-office_building">

             <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/office_building/index_our_service.png" alt="私たちのサービス"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/use_diagnosia.html">土地活用診断</a></li>
                <li><a href="/investment_advice.html">不動産投資助言</a></li>
                <li><a href="/right_adjustmentfield.html ">権利調整分野</a></li>
            </ul>

            <!--************************ Section office_building1 start ************************-->
            <section class="p-office_building1">
                <h3 class="c-title1">[ オフィスビル経営 ]</h3>
                <div class="p-apart1-img">
                    <img src="/assets/img/office_building/our_service_image.png" alt="アパート・マンション経営">
                    <div class="c-text1">
                        <p>建物を建てて貸すという意味では、アパート・マンション経営と同じです。<br>
                            一般的に、オフィスビルや商業施設等の方がアパート・マンションより建築費等の初期コストは高くなりますが、<br>
                            その分受け取る賃料も高くなるのが一般的です。</p>
                    </div>
                </div>
                <div class="c-table1 c-table1--apart">
                    <dl>
                        <dd>事業の特性</dd>
                        <dt>
                            立地条件や建物デザイン、設備等が優れていれば高収益が期待できます。<br>
                            一般的にアパートマンションよりも建築費等のコストが高くなりますが、賃料単価を高く設定することができるため<br>
                            収益性が良い場合が多いです。<br>
                            但し、テナントは店舗・事務所等の企業が多い為、入居状況や賃料が景気に左右されます。
                        </dt>
                    </dl>
                    <dl class="c-table1--apart__bd">
                        <dd>計画上の留意点</dd>
                        <dt>
                            <span>立地条件</span>
                            <p>オフィスビル、商業施設を経営をする上で重要な要素となります。正絹エリアに顧客人口が見込める<br>
                                ことや、テナントの業務活動に適した立地が必要となります。<br>
                                ・交通の便が良い（通勤や集客）<br>
                                ・近隣の需要が見込める。<br>
                                ・企業などの主要取引先や官公庁などに近接している。<br>
                                ・駐車場の確保も重要。</p>
                            <hr>
                            <span>市場動向</span>
                            <p>オフィスビルは法人のテナントが中心となりますので、企業の業績が需要動向に大きく関係します。<br>
                                好景気の時は需要に供給が追いつかなくなり、賃料が上昇しますが、景気が後退すると空室率の増加<br>
                                や賃料の下落につながります。<br>
                                また建物の規模が大きくなると、防災設備やエレベーター、駐車場など、行政上の規制を受ける可能性<br>
                                があります。
                            </p>
                        </dt>
                    </dl>
                    <dl class="c-table1--apart__bd">
                        <dd>メリット・デメリット</dd>
                        <dt>
                            <span>メリット</span>
                            <p> 1．収益性が高く投資回収が早い<br>
                                2．オフィスビルや商業施設の場合、内装工事がトイレ等最低限の設備投資ですむ場合もあります。<br>
                                3．一般的に法人の入居者を対象とした賃貸事業なので、管理面でのトラブルのリスクは低いといえます。<br>
                                4．相続税評価上土地は「貸家建付地」、建物は「貸家」評価となり評価減が可能となります。<br>
                                また借金が残った場合も償却財産として債務控除が可能です。
                            </p>
                            <hr>
                            <span>デメリット</span>
                            <p>1．建物のメンテナンスや修繕など継続的にコストがかかる。<br>
                                2．空室対策や賃料の滞納リスク。
                            </p>
                        </dt>
                    </dl>
                </div>
            </section>
            <!--************************ Section office_building1 end ************************-->

        </div>
        {{> contact}}

    </div>
    <!--************************ main page end ************************-->
  {{/content}}
{{/extend}}
