{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-other_consultation">
            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/simulation/index_our_service.png" alt="私たちのサービス"></div>
            </div>
            <!--************************ MainBlock end ************************-->

            <!--************************ Section consultation1 start ************************-->
            <section class="p-other_consultation1">
                <h3 class="c-title1">[ 不動産関連税制と相談窓口 ]</h3>
                <div class="c-text1">
                    <p>住宅や土地などの不動産を売ったり、買ったりするときには税金がかかります。<br>
                        ここでは、不動産に関する税金について、買う、売る、貸す、リフォームするなどの場合別に具体的に解説しています。 
                    </p>
                </div>

                <div class="l-table2">

                    <div class="c-table2">
                        <h3 class="c-table2__title">不動産を買うとき</h3>
                        <div class="c-table2__text">
                            <h4>１.住まいを買うときにかかる税金について</h4>
                            <ul>
                                <li>1-1.印紙税</li>
                                <li>1-2.消費税</li>
                                <li>1-3.登録免許税</li>
                                <li>1-4.不動産取得税</li>
                            </ul>
                        </div>
                        <div class="c-table2__text">
                            <h4>２.住まいを買う時の贈与にかかる税金について</h4>
                            <ul>
                                <li>2-1.贈与税(暦年課税制度</li>
                                <li>2-2.相続時精算課税制度</li>
                                <li>2-3.直系尊属からの住宅取得等資金の贈与の非課税制度</li>
                            </ul>
                        </div>
                        <div class="c-table2__text">
                            <h4>３.住宅ローン控除など</h4>
                            <ul>
                                <li>3-1.住宅借入金等特別控除(住宅ローン控除）</li>
                                <li>3-2.認定住宅を新築等した場合の所得税の特別控除</li>
                            </ul>
                        </div>
                        <div class="c-table2__text">
                            <h4>４.住まいを保有するとかかる税金</h4>
                            <ul>
                                <li>4-1.固定資産税</li>
                                <li>4-2.都市計画税</li>
                            </ul>
                        </div>
                    </div>
                    <!-- table 01 -->

                    <div class="c-table2">
                        <h3 class="c-table2__title">不動産を売るとき</h3>
                        <div class="c-table2__text">
                            <h4>１.住まいを売るときにかかる税金 譲渡所得税・住民税の計算</h4>
                            <ul>
                                <li>1-1.長期譲渡所得と短期譲渡所得の区分</li>
                                <li>1-2.譲渡所得と税額の計算</li>
                                <li>1-3.特別控除の特例</li>
                            </ul>
                        </div>
                        <div class="c-table2__text">
                            <h4>２.住まいを売るときにかかる税金 譲渡して利益が出た場合の 特例</h4>
                            <ul>
                                <li>2-1.居住用財産の3,000万円特別控除</li>
                                <li>2-2.長期譲渡所得の軽減税率</li>
                                <li>2-3.特定居住用財産の買換え等の特例（課税繰り延べ）</li>
                            </ul>
                        </div>
                        <div class="c-table2__text">
                            <h4>３.住まいを売るときにかかる税金 譲渡して損失が出た場合の 特例</h4>
                            <ul>
                                <li>3-1.特定居住用財産の場合の譲渡損失の損益通算及び繰越</li>
                                <li>控除の特例</li>
                                <li>3-2.居住用財産の場合の譲渡損失の繰越控除の特例（買い換え）</li>
                            </ul>
                        </div>
                    </div>
                    <!-- table 02 -->

                    <div class="c-table2">
                        <h3 class="c-table2__title">不動産をリフォームするとき</h3>
                        <div class="c-table2__text">
                            <h4>1.リフォームで利用できる優遇税制</h4>
                            <ul>
                                <li>1-1.リフォームで利用できる優遇制度</li>
                                <li>1-2.増改築等の住宅借入金等特別控除（住宅ローン控除）</li>
                                <li>1-3.増改築等にかかわる資金贈与の特例</li>
                            </ul>
                        </div>
                        <div class="c-table2__text">
                            <h4>2.耐震リフォームに対する減税制度</h4>
                            <ul>
                                <li>2-1.住宅借入金等特別控除</li>
                                <li>2-2.既存住宅を耐震改修した場合の税額控除</li>
                                <li>2-3.固定資産税の減額</li>
                            </ul>
                        </div>
                        <div class="c-table2__text">
                            <h4>３. バリアフリーリフォームに対する減税制度</h4>
                            <ul>
                                <li>3-1.住宅借入金等特別控除</li>
                                <li>3-2.特定増改築をした場合の住宅借入金等特別控除</li>
                                <li>3-3.既存住宅を特定改修した場合の税額控除</li>
                                <li>3-4.固定資産税の減額</li>
                            </ul>
                        </div>
                        <div class="c-table2__text">
                            <h4>4.省エネリフォームに対する減税制度</h4>
                            <ul>
                                <li>4-1.住宅借入金等特別控除</li>
                                <li>4-2.特定増改築をした場合の住宅借入金等特別控除</li>
                                <li>4-3.既存住宅を特定改修した場合の税額控除</li>
                                <li>4-4.固定資産税の減額</li>
                            </ul>
                        </div>
                        <div class="c-table2__text">
                            <h4>5.同居対応リフォームに対する減税制度</h4>
                        </div>
                        <div class="c-table2__text">
                            <h4>6.長期優良住宅化リフォームに対する減税制度</h4>
                        </div>
                    </div>
                    <!-- table 03 -->

                    <div class="c-table2">
                        <h3 class="c-table2__title">不動産を貸すとき</h3>
                        <div class="c-table2__text">
                            <h4>1.住まいを貸すときの税金</h4>
                            <ul>
                                <li>1-1.不動産賃貸と税金</li>
                                <li>1-2.青色申告について</li>
                                <li>1-3.開業時の手続き</li>
                                <li>1-4.消費税について</li>
                            </ul>
                        </div>
                    </div>
                    <!-- table 04 -->
                    
                </div>
            </section>
            <!--************************ Section consultation1 start ************************-->

            <!--************************ Section consultation2 start ************************-->
            <section class="p-other_consultation2">
                <h3 class="c-title1">不動産に関する相談窓口</h3>
                <div class="c-text1">
                    <p>不動産の取引を進める上で、不安に思うこと、トラブルになってしまうことがあるかもしれません。<br>
                        そこで、トラブルにならないためには、何に注意をしておくべきなのか、<br>
                        もしトラブルになってしまった場合には、どう対処するべきか、まずはご相談ください。<br>
                        また、不動産に関する相談窓口を紹介させていただきます。<br>
                        相談内容に応じて相談先が異なりますので、どんな相談に応じてもらえるか、ご相談ください。 
                    </p>
                </div>
                <div class="c-table1 c-table1--mod1">
                    <dl>
                        <dd>消費生活全般</dd>
                        <dt>全国の消費生活センター・国民生活センター</dt>
                    </dl>
                    <dl>
                        <dd>法律に関する様々な相談</dd>
                        <dt>法テラス（日本司法支援センター）<br>
                            日本司法書士会連合会／司法書士総合相談センター一覧</dt>
                    </dl>
                    <dl>
                        <dd>住宅に関する様々な相談</dd>
                        <dt>公益財団法人住宅リフォーム・紛争処理支援センター／住まいるダイヤル</dt>
                    </dl>
                    <dl>
                        <dd>不動産取引</dd>
                        <dt>公益社団法人全国宅地建物取引業協会連合会<br>
                            一般社団法人不動産流通経営協会<br>
                            公益社団法人全日本不動産協会<br>
                            一般社団法人全国住宅産業協会<br>
                            公益財団法人不動産流通推進センター</dt>
                    </dl>
                    <dl>
                        <dd>住宅建築全般</dd>
                        <dt>一般社団法人日本建築学会／住まいネット相談</dt>
                    </dl>
                    <dl>
                        <dd>その他</dd>
                        <dt>[フラット35や資金計画などについて]<br>
                            独立行政法人住宅金融支援機構／相談窓口のご案内<br>
                            [不動産広告の表示内容等に対する相談について]<br>
                            不動産公正取引協議会連合会<br>
                            [税金に関する相談]<br>
                            国税庁／税についての相談窓口<br>
                            [マンションリフォームに関する相談]<br>
                            一般社団法人マンションリフォーム推進協議会／マンションリフォームをお考えの方のための無料相談窓口</dt>
                    </dl>
                    <dl>
                        <dd>行政機関の相談窓口</dd>
                        <dt>都道府県・地方整備局</dt>
                    </dl>
                </div>
            </section>
            <!--************************ Section consultation2 start ************************-->
        </div>

        {{> contact}}
        
    <!--************************ main page end ************************-->
    </div>
  {{/content}}
{{/extend}}
