{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">
        <div class="p-parking">

             <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/parking/index_our_service.png" alt="私たちのサービス"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/use_diagnosia.html">土地活用診断</a></li>
                <li><a href="/investment_advice.html">不動産投資助言</a></li>
                <li><a href="/right_adjustmentfield.html ">権利調整分野</a></li>
            </ul>

            <!--************************ Section parking1 start ************************-->
            <section class="p-parking1">
                <h3 class="c-title1">[ 駐車場経営 ]</h3>
                <div class="p-apart1-img">
                    <img src="/assets/img/parking/our_service_image.png" alt="アパート・マンション経営">
                    <div class="c-text1">
                        <p>駐車場経営と言っても、さまざまな種類があります。<br>
                            周辺環境や面積、地形、さらには土地活用の目的も含めて検討する必要があります。</p>
                    </div>
                </div>
                <div class="c-table1 c-table1--apart">
                    <dl>
                        <dd>事業の特性</dd>
                        <dt>
                            駐車場は、いわゆる青空駐車場（平面駐車場）と、建築物や工作物を設ける立体駐車場に大別されます。<br>
                            いずれも、駐車場利用者には借地権や借家権が発生しない為、退去時の法的トラブルが少なく、他の用途への転用が<br>
                            容易となります。特に平面駐車場や月極駐車場は、相続時の納税の為の資産としてや、本格的な有効活用の暫定利用<br>
                            として容易に始められるメリットがあります。<br><br>
                            ① 平面駐車場：月極駐車場やコインパーキング<br>
                            ② 立体駐車場：機械式や自走式などさまざま
                        </dt>
                    </dl>
                    <dl class="c-table1--apart__bd">
                        <dd>計画上の留意点</dd>
                        <dt>
                            <span>立地条件</span>
                            <p>投下資金に見合う駐車料金の設定が可能で、入出庫が可能な接道状況であれば、特に立地上の制約<br>
                                はありません。<br>
                                周辺に不特定多数の人が集まる施設（駅、商業施設等）のある立地であれば、コインパーキング（時間<br>
                                貸し）も可能になり、より収益性も高くなります。
                            </p>
                            <hr>
                            <span>市場動向</span>
                            <p>立地特性から利用目的を把握し、最適な営業形態で事業計画を策定します。<br>
                                立地によって需要や賃貸料相場は異なりますので計画には事前調査が不可欠です。
                            </p>
                        </dt>
                    </dl>
                    <dl class="c-table1--apart__bd">
                        <dd>メリット・デメリット</dd>
                        <dt>
                            <span>メリット</span>
                            <p> 1．多額の建築費用が必要なアパートやマンションと比べると、初期費用は少なくてすみます。<br>
                                2．アパートやマンションが建てられない狭小地や変形地でも、駐車場としてなら活用できる可能性が<br>
                                あります。<br>
                                3．借地権や借家権が発生しない為、退去時の法的トラブルが少なく、他の用途への転用が容易となります。
                            </p>
                            <hr>
                            <span>デメリット</span>
                            <p>1．アパートやマンションの経営と違って、駐車場には固定資産税の優遇措置がありません。<br>
                                2．相続税評価上も「自用地評価」となり、他の活用方法に比べ評価減がありません。<br>
                                3．管理や滞納賃料などもコストも意外とかかり、空車等があった場合は収益性が安定しない可能性があります。
                            </p>
                        </dt>
                    </dl>
                </div>
            </section>
            <!--************************ Section parking1 end ************************-->

        </div>
        {{> contact}}

    </div>
    <!--************************ main page end ************************-->
  {{/content}}
{{/extend}}
