{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-philosophy">

            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/common/index_company.png" alt="会社案内"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/company_profile">会社概要</a></li>
                <li><a href="/philosophy">経営理念</a></li>
                <li><a href="/message">代表挨拶</a></li>
                <li><a href="/staff">スタッフ紹介</a></li>
                <li><a href="/privacy_policy">個人情報の<br> 取扱いについて</a></li>
            </ul>

            <!--************************ Section philosophy1 start ************************-->
            <section class="p-philosophy1">
                <h3 class="c-title1">[ 経営理念 ]</h3>
                <div class="c-text1">
                    <p>株式会社あいち不動産コンサルタンツは信頼と信用を旨とし、多角的不動産サービスを提供することを通じ、<br>
                        地域のお客様と社会の繁栄に貢献すると共に、その社会的・経済的な企業価値を創造し続けます。
                    </p>
                </div>
            </section>
            <!--************************ Section philosophy1 end ************************-->

            <!--************************ Section philosophy2 start ************************-->
            <section class="p-philosophy2">
                <h3 class="c-title1">
                    <img class="pc-only" src="/assets/img/philosophy/company_subtitle1.png" alt="社是・社訓">
                    <img class="sp-only" src="/assets/img/philosophy/company_subtitle1-sp.png" alt="社是・社訓">
                </h3>
                <div class="c-text1">
                    <p>一、私たちは、不動産と不動産を取り巻くあらゆる分野を融合した新しいサービスを育成・進化させ、ソリューションを提供します。<br>

                        一、私たちは、平和で、笑顔あふれる地域づくりに貢献します。<br>
                        
                        一、私たちは、個々人がプロフェッショナルな知識・能力を磨き、互いに共有します。<br>
                        
                        一、私たちは、付加価値の高い不動産コンサルティングを通じて、お客様が築きあげた財産を守り、育てていきます。<br>
                        
                        一、私たちは、お客様の生涯変わらないパートナーとして、不動産に関連するあらゆる課題を解決してまいります。
                    </p>
                </div>
            </section>
            <!--************************ Section philosophy2 end ************************-->

            <!--************************ Section philosophy3 start ************************-->
            <section class="p-philosophy2">
                <h3 class="c-title1">
                    <img class="pc-only" src="/assets/img/philosophy/company_subtitle2.png" alt="公益社団法人　愛知県宅地建物取引業協会　倫理綱領">
                    <img class="sp-only" src="/assets/img/philosophy/company_subtitle2-sp.png" alt="公益社団法人　愛知県宅地建物取引業協会　倫理綱領">
                </h3>
                <div class="c-text1">
                    <p>我々会員は、不動産の重要性と専門家としての社会的使命を強く自覚し、ここに倫理綱領を制定し、その実践を通して、国民の信託にこたえる
                        ことを誓うものである。</p>
                    <p>
                        1．我々会員は、国民の貴重な財産を託された者としての誇りと責任をもって社会に貢献する。<br>
                        1．我々会員は、依頼者と地域社会の信頼にこたえるよう常に人格と専門知識の向上に努める。<br>
                        1．我々会員は、諸法令を守り、公正な取引の実現に努める。<br>
                        1．我々会員は、依頼者のために、誠実かつ公正な業務の遂行に努める。<br>
                        1．我々会員は、業界発展のため、業者間の相互信頼に基づく親密な協力によって業界秩序の確立と組織の団結に努める。
                    </p>
                </div>
            </section>
            <!--************************ Section philosophy3 end ************************-->

        </div>

        {{> contact}}
        
    <!--************************ main page end ************************-->
    </div>
  {{/content}}
{{/extend}}
