{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-privacy_policy">
            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/common/index_company.png" alt="会社案内"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/company_profile">会社概要</a></li>
                <li><a href="/philosophy">経営理念</a></li>
                <li><a href="/message">代表挨拶</a></li>
                <li><a href="/staff">スタッフ紹介</a></li>
                <li><a href="/privacy_policy">個人情報の<br> 取扱いについて</a></li>
            </ul>

            <!--************************ Section privacy_policy1 start ************************-->
            <section class="p-privacy_policy1">
                <h3 class="c-title1">[ 経営理念 ]</h3>
                <div class="c-text1">
                    <p>当社は、個人情報を以下の目的で利用させて頂きます。</p>
                    <p>1.不動産の売買契約又は賃貸借契約の相手方を探索すること、売買、賃貸借、仲介、管理等に関する契約（連帯保証契約を含む）を締結すること
                        及び契約に基づく役務を提供すること</p>
                    <p>２.不動産の売買、賃貸借、仲介、管理等に関する情報を提供すること</p>
                    <p>３.１、２の目的を達成するために必要な範囲で、契約の相手方及び売買・賃貸借希望者、他の宅地建物取引業者、指定流通機構、物件情報を書面 <br>
                        又はインターネットで提供する者・団体・家、提携損害保険会社、不動産管理業者、保証委託会社又はお客様の同意を得た第三者に対して提供すること。<br>
                        なお、契約の相手方探索のために指定流通機構に対して物件情報を提供する場合及び指定流通機構に登録されている物件についてご契約さ<br>
                        れる場合には、個人情報等を次のとおり利用致します。</p>
                    <p>(1)契約が成立した場合には、その年月日、成約価格等を指定流通機構に通知致します。<br>
                        (2)指定流通機構は、物件情報及び成約情報（成約情報は、売主様・買主様・貸主様・借主様の氏名を含めず、物件の概要・契約年月日・成約価格<br>
                        などの情報で構成されています）を指定流通機構の会員たる宅地建物取引業者や公的な団体及び公的な目的のために物件情報及び成約情報<br>
                        を利用する団体に電子データや紙媒体で提供することなどの宅地建物取引業法に規定された指定流通機構の業務のために利用致します。</p>
                    <div class="c-text1-bd">
                        <p>①提供される情報は、氏名、住所、電話番号、物件情報、成約情報その他必要な項目です。<br>
                            ②提供は、書面、電話、電子メール、インターネット、広告媒体等の手段で行います。<br>
                            ③ご本人様からお申し出がありましたら、提供は中止致します。</p>
                            <br><br>
                        <p>※専属専任媒介契約、専任媒介契約が締結された場合には、宅地建物取引業法に基づき、指定流通機構へ登録及び成約情報の通知が宅地建物<br>
                            取引業者に義務付けられます。</p>
                    </div>
                    <p>４.上記１及び２の役務、情報を提供するために郵便物、電話、電子メール等により連絡すること</p>
                    <p>５.お客様からのお問い合わせに応じるため及び４の目的を達成するために必要に応じて保管すること</p>
                    <p>６.宅地建物取引業法第49条に基づく帳簿として及びその資料として保管すること</p>
                    <p>７.不動産の売買、賃貸借等に関する価格査定を行うこと <br>
                        なお、価格査定に用いた成約情報につきましては、宅地建物取引業法第34条の２第２項に規定する「意見の根拠」として仲介の依頼者に提供<br>
                        することがあります。</p>
                    <div class="c-text1-bd">
                        <p>①提供される情報は、売主様・買主様・貸主様・借主様の氏名を含まず、成約物件の特定が困難となる工夫を施した物件の概要・成約価格などの <br>
                            項目です。<br>
                            ②提供は、書面、電子メール等の手段で行います。<br>
                            ③ご本人様からお申し出がありましたら、提供は中止致します。</p>
                    </div>
                    <p>８.市場動向分析を行うこと</p>
                    <p>９.犯罪による収益の移転防止に関する法律に基づく本人確認記録として保管すること</p>
                </div>
            </section>
            <!--************************ Section privacy_policy1 end ************************-->

        </div>

        {{> contact}}
        
    <!--************************ main page end ************************-->
    </div>
  {{/content}}
{{/extend}}
