{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-purchase">
            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/purchase/index_our_service.png" alt="私たちのサービス"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/purchase.html">購入サポート</a></li>
                <li><a href="/sell.html">売却サポート</a></li>
                <li><a href="/simulation.html">住宅ローン<br>コンサルティング</a></li>
            </ul>

            <!--************************ Section purchase1 start ************************-->
            <section class="p-purchase1">
                <h3 class="c-title1">[ 購入サポート ]</h3>
                <div class="c-text1">
                    <p>不動産は日用品、電化製品などと違い特別な買い物ですよね。<br>
                        多くの方が生涯に何度も経験するものではありません。<br>
                        また、不動産以上に高額で、生活に密着し、購入に専門知識が必要な買い物は他にはありません。<br>
                        それなのに、お客様の立場や利益を考えてサポートしてくれる不動産業者はまだまだ少ない。<br>
                        あいち不動産コンサルタンツは、本当の意味で「お客様の味方になって不動産購入をサポートしたい」。<br>
                        この想いのもと、お客様にとっての後悔しない不動産購入のお手伝いをさせて頂いています。
                    </p>
                </div>

                <!-- Component purchase step start-->
                <div class="c-step">

                    <!-- step 01 start -->
                    <div class="c-step__item c-step__item--bg">
                        <h3 class="c-step__title"><img src="/assets/img/purchase/purchase_step1.png" alt="まずはご来店"></h3>
                        <div class="c-step__img">
                            <img src="/assets/img/purchase/purchase_step1_image.png" alt="まずはご来店">
                        </div>
                        <div class="c-step__text">
                            <p>あいち不動産コンサルタンツは、東刈谷駅徒歩4分・県道48号線沿い・国道23号線野田ICからも近い場所に位置しています。<br>
                                「すぐに土地が欲しい、マイホームを建てたい」という方はもちろん、「時期は決めていないけど、そろそろマイホームを考えたいな。」という方も、気軽にお立ち寄りください。<br>
                                ご相談のみも大歓迎。相談料等はいただいておりません。<br>
                                また、わたしたちは押し売りをしたり、しつこい営業はいたしません</p>
                        </div>
                    </div>
                    <!-- step 01 end -->

                    <!-- step 02 start -->
                    <div class="c-step__item">
                        <h3 class="c-step__title"><img src="/assets/img/purchase/purchase_step2.png" alt="不動産購入について「知る」「わかる」"></h3>
                        <div class="c-step__img">
                            <img src="/assets/img/purchase/purchase_step2_image.png" alt="不動産購入について「知る」「わかる」">
                        </div>
                        <div class="c-step__text">
                            <img src="/assets/img/purchase/purchase_step2_image2.png" alt="売却の相談">
                            <p>不動産購入は、デメリットを理解せず、知らず知らずのうち損をしたり、不利な内容になることも。契約前のちょっとした知識で数百万円もの差が生まれることも珍しくありません。<br>
                                家選びも土地選びも初めての方は、判断基準がないとできないもの。不動産業界のからくり、賢い不動産購入のしかたお教えしております。難しい専門用語ではなく、わかりやすい言葉でお客様にご納得いただけるまで、ていねいにご説明いたします。
                            </p>
                        </div>
                    </div>
                    <!-- step 02 end -->

                     <!-- step 03 start -->
                    <div class="c-step__item">
                        <h3 class="c-step__title"><img src="/assets/img/purchase/purchase_step3.png" alt="物件探しの専任依頼"></h3>
                        <div class="c-step__img">
                            <img src="/assets/img/purchase/purchase_step3_image.png" alt="物件探しの専任依頼">
                        </div>
                        <div class="c-step__text">
                            <p>米国では、不動産取引の専門家のことをエージェントと呼びます。公平で有利な取引ができるように、自分だけの専任契約を交わしたプロに依頼をして不動産の取引を行います。<br>
                                日本のように複数の不動産会社に相談したり、物件ごとに違う会社に案内してもらったりせず、すべて一人のエージェントに相談して家探しを行います。<br>
                                あいち不動産コンサルタンツでもこのエージェント制を採用しております。物件探しの専任依頼をいただき、依頼者様の利益の最大化を常に考え、物件探し・購入のサポートをいたします。
                            </p>
                        </div>
                    </div>
                    <!-- step 03 end -->

                    <!-- step 04 start -->
                    <div class="c-step__item">
                        <h3 class="c-step__title"><img src="/assets/img/purchase/purchase_step4.png" alt="住宅ローンの事前審査"></h3>
                        <div class="c-step__img">
                            <img src="/assets/img/purchase/purchase_step4_image.png" alt="住宅ローンの事前審査">
                        </div>
                        <div class="c-step__text">
                            <p>不動産取引は、資金計画とスピードが大切です。住宅ローンについてきちんと把握しておかないとたとえ大きな決断をしても購入できない場合があります。<br>
                                事前にいくら借りられるか知り、すぐに手をあげられるようにしておくことによって、そのリスクを減らすことができます。<br>
                                専任担当エージェントが「いくらまで借りられるか」から、「いくらまで借りられるか、いくらなら借りてもいいか？」を導き出します。<br>
                                あなたにとって無理のない返済を一緒に考えましょう。場合によっては金融機関に事前相談を行います。
                            </p>
                        </div>
                    </div>
                    <!-- step 04 end -->

                    <!-- step 05 start -->
                    <div class="c-step__item">
                        <h3 class="c-step__title"><img src="/assets/img/purchase/purchase_step5.png" alt="住みたい場所、土地選び"></h3>
                        <div class="c-step__img">
                            <img src="/assets/img/purchase/purchase_step5_image.png" alt="住みたい場所、土地選び">
                        </div>
                        <div class="c-step__text">
                            <p>　物件探しは、不動産会社を複数回ったり、インターネットで毎日検索したりと大変な時間を労力を費やすイメージではありませんか？ <br>
                                わたしたちにご依頼いただきましたら、その苦労は最小限になります。弊社は、マーケット情報を一括管理する独自のシステムで、毎日エリアの物件を見比べております。<br>
                                あなたの物件探しの代理人として、割高、割安もデータに基づき、公平な目で判断いたします。<br>
                                あなたからのヒアリングをもとに、ご希望の物件をご紹介させていただき、物件探しのサポートをさせていただきます。一緒に希望エリアの物件をたくさん見て、比較検討しましょう。
                            </p>
                        </div>
                    </div>
                    <!-- step 05 end -->

                     <!-- step 06 start -->
                     <div class="c-step__item">
                        <h3 class="c-step__title"><img src="/assets/img/purchase/purchase_step6.png" alt="購入決断〜引き渡し"></h3>
                        <div class="c-step__img">
                            <img src="/assets/img/purchase/purchase_step6_image.png" alt="購入決断〜引き渡し">
                        </div>
                        <div class="c-step__text">
                            <p>購入の決断をしていただいたら、お申し込み、そしてご契約になります。<br>
                                あなたの専任担当エージェントしてあなたの利益を最大限に考え、公平な交渉と専門的なアドバイスのもと、引き渡しまでしっかりサポー
                            </p>
                        </div>
                    </div>
                    <!-- step 06 end -->

                     <!-- step 07 start -->
                     <div class="c-step__item">
                        <h3 class="c-step__title"><img src="/assets/img/purchase/purchase_step7.png" alt="その後"></h3>
                        <div class="c-text1">
                            <p>不動産のお取引は手段であり、目的ではありません。<br>
                                ご購入後も不動産や住宅ローンに関してわからないこと、心配事などありましたらご連絡ください。<br>
                                また、わたしたちは、あなたの立場に立った土地活用・相続コンサルティングも行っております。<br>
                                あなたの生涯変わらぬパートナーとして、その先の未来までサポートいたします。</p>
                        </div>
                    </div>
                    <!-- step 07 end -->

                </div>
                <!-- Component purchase step end -->

            </section>
            <!--************************ Section purchase1 end ************************-->

        </div>
        {{> contact}}

    <!--************************ main page end ************************-->
    </div>
  {{/content}}
{{/extend}}
