{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-reduction">
            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/common/index_our_service.png" alt="私たちのサービス"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/reduction_of_evaluation">相続税評価額の引下げ</a></li>
                <li><a href="/transfer_of_property">贈与等による財産の移転</a></li>
                <li><a href="/delivery_of_real_estate">不動産の物納対策</a></li>
            </ul>

            <!--************************ Section reduction1 start ************************-->
            <section class="p-reduction1">
                <div class="l-container">
                    <h3 class="c-title1">[ 不動産の物納対策 ]</h3>
                    <div class="c-text1">
                        <p class="c-text1-center">相続税は税金の納付をして完了となります。いくら相続対策を講じても、相続税が発生しその支払能力がなければ意味がありません。<br>
                            相続前後に不動産や金融資産を売却したり、生命保険を活用し資金を確保する方法もありますが、不動産を活用して納税資金を確保する<br>
                            方法の一つに物納制度があります。地価が下落している局面の場合や市場での不動産売却が難しい（不整形、崖地など）場合の<br>
                            納税手段として物納制度は有効です。</p>
                    </div>
                    <div class="c-text1">
                        <p>1．物納制度の概要<br>
                            相続税の納付は、現金にて一括納付が原則ですが、一括納付が困難でありかつ延納（分割払い）によっても金銭で納付することが困難な場合、<br>
                            納税者の申告により、その納付を困難とする金額を限度として、一定の相続財産による物納が認められています。 </p>
                    </div>
                    <div class="c-text1">
                        <p>2. 物納の要件 <br>
                            物納できる財産は次のすべての要件を満たすものとされています。<br>
                            ①延納によっても金銭で納付することを困難とする事由があり、かつ、その納付を困難とする金額を限度としていること。<br>
                            ②物納申請財産は、納付すべき相続税の課税価格計算の基礎となった相続財産のうち、次に掲げる財産及び順位で、<br>
                            その所在が日本国内にあること。 </p>
                    </div>
                    <div class="c-table1 c-table1--redu">
                        <dl>
                            <dd>順　位</dd>
                            <dt>物納に充てることができる財産</dt>
                        </dl>
                        <dl>
                            <dd>第１順位</dd>
                            <dt>① 国債、地方債、不動産、船舶
                                <p>② 不動産のうち物納劣後財産に該当するもの</p>
                            </dt>
                        </dl>
                        <dl>
                            <dd>第2順位</dd>
                            <dt>③社債、株式<br>
                                （特別の法律により法人の発行する債券及び出資証券を含み、短期社債等を除く）、<br>
                                （証券投資信託または貸付信託の受益証券）
                                <p>④ 株式（特別の法律により法人の発行する出資証券を含む）のうち物納劣後財産に該当するもの</p>
                            </dt>
                        </dl>
                        <dl>
                            <dd>第３順位</dd>
                            <dt>⑤ 動産</dt>
                        </dl>
                    </div>
                    <div class="c-text1">
                        <p>注：後順位の財産は、税務署長が特例の事情があると認める場合及び先順位の財産に適当な価値のものがない場合に限って物納に充てることができる。</p>
                    </div>
                    <div class="c-text1">
                        <p>③ 物納に充てることができる財産は、管理処分不適格財産に概要しないものであること及び物納劣後財産に該当する場合は、<br>
                            他に物納に充てるべき適当な財産がないこと。<br>
                            ④ 物納しようとする相続税の納期限または納付すべき日（物納申告期限）までに、物納申請書に物納手続関係書類を添付して税務署長に<br>
                            提出すること。</p>
                    </div>
                    <div class="c-text1">
                        <p>3．管理処分不適格財産及び物納劣後財産<br>
                            管理処分不適格財産に該当する財産は物納が認められません。また物納劣後財産は、他に物納に充てるべき適当な財産がない場合に限り物納に充てることができるものをいいます。</p>
                    </div>
                    <div class="c-table1 c-table1--redu1">
                        <dl>
                            <dd>管理処分不適格財産</dd>
                            <dt>
                                ① 抵当権・譲渡担保の目的となっている不動産<br>
                                ② 所有権等権利の存否・帰属について争いがある不動産<br>
                                ③ 境界が明らかでない土地<br>
                                ④ 共有物である不動産（共有者全員が申請する場合を除く）<br>
                                ⑤ 耐用年数を経過している建物（通常の使用ができるものを除く）<br>
                                ⑥ 敷金の返還やその他の債務を国が負担することとなる不動産<br>
                                ⑦その他
                            </dt>
                        </dl>
                        <dl>
                            <dd>物納劣後財産</dd>
                            <dt>
                                ① 地上権、耕作を目的とする貸借権、地役権等が設定されている土地<br>
                                ② 法令の規定に違反して建築された建物及びその敷地<br>
                                ③ 現に納税義務者の居住または事業の用に供されている建物及びその敷地<br>
                                （本人が物納の許可申請する場合を除く）<br>
                                ④ 劇場、工場、浴場その他の維持・管理に特殊技能を要する建物及びこれらの敷地<br>
                                ⑤ 建築基準法上の道路に2m以上接していない土地<br>
                                ⑥その他
                            </dt>
                        </dl>
                    </div>
                    <div class="c-text1">
                        <p>
                            どんな不動産でも物納できるわけではなく、適格財産にするためには諸経費（測量や抵当権、共有物分割等の整理など）の投資が<br>
                            必要となる場合もあります。<br>
                            相続税納税のために不動産を売却するべきか、物納するべきかはその不動産の状況や評価、市場動向によって異なるため一概には言えません。<br>
                            まずはご相談ください。
                        </p>
                    </div>
                </div>
            </section>
            <!--************************ Section reduction1 end ************************-->
        </div>
        {{> contact}}
        
    </div>
    <!--************************ main page end ************************-->
  {{/content}}
{{/extend}}
