{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">
        <div class="p-right_adjustmentfield">

             <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/right_adjustmentfield/index_our_service.png" alt="私たちのサービス"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/use_diagnosia.html">土地活用診断</a></li>
                <li><a href="/right_adjustmentfield.html">不動産投資助言</a></li>
                <li><a href="/right_adjustmentfield.html ">権利調整分野</a></li>
            </ul>

            <!--************************ Section right_adjustmentfield1 start ************************-->
           <section class="p-right_adjustmentfield1">
                <h3 class="c-title1">[ 権利調整分野 ]</h3>
                <div class="c-text1">
                    <p>借地権問題や不整形地、無道路地、境界未確定地等の問題は、非常に複雑で難しい問題です。<br>
                        親の代から続いており、誰に相談したらいいかわからないという方も多くいらっしゃいます。<br>
                        複雑な権利関係は、見て見ぬふりをせずに調整・整理・組換えを行うことによって、<br>
                        不動産本来のポテンシャル（潜在能力）を発揮することができます。
                     </p>
                </div>
                <div class="c-text1">
                    <p>
                         権利調整には法律・税制、不動産などの専門知識だけでなく、高度な不動産コンサルティングスキルが求められます。<br>
                         当社では豊富な経験に基づくノウハウとネットワークを活かし、法規上の問題をクリアして、公平かつ客観的に判断し、<br>
                         お客様に最適なご提案、問題解決させていただきます。
                     </p>
                </div>
            </section>
            <!--************************ Section right_adjustmentfield1 end ************************-->

            <!--************************ Section right_adjustmentfield2 start ************************-->
            <section class="p-right_adjustmentfield2">
                <h3 class="c-title1">とにかく不動産で困っている方へ</h3>
                <div class="c-investment-imgtext">
                    <div class="c-text1">
                        <p>
                            ・ 土地が接道していない、変形地で活用できない<br>
                            ・ 借地権のついた土地（底地）を所有している<br>
                            ・ 借地権者（借りている人）と賃料等で折り合いがつかず困っている<br>
                            ・ 借地権者（借りている人）が無断で増改築、転貸をしているようだ<br>
                            ・ 相続で共有の土地がさらに共有に。手が付けられない<br>
                            ・ お隣との境界が不明で長年トラブルになっている
                        </p>
                    </div>
                    <div class="c-investment-imgtext__img">
                        <img src="/assets/img/right_adjustmentfield/kenrityouseibunya_image1.png" alt="とにかく不動産で困っている方へ">
                    </div>
                </div>
            </section>
            <!--************************ Section right_adjustmentfield2 end ************************-->
            
            <!--************************ Section right_adjustmentfield3 start ************************-->
            <section class="p-right_adjustmentfield3">
                <div class="l-container">
                    <h3 class="c-title1">とにかく不動産で困っている方へ</h3>
                    <div class="c-text1">
                        <p class="c-text1-center">固定資産の交換とは、税制上の「固定資産の交換の特例」を使って不動産同士を交換し、<br>不動産を整理集約して事業化を図ることを目的としたものです。</p>
                    </div>
                    <div class="c-text1">
                        <h4 class="c-text1__title">1．「固定資産の交換の特例」</h4>
                        <p>
                            土地所有者間で所有する土地を交換した場合、税務上はそれぞれの土地の譲渡とみなされ、譲渡所得税が課税されます。「固定資産の交換の特例」とは一定の要件を満たす固定資産同士の交換の場合には、その時点では譲渡がなかったみなされる特例で、いわゆる「課税の繰延べ」（法人の場合は圧縮記帳）が認められます。
                        </p>
                    </div>
                    <hr>
                    <div class="c-text1">
                        <h4 class="c-text1__title">2．適用を受けるための要件</h4>
                        <p>
                            A．双方とも固定資産であること：棚卸資産は適用外。<br>
                            B．双方とも同種の資産同士であること：土地と土地、建物と建物。借地権は土地とみなされます。<br>
                            C．双方とも1年以上所有していたものであり、かつ交換のために取得したものではないこと。<br>
                            D．取得資産は、交換直前の用途と同一の用途に供すること。<br>
                            E．双方の資産の時価の差額は、高い方の価格の20％以内であること
                        </p>
                    </div>                    
                </div>
            </section>
            <!--************************ Section right_adjustmentfield3 end ************************-->

            <!--************************ Section right_adjustmentfield4 start ************************-->
            <section class="p-right_adjustmentfield4">
                <div class="l-container">
                    <h3 class="c-title1">[ 貸宅地の整理 ]</h3>
                    <div class="c-text1">
                        <p class="c-text1-center">
                            貸宅地とは、借地権「底地」に対する土地所有者側からの呼称です。<br>
                            一般的に「借地権の整理」といい、旧借地権（対象10年施行、平成4年に新しい「借地借家法」が制定されましたが、<br>
                            旧借地権には適用されず、新法に基づくものと併用することになりました。）に基づくものがほとんどです。<br>
                            こうした貸宅地は、当初の契約から長い年月が経過しており、様々な問題を抱えています。
                        </p>
                    </div>
                    <div class="c-text1">
                        <h4 class="c-text1__title">1．固定資産の交換の特例を利用した交換</h4>
                        <p>
                            A．貸宅地と借地の交換<br>
                            B．借地と、底地所有者が所有している他の土地との交換<br>
                            C．貸宅地と、借地人が所有している他の土地との交換
                        </p>
                        <p>この手法は貸宅地と借地を税制上の固定資産の交換の特例を使って交換し、それぞれが所有権を取得するものです。交換する土地が他の土地でない場合、土地を分割することになり、建物の解体が発生する場合や、譲渡承諾料が発生する場合もあります。<br>
                            また税制上の固定資産の交換の特例を利用するため、交換する資産が高い方の資産の20％を超えると、交換資産全体に課税されてしまいます</p>
                    </div>
                    <hr>
                    <div class="c-text1">
                        <h4 class="c-text1__title">2．貸宅地の売却</h4>
                        <p>A．借地人への売却<br>B．第三者への売却</p>
                    </div>
                    <hr>
                    <div class="c-text1">
                        <h4 class="c-text1__title">3．借地権の売却</h4>
                        <p>A．土地所有者への売却<br>B．第三者への売却</p>
                        <p>貸宅地や借地権を土地所有者、借地権者それぞれの相手方への売却することによって整理を行うものですが、実務上、価格交渉で折り合わない場合が多く、裁判になるケースも少なくありません。借地権を積極的に買い取る不動産業者もありますが、これは事業が成立つ一部の地域に限</p>
                    </div>                  
                </div>
            </section>
            <!--************************ Section right_adjustmentfield4 end ************************-->

            <!--************************ Section right_adjustmentfield5 start ************************-->
            <section class="p-right_adjustmentfield5">
                <h3 class="c-title1">確定測量のススメ</h3>
                <div class="c-text1 c-text1-center">
                    <p>将来に渡り安心して土地を管理していくため、トラブル防止のために境界確定測量をおすすめします。<br>
                        境界確定測量とは道路管理者や隣接土地所有者と境界立会をした後、境界確認書などを取り交わし、境界線を確定することです。
                    </p>
                    <p>あなたは、どこが隣接地との境界で、どこからどこまでがご自分の土地なのか明確にお分かりになりますか？<br>
                        また、そこに境界標などは設けられていますか？<br>
                        お隣との境界を口約束で行っていた場合、当事者が亡くなられて世代が代わったり、<br>
                        当事者が認知症になった場合、トラブルが発生するケースもあります。
                    </p>
                </div>
                <div class="c-investment-imgtext">
                    <h4>確定測量のメリット</h4>
                    <div class="c-text1">
                        <p>
                            ・ 境界が確定することにより、隣接地との紛争やトラブルが防止されます。<br>
                            ・ 隣接地との境界ブロック、フェンス、擁壁等の設置の際、重要な参考資料となります。<br>
                            ・ 遺産相続後、相続税納税期日までに土地の売却を行う場合、スムーズな引渡しが可能となります。<br>
                            ・ 万一境界標が亡失した場合も、データに基づき復元が可能です。<br>
                            ・ 地積更生登記や分筆登記が可能となります。<br>
                            ・ 相続した土地を物納用として使う場合、「境界が明らかでないでない土地」は物納不適格財産となります。
                        </p>
                        <p>反対に、高額な費用がかかる、立会いが不調に終わった場合、確定できない可能性がある等のデメリット</p>
                    </div>
                    <div class="c-investment-imgtext__img">
                        <img src="/assets/img/right_adjustmentfield/kenrityouseibunya_image2.png" alt="確定測量のススメ">
                    </div>
                </div>
            </section>
            <!--************************ Section right_adjustmentfield4 end ************************-->

        </div>
        {{> contact}}

    </div>
    <!--************************ main page end ************************-->
  {{/content}}
{{/extend}}
