{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-sell">
            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/sell/index_our_service.png" alt="私たちのサービス"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/purchase.html">購入サポート</a></li>
                <li><a href="/sell.html">売却サポート</a></li>
                <li><a href="/simulation.html">住宅ローン<br>コンサルティング</a></li>
            </ul>
        

            <!--************************ Section sell1 start ************************-->
            <section class="p-sell1">
                <h3 class="c-title1">[ 売却サポート ]</h3>
                <div class="c-text1">
                    <p>初めて不動産売却をする方は、わからないことだらけで、<br>
                        誰にどのような相談をしたらよいかと悩まれている方もいらっしゃるのではないでしょうか。<br>
                        また、多くの方が生涯に何度も経験するものではありません。<br>
                        「不動産の購入（物件探し）」にはネットや書籍である程度情報収集ができますが、<br>
                        「不動産の売却」については、『誰に何を相談してどのようにすすめればいいのかわからない』<br>
                        と思われるのはあなただけではありません。<br>
                        不動産の売却を考えたときに誰でも感じる不安なのです。<br>
                        当社では、お客様の「わからない」が「わかった」にかわるように、<br>
                        売却のご相談から確定申告等のお手続きまで、担当エージェントがわかりやすくサポートいたします。
                    </p>
                </div>
            </section>
            <!--************************ Section sell1 end ************************-->

            <!--************************ Section sell2 start ************************-->
            <section class="p-sell2">
                <h3 class="c-title1">取り扱いエリア・取り扱い物件</h3>
                <div class="c-text1">
                    <p>西三河（刈谷市、安城市、知立市、高浜市、碧南市、豊田市、岡崎市、西尾市等）を中心に、<br>
                        愛知県全域でご対応いたします。<br>
                        ※記載のないエリア及び記載のない物件もお気軽にお問い合わせください。
                    </p>
                    <ul class="p-sell2-navi">
                        <li><img src="/assets/img/sell/sell_01.png" alt="取り扱いエリア・取り扱い物件"></li>
                        <li><img src="/assets/img/sell/sell_02.png" alt="取り扱いエリア・取り扱い物件"></li>
                        <li><img src="/assets/img/sell/sell_03.png" alt="取り扱いエリア・取り扱い物件"></li>
                        <li><img src="/assets/img/sell/sell_04.png" alt="取り扱いエリア・取り扱い物件"></li>
                    </ul>
                </div>
            </section>
            <!--************************ Section sell2 end ************************-->

            <!--************************ Section sell3 start ************************-->
            <section class="p-sell3">
                <h3 class="c-title1"><img src="/assets/img/sell/sell_index1.png" alt=""></h3>
                <ul>
                    <li>
                        <img src="/assets/img/sell/sell_point1.png" alt="ポイントその1">
                        <p>当社では、市場で公開されていた「過去」・「現在」を網羅した独自のシステムで、市場価格（根拠）に基づいた現実可能な査定額をご提示しております。</p>
                    </li>
                    <li>
                        <img src="/assets/img/sell/sell_point2.png" alt="ポイントその2">
                        <p>当社は、公認不動産コンサルティングマスターやＣＦＰ認定者（ファイナンシャルプランナー）も在籍しており、お客様の利益を最大化する方法をご提案いたします</p>
                    </li>
                    <li>
                        <img src="/assets/img/sell/sell_point3.png" alt="ポイントその3">
                        <p>当社では、豊富なネットワークを生かし、登記・測量からお引っ越しの手配まで、ワンストップでご依頼いただけます。</p>
                    </li>
                </ul>
            </section>
            <!--************************ Section sell3 end ************************-->
            <div class="l-sell3">
                <!-- Component purchase step start-->
                <div class="c-step">

                    <!-- step 01 start -->
                    <div class="c-step__item">
                        <h3 class="c-step__title"><img src="/assets/img/sell/sell_step1.png" alt="売却の相談"></h3>
                        <div class="c-step__img">
                            <img src="/assets/img/sell/sell_step1_image.png" alt="売却の相談">
                        </div>
                        <div class="c-step__text">
                            <p>まずは、不動産を売却される上での注意点やスケジュールをご説明いたします。<br>
                            また、地域の不動産情報を網羅したシステムを使用し、売却を検討されている物件エリアの過去取引価格変更履歴、現在の取引状況等をご覧になっていただけます。</p>
                        </div>
                    </div>
                    <!-- step 01 end -->

                    <!-- step 02 start -->
                    <div class="c-step__item">
                        <h3 class="c-step__title"><img src="/assets/img/sell/sell_step2.png" alt="査定の依頼"></h3>
                        <div class="c-step__img">
                            <img src="/assets/img/sell/sell_step2_image.png" alt="査定の依頼">
                        </div>
                        <div class="c-step__text">
                            <p>　お客様にわかりやすいよう、過去・現在の取引状況と詳細なデータにもとづいた、査定レポートとあわせて、各種税金の事を詳しくご説明し、お渡しいたします。<br>
                            当社では、査定レポートの作成のみで料金をいただいておりません。お気軽にご相談ください。</p>
                        </div>
                    </div>
                    <!-- step 02 end -->

                    <!-- step 03 start -->
                    <div class="c-step__item">
                        <h3 class="c-step__title"><img src="/assets/img/sell/sell_step3.png" alt="媒介契約"></h3>
                        <div class="c-step__img">
                            <img src="/assets/img/sell/sell_step3_image.png" alt="媒介契約">
                        </div>
                        <div class="c-step__text">
                            <p>　売却の価格と意向が固まりましたら、正式に当社に「売却の媒介」を依頼していただく、媒介契約を締結いたします。<br>
                            媒介契約には、一般媒介契約、専任媒介契約、専属専任媒介契約と3種類ございますが、あらかじめ内容をご説明いたしますので、ご安心ください。また、この時に着手金や手数料等は一切発生いたしません</p>
                        </div>
                    </div>
                    <!-- step 03 end -->

                    <!-- step 04 start -->
                    <div class="c-step__item">
                        <h3 class="c-step__title"><img src="/assets/img/sell/sell_step4.png" alt="物件案内"></h3>
                        <div class="c-step__img">
                            <img src="/assets/img/sell/sell_step4_image.png" alt="物件案内">
                        </div>
                        <div class="c-step__text">
                            <p>　スーモ、アットホーム、ホームズなどのインターネット広告や折込チラシ、場合によっては不動産会社どうしのネットワークにより、幅広く販売活動をおこないます。<br>
                            当社では、規定の仲介手数料以外の広告費用等はいただきません。</p>
                        </div>
                    </div>
                    <!-- step 04 end -->

                    <!-- step 05 start -->
                    <div class="c-step__item">
                        <h3 class="c-step__title"><img src="/assets/img/sell/sell_step5.png" alt="買付証明書"></h3>
                        <div class="c-step__img">
                            <img src="/assets/img/sell/sell_step5_image.png" alt="買付証明書">
                        </div>
                        <div class="c-step__text">
                            <p>　購入希望のお客様には、希望条件を記載した購入申込書「買付証明書」をいただき、必ずご契約前に「重要事項説明」をいたします。契約時のトラブルを防ぐ為です。<br>
                            また、売主様が不当に不利な契約にならないように精査、交渉いたします。</p>
                        </div>
                    </div>
                    <!-- step 05 end -->

                    <!-- step 06 start -->
                    <div class="c-step__item">
                        <h3 class="c-step__title"><img src="/assets/img/sell/sell_step6.png" alt="売買契約"></h3>
                        <div class="c-step__img">
                            <img src="/assets/img/sell/sell_step6_image.png" alt="売買契約">
                        </div>
                        <div class="c-step__text">
                            <p>　当社では、ご契約日よりも前に契約内容や必要な書面をわかりやすくご説明いたします。<br>
                            この時に手付金を受領し、この手付金は「解約手付」となります。ご契約内容を理解して契約当日にのぞめますのでご安心してください</p>
                        </div>
                    </div>
                    <!-- step 06 end -->

                    <!-- step 07 start -->
                    <div class="c-step__item">
                        <h3 class="c-step__title"><img src="/assets/img/sell/sell_step7.png" alt="残金決済・物件引き渡し"></h3>
                        <div class="c-step__img">
                            <img src="/assets/img/sell/sell_step7_image.png" alt="残金決済・物件引き渡し">
                        </div>
                        <div class="c-step__text">
                            <p>　売買代金残金の受領と所有権移転登記の手続きをおこないます。<br>
                            事前に必要書類や当日の流れ等をご説明いたしますので、スムーズなお取引をおこなえて安心です。<br>
                            測量や建物解体等諸経費のお支払いも受領した売買代金でお支払いできるように手配いたします。</p>
                        </div>
                    </div>
                    <!-- step 07 end -->

                    <!-- step 08 start -->
                    <div class="c-step__item">
                        <h3 class="c-step__title"><img src="/assets/img/sell/sell_step8.png" alt="確定申告のお手続き"></h3>
                        <div class="c-step__img">
                            <img src="/assets/img/sell/sell_step8_image.png" alt="確定申告のお手続き">
                        </div>
                        <div class="c-step__text">
                            <p>　不動産を譲渡した場合、譲渡した翌年の確定申告を行い、譲渡益が出た場合、譲渡所得税が必要になります。<br>
                            当社では、売却後のサポートとして知っトクな特例の概要のご説明や申請手続きの必要書類のご案内をいたします。当然、別料金等は必要ありません。</p>
                        </div>
                    </div>
                    <!-- step 08 end -->

                </div>
                <!-- Component purchase step end -->
            </div>
            <div class="p-sell-info">
                <div class="c-text1">
                    <p>不動産の売却は分からないことばかりです。<br>
                        当社では、専任スタッフがお客様に常に事前のご説明を行い、<br>
                        ご納得していただいた上での、ストレスの無いお取引を進めさせていただきます。</p>
                    <p>
                        また、当社はスタッフ全員が地元出身であり、宅地建物取引士及び<br>
                        ファイナンシャルプランナーの有資格者です。<br>
                        これまでのノウハウと豊富なネットワークを生かし、<br>
                        お客様の後悔のない不動産売却のサポートを行っております。</p>
                </div>
            </div>

        </div>

        {{> contact}}
        
    <!--************************ main page end ************************-->
    </div>
  {{/content}}
{{/extend}}
