{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">
        <div class="p-seminar_info">
            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/seminar_info/inquiry_counter.png" alt="私たちのサービス"></div>
            </div>
            <!--************************ MainBlock end ************************-->

            <!--************************ Section staff1 start ************************-->
            <section class="p-seminar_info1">
                <h3 class="c-title1">[ セミナー情報 ]</h3>
                <div class="c-sminar">
                    <h4 class="c-sminar__title">【入門編】　 不動産オーナーとして知っておくべき相続の基礎知識</h4>
                    <div class="c-sminar__step">
                        <h4>STEP1</h4>
                        <p>相続の基礎を学ぶ</p>
                    </div>
                    <ul class="c-sminar__info">
                        <li><p>はじめに</p><span>相続の大いなる誤解</span></li>
                        <li><p>相続とは？</p><span>相続の定義、法定相続</span></li>
                        <li><p>相続の流れ</p><span>死去〜納税までにやるべき事、相続の種類、遺産分割協議</span></li>
                        <li><p>よくある相続トラブル①</p><span></span></li>
                    </ul>
                </div>
                <!-- Step 01 -->
                <div class="c-sminar">
                    <div class="c-sminar__step">
                        <h4>STEP2</h4>
                        <p>資産の分け方、遺言書を学ぶ</p>
                    </div>
                    <ul class="c-sminar__info">
                        <li><p>贈　与</p><span>暦年課税制度、相続時精算課税制度、教育資金一括贈与</span></li>
                        <li><p>相続トラブル②</p><span></span></li>
                        <li><p>遺言書①</p><span>遺言書の定義、遺言書の必要な方々、遺言書の種類</span></li>
                        <li><p>遺言書②</p><span>遺留分、遺言執行人、付言</span></li>
                    </ul>
                </div>
                <!-- Step 02 -->

                <div class="c-sminar">
                    <h4 class="c-sminar__title">【応用編】 相続税節税と不動産活用</h4>
                    <div class="c-sminar__step">
                        <h4>STEP1</h4>
                        <p>相続税と不動産の評価を学ぶ</p>
                    </div>
                    <ul class="c-sminar__info">
                        <li><p>相続税の基礎</p><span>相続税の変遷、基礎控除、相続税率</span></li>
                        <li><p>不動産の相続評価</p><span>路線価・アパートなどの評価、市街化調整区域の評価</span></li>
                        <li><p>不動産の不良資産とは？</p><span>不良資産のトラブル事例</span></li>
                        <li><p>ROA診断</p><span>ROA診断とは？、こんな方におすすめです</span></li>
                    </ul>
                </div>
                <!-- Step 01 -->

                <div class="c-sminar">
                    <div class="c-sminar__step">
                        <h4>STEP2</h4>
                        <p>節税の対策方法を学ぶ</p>
                    </div>
                    <ul class="c-sminar__info">
                        <li><p>納税資金準備</p><span>生命保険の活用、あえて活用しない土地</span></li>
                        <li><p>節税対策①</p><span>養子縁組、生前贈与</span></li>
                        <li><p>節税対策②</p><span>不良資産のトラブル事例</span></li>
                        <li><p>不動産を活用した節税対策</p><span></span></li>
                    </ul>
                </div>
                <!-- Step 02 -->

                <div class="c-sminar">
                    <div class="c-sminar__step">
                        <h4>STEP3</h4>
                        <p>制度を活用した応用事例を学ぶ</p>
                    </div>
                    <ul class="c-sminar__info">
                        <li><p>節税対策③</p><span>リフォーム、リフォームと贈与の併用</span></li>
                        <li><p>成年後見制度</p><span>成年後見制度とは？・法定後見と任意後見</span></li>
                        <li><p>民事信託</p><span>民事信託とは？・民事信託の活用事例</span></li>
                        <li><p>応用事例</p><span></span></li>
                    </ul>
                </div>
                <!-- Step 03 -->

            </section>
            <!--************************ Section staff1 end ************************-->

            <div class="p-seminar_info2">
                <div class="c-port1">
                    <div class="c-port1__img">
                        <img src="./assets/img/seminar_info/imgpost.png" alt="">
                    </div>
                    <div class="c-port1__info">
                        <h4 class="c-port1__title">【応用編】 相続税節税と不動産活用</h4>
                        <div class="c-port1__step">
                            <p>STEP1<span>相続と不動産の評価を学ぶ</span></p>
                            <a class="c-port1__link" href="">この勉強会に参加を申し込む</a>
                        </div>
                        <div class="c-port1__date">
                            <div class="c-port1__time">
                                <p>09/08 (土)</p>
                                <span>10:30～12:00</span>
                            </div>
                            <div class="c-port1__txt">
                                <dl>
                                    <dd>開催場所：</dd>
                                    <dt>愛知県刈谷市若松町２丁目１０４ <br>
                                        刈谷市総合文化センター　〇F　〇〇セミナールーム</dt>
                                </dl>
                                <dl>
                                    <dd>交　　通：</dd>
                                    <dt>JR東海道線／名鉄三河線　刈谷駅　徒歩1分</dt>
                                </dl>
                                <dl>
                                    <dd>参 加 費 ：</dd>
                                    <dt>無料</dt>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Post 01 -->

                <div class="c-port1">
                    <div class="c-port1__img">
                        <img src="./assets/img/seminar_info/imgpost.png" alt="">
                    </div>
                    <div class="c-port1__info">
                        <h4 class="c-port1__title">【応用編】 相続税節税と不動産活用</h4>
                        <div class="c-port1__step">
                            <p>STEP1<span>相続と不動産の評価を学ぶ</span></p>
                            <a class="c-port1__link" href="">この勉強会に参加を申し込む</a>
                        </div>
                        <div class="c-port1__date">
                            <div class="c-port1__time">
                                <p>09/08 (土)</p>
                                <span>10:30～12:00</span>
                            </div>
                            <div class="c-port1__txt">
                                <dl>
                                    <dd>開催場所：</dd>
                                    <dt>愛知県刈谷市若松町２丁目１０４ <br>
                                        刈谷市総合文化センター　〇F　〇〇セミナールーム</dt>
                                </dl>
                                <dl>
                                    <dd>交　　通：</dd>
                                    <dt>JR東海道線／名鉄三河線　刈谷駅　徒歩1分</dt>
                                </dl>
                                <dl>
                                    <dd>参 加 費 ：</dd>
                                    <dt>無料</dt>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Post 02 -->

            </div>
        </div>
        {{> contact}}
        
    </div>
    <!--************************ main page end ************************-->
  {{/content}}
{{/extend}}
