{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-simulation">

            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/simulation/index_our_service.png" alt="私たちのサービス"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/purchase.html">購入サポート</a></li>
                <li><a href="/sell.html">売却サポート</a></li>
                <li><a href="/simulation.html">住宅ローン<br>コンサルティング</a></li>
            </ul>

            <!--************************ Section simulation1 start ************************-->
            <section class="p-simulation1">
                <h3 class="c-title1">[ 住宅ローンコンサルティング ]</h3>
                <h4 class="c-title2">1.新規借入れ相談</h4>
                <div class="c-text1">
                    <p>当社では主要金融機関の金利や手数料、保証料などの条件を常時把握し、最新の情報を提供しております。<br>
                        金利や条件面だけで判断するのではなく、お客様に合った最適な住宅ローンをご提案いたします。</p>
                </div>
                <h4 class="c-title2">2.借換え相談</h4>
                <div class="c-text1 c-text1--pb">
                    <p>現在住宅ローンの金利水準は超低金利で推移しています。<br>
                        当然ですが現在借入中のローン金利との差が大きいほど、借換えによるメリットは大きくなります。<br>
                        しかし借り換えに伴う手数料や登記料など諸費用がかかります。</p>
                </div>
                <ul class="p-simulation1-btn">
                    <li>1．現在利用しているローンとの金利差が1％以上</li>
                    <li>2．返済期間が10年以上ある</li>
                    <li>3．借入残高が1,000万以上ある</li>
                </ul>
                <div class="c-text1">
                    <p>上記の3つの条件に該当する場合は、諸経費を差し引いても、<br>
                        数十万円～数百万円の金銭的メリットが発生する可能性が高いです。</p>
                </div>
                <div class="c-text1 c-text1--pb">
                    <p>住宅ローンの商品は各金融機関ごとに違いがあり複雑で、つい住宅メーカーや不動産業者、<br>
                        大手企業であれば、提携金融機関の担当者に任せきりになりがちです。<br>
                        手間を惜しまずに金融機関を比較するだけで、大きな差があります。<br>
                        住宅ローンのご相談に来られるお客様は一様に「もっとはやく相談すればよかった」と言われます。<br>
                        当社では変動金利・固定金利など、金利の選択方法や、金融機関ごとの金利比較・諸費用比較など、<br>
                        トータルコストの比較など、わかりづらい住宅ローン選び、重要なポイントを丁寧にわかりやすく解説します。</p>
                </div>
            </section>
            <!--************************ Section simulation1 end ************************-->

            <!--************************ Section simulation1 start ************************-->
            <section class="p-simulation2">
                <h3 class="p-simulation2__title">こちらでは、住宅ローンの簡易的なシュミレーションを行っていただけます。</h3>
                <div class="p-simulation2-iframe">
                    <div class="p-simulation2-iframe__left" id="iframe">
                        <div class="item show-ifr">
                            <iframe onload="parent.scrollTo(0,0);" src="//www.hyas.co.jp/linkservice/simulation/simulation_price.html" width="500" height="560" scrolling="no" frameborder="0" marginwidth="0" marginheight="0"></iframe>
                        </div>
                        <div class="item">
                            <iframe onload="parent.scrollTo(0,0);" src="//www.hyas.co.jp/linkservice/simulation/simulation_price.html" width="500" height="560" scrolling="no" frameborder="0" marginwidth="0" marginheight="0"></iframe>
                        </div>
                        <div class="item">
                            <iframe onload="parent.scrollTo(0,0);" src="//www.hyas.co.jp/linkservice/simulation/simulation_timing.html" width="500" height="750" scrolling="no" frameborder="0" marginwidth="0" marginheight="0"></iframe>
                        </div>
                        <div class="item">
                            <iframe onload="parent.scrollTo(0,0);" src="//www.hyas.co.jp/linkservice/simulation/simulation_rent.html" width="500" height="610" scrolling="no" frameborder="0" marginwidth="0" marginheight="0"></iframe>
                        </div>
                        <div class="item">
                            <iframe onload="parent.scrollTo(0,0);" src="//www.hyas.co.jp/linkservice/myhome/my_01.html" width="500" height="850" scrolling="no" frameborder="0" marginwidth="0" marginheight="0"></iframe>
                        </div>
                    </div>
                    <div class="p-simulation2-iframe__right" id="iframeClick">
                        <a data-iframe = '0' href="javascript:void(0)"><img src="/assets/img/simulation/simulation_button1.png" alt=""></a>
                        <a data-iframe = '1' href="javascript:void(0)"><img src="/assets/img/simulation/simulation_button2.png" alt=""></a>
                        <a data-iframe = '2' href="javascript:void(0)"><img src="/assets/img/simulation/simulation_button3.png" alt=""></a>
                        <a data-iframe = '3' href="javascript:void(0)"><img src="/assets/img/simulation/simulation_button4.png" alt=""></a>
                    </div>
                </div>
            </section>
            <!--************************ Section simulation1 end ************************-->

        </div>

        {{> contact}}
        
    <!--************************ main page end ************************-->
    </div>
  {{/content}}
{{/extend}}
