{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-staff">

            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/staff/index_company.png" alt="会社案内"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/company_profile">会社概要</a></li>
                <li><a href="/philosophy">経営理念</a></li>
                <li><a href="/message">代表挨拶</a></li>
                <li><a href="/staff">スタッフ紹介</a></li>
                <li><a href="/privacy_policy">個人情報の<br>取扱いについて</a></li>
            </ul>

            <!--************************ Section staff1 start ************************-->
            <section class="p-staff1">
                <h3 class="c-title1">[ スタッフ紹介 ]</h3>
                <div class="c-staff1-imgtext">

                    <div class="c-staff1-imgtext__item">
                        <div class="c-staff1-imgtext__img">
                            <img src="/assets/img/staff/kato.png" alt="加藤 克健">
                        </div>
                        <div class="c-staff1-imgtext__info">
                            <h4>加藤 克健（かとう よしたけ）</h4>
                            <dl>
                                <dd>出　　身</dd>
                                <dt>愛知県刈谷市野田町</dt>
                            </dl>
                            <dl>
                                <dd>家族構成</dd>
                                <dt>妻・長女・長男・猫2匹</dt>
                            </dl>
                            <dl>
                                <dd>保有資格</dd>
                                <dt>公認不動産コンサルティングマスター / 相続対策専門士<br>一級ファイナンシャルプランニング技能士 / CFP®認定 / 宅地建物取引士</dt>
                            </dl>
                            <dl>
                                <dd>趣味特技</dd>
                                <dt>最近始めたキャンプ</dt>
                            </dl>
                            <dl>
                                <dd>座右の銘</dd>
                                <dt>相手への思いやりと敬意</dt>
                            </dl>
                            <dl>
                                <dd>ひとこと</dd>
                                <dt>愛知県刈谷市に生まれ育ちました。地元の皆様に支えられて、今年で開業6年目になります。<br>「加藤さんは信用できます。」最近お客様に言われて一番嬉しかった一言です。</dt>
                            </dl>
                        </div>
                    </div>
                    <!-- Infor staff 01 -->

                    <div class="c-staff1-imgtext__item">
                        <div class="c-staff1-imgtext__img">
                            <img src="/assets/img/staff/matsumoto.png" alt="松本 孝輔">
                        </div>
                        <div class="c-staff1-imgtext__info">
                            <h4>松本 孝輔（まつもと こうすけ）</h4>
                            <dl>
                                <dd>出　　身</dd>
                                <dt>愛知県安城市</dt>
                            </dl>
                            <dl>
                                <dd>家族構成</dd>
                                <dt>独身</dt>
                            </dl>
                            <dl>
                                <dd>保有資格</dd>
                                <dt>宅地建物取引士 / 2級ファイナンシャルプランニング技能士<br>住宅ローンアドバイザー</dt>
                            </dl>
                            <dl>
                                <dd>趣味特技</dd>
                                <dt>最近始めたサックス</dt>
                            </dl>
                            <dl>
                                <dd>座右の銘</dd>
                                <dt>為せば成る為さねば成らぬ何事も（上杉鷹山氏）</dt>
                            </dl>
                            <dl>
                                <dd>ひとこと</dd>
                                <dt>お客様の納得できる自己判断をお手伝いいたします。</dt>
                            </dl>
                        </div>
                    </div>
                    <!-- Infor staff 02 -->

                    <div class="c-staff1-imgtext__item">
                        <div class="c-staff1-imgtext__img">
                            <img src="/assets/img/staff/suzuki.png" alt="鈴木 崇大">
                        </div>
                        <div class="c-staff1-imgtext__info">
                            <h4>鈴木 崇大（すずき たかひろ）</h4>
                            <dl>
                                <dd>出　　身</dd>
                                <dt>愛知県碧南市</dt>
                            </dl>
                            <dl>
                                <dd>家族構成</dd>
                                <dt>妻・長男・次男・父・母・祖母</dt>
                            </dl>
                            <dl>
                                <dd>保有資格</dd>
                                <dt>宅地建物取引士 / 賃貸不動産経営管理士</dt>
                            </dl>
                            <br><br>
                            <dl>
                                <dd>趣味特技</dd>
                                <dt>最近やってないテニス、ムーンウォーク</dt>
                            </dl>
                            <dl>
                                <dd>座右の銘</dd>
                                <dt>腰は低く、押しは強く。</dt>
                            </dl>
                            <dl>
                                <dd>ひとこと</dd>
                                <dt>あなたにとってのベストな選択のお手伝いを致します。</dt>
                            </dl>
                        </div>
                    </div>
                    <!-- Infor staff 03 -->

                    <div class="c-staff1-imgtext__item">
                        <div class="c-staff1-imgtext__img">
                            <img src="/assets/img/staff/sato.png" alt="佐藤 香世子">
                        </div>
                        <div class="c-staff1-imgtext__info">
                            <h4>佐藤 香世子（さとう かよこ）</h4>
                            <dl>
                                <dd>出　　身</dd>
                                <dt>愛知県刈谷市</dt>
                            </dl>
                            <dl>
                                <dd>家族構成</dd>
                                <dt>(好きなこと）歴史、スノーボード</dt>
                            </dl>
                            <dl>
                                <dd>担当業務</dd>
                                <dt>総務・経理</dt>
                            </dl>
                            <dl>
                                <dd>ひとこと</dd>
                                <dt>「明るく清潔感のある店内」を心がけ、笑顔でお客様をお迎えします。<br>ご来店お待ちしております！</dt>
                            </dl>
                        </div>
                    </div>
                    <!-- Infor staff 04 -->

                    <div class="c-staff1-imgtext__item">
                        <div class="c-staff1-imgtext__img">
                            <img src="/assets/img/staff/sakakibara.png" alt="榊原 真理">
                        </div>
                        <div class="c-staff1-imgtext__info">
                            <h4>佐藤 香世子（さとう かよこ）</h4>
                            <dl>
                                <dd>出　　身</dd>
                                <dt>愛知県豊明市</dt>
                            </dl>
                            <dl>
                                <dd>家族構成</dd>
                                <dt>息子２人と秋田犬１匹</dt>
                            </dl>
                            <dl>
                                <dd>保有資格</dd>
                                <dt>大型免許 / 宅建士資格取得に向けて勉強中！</dt>
                            </dl>
                            <dl>
                                <dd>趣味特技</dd>
                                <dt>アニメ / TV映画鑑賞 / ドライブ</dt>
                            </dl>
                            <dl>
                                <dd>座右の銘</dd>
                                <dt>人生全て学びの教材</dt>
                            </dl>
                            <dl>
                                <dd>ひとこと</dd>
                                <dt>出逢いに感謝し、皆様のハッピーに貢献させて頂けることが何よりも嬉しいことです。<br>どうぞお気軽にお越しくださいませ。</dt>
                            </dl>
                            <dl>
                                <dd>将来の夢</dd>
                                <dt>宇宙空間に出ること！</dt>
                            </dl>
                        </div>
                    </div>
                    <!-- Infor staff 05 -->

                    <div class="c-staff1-imgtext__item">
                        <div class="c-staff1-imgtext__img">
                            <img src="/assets/img/staff/nadayasuko.png" alt="名田 暖子">
                        </div>
                        <div class="c-staff1-imgtext__info">
                            <h4>佐藤 香世子（さとう かよこ）</h4>
                            <dl>
                                <dd>出　　身</dd>
                                <dt>愛知県安城市</dt>
                            </dl>
                            <dl>
                                <dd>家族構成</dd>
                                <dt>夫・娘・犬二匹</dt>
                            </dl>
                            <dl>
                                <dd>担当業務</dd>
                                <dt>営業事務</dt>
                            </dl>
                            <dl>
                                <dd>ひとこと</dd>
                                <dt>皆様が気持ちよくご来店いただける様、笑顔でお待ちしております。<br>お気軽にご来店ください！</dt>
                            </dl>
                        </div>
                    </div>
                    <!-- Infor staff 06 -->

                    <div class="c-staff1-imgtext__item">
                        <div class="c-staff1-imgtext__img">
                            <img src="/assets/img/staff/yeah.png" alt="イエイ君">
                        </div>
                        <div class="c-staff1-imgtext__info">
                            <h4>佐藤 香世子（さとう かよこ）</h4>
                            <dl>
                                <dd>出　　身</dd>
                                <dt>海</dt>
                            </dl>
                            <dl>
                                <dd>家族構成</dd>
                                <dt>家族募集中です！</dt>
                            </dl>
                            <dl>
                                <dd>趣味特技</dd>
                                <dt>物件さがし</dt>
                            </dl>
                            <dl>
                                <dd>座右の銘</dd>
                                <dt>あなたの不動産をあなたより考える存在でありたい</dt>
                            </dl>
                            <dl>
                                <dd>ひとこと</dd>
                                <dt>イエイ</dt>
                            </dl>
                        </div>
                    </div>
                    <!-- Infor staff 07 -->

                </div>
            </section>
            <!--************************ Section staff1 end ************************-->

        </div>
        {{> contact}}
        
    <!--************************ main page end ************************-->
    </div>
  {{/content}}
{{/extend}}
