{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">
        <div class="p-store_managemen">

             <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/store_managemen/index_our_service.png" alt="私たちのサービス"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/use_diagnosia.html">土地活用診断</a></li>
                <li><a href="/investment_advice.html">不動産投資助言</a></li>
                <li><a href="/right_adjustmentfield.html ">権利調整分野</a></li>
            </ul>

            <!--************************ Section store_managemen1 start ************************-->
            <section class="p-store_managemen1">
                <h3 class="c-title1">[ ロードサイド店舗経営 ]</h3>
                <div class="p-apart1-img">
                    <img src="/assets/img/store_managemen/our_service_image.png" alt="アパート・マンション経営">
                    <div class="c-text1">
                        <p>「ロードサイド」とは沿道を指します。幹線道路など通行量の多い道路の沿線において、<br>
                            いわゆる「ロードサイド」の土地であれば、駐車場のついた大型店や<br>
                            コンビニ、ファミリーレストランなどを誘致することができます。</p>
                    </div>
                </div>
                <div class="c-table1 c-table1--apart">
                    <dl>
                        <dd>事業の特性</dd>
                        <dt>
                            自動車の普及と郊外人口の増加を背景に、近年ロードサイド店舗は急増しています。<br>
                            ロードサイド店舗には大きく分けて①土地所有者の名義で建物を建て、その建物を賃貸する②土地を賃貸して、テナン<br>
                            トが建物を建築するの2種類があります。<br>
                            建物所有者の名義で建物を建てる場合、土地所有者が自ら資金を用意する以外に、テナントが建設費相当額を土地所<br>
                            有者に差入れ（貸付け）る方法もあります。<br>
                            （建設協力金方式）差し入れられた建設協力金は賃貸期間中賃料と相殺する形で返済していきますが、この方式は、投<br>
                            資を伴わずに建物を所有でき、比較的安定的な収益となります。
                        </dt>
                    </dl>
                    <dl class="c-table1--apart__bd">
                        <dd>計画上の留意点</dd>
                        <dt>
                            <span>立地条件</span>
                            <p>車の通行量の多い幹線道路沿いの立地を原則とし、<br>
                                ・既存の店舗や商業施設がある程度集積している地域 <br>
                                ・住宅地を背景にもち、消費能力の見込める地域<br>
                                などが重要です。また駐車場が必要不可欠な為、ある程度の土地面積がもとめられますが複数の土地<br>
                                所有者と権利調整を行い協力して事業を行うケースもあります。
                            </p>
                            <hr>
                            <span>市場動向</span>
                            <p>自動車の普及に伴って基本的には成長分野といえますが、店舗間の競争・競合も激化しており、テナン<br>
                                トが契約期間内に中途解約することも考えられます。長期にわたる事業計画の採算性について慎重な検討が必要となります。
                            </p>
                        </dt>
                    </dl>
                    <dl class="c-table1--apart__bd">
                        <dd>メリット・デメリット</dd>
                        <dt>
                            <span>メリット</span>
                            <p> 1．車での来店を想定していますので、駅から離れた立地でも成立します<br>
                                2．建物を賃貸する方式の場合、アパート・マンション経営やオフィスビル経営よりも高い収益が得られる可能性があります。<br>
                                3．アパート・マンション経営と比較し、土地所有者の管理の負担が大幅に減ります。
                            </p>
                            <hr>
                            <span>デメリット</span>
                            <p>1．建物を賃貸する方式の場合、建物の建築資金を調達しなければなりません。<br>
                                ほとんどの場合借入が必要になりますので、その分収益は減少します。<br>
                                2．テナントが撤退すると賃料が途絶えます。（0か100か）
                            </p>
                        </dt>
                    </dl>
                </div>
            </section>
            <!--************************ Section store_managemen1 end ************************-->

        </div>
        {{> contact}}

    </div>
    <!--************************ main page end ************************-->
  {{/content}}
{{/extend}}
