{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">
        <div class="p-transfer">
            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/common/index_our_service.png" alt="私たちのサービス"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/reduction_of_evaluation">相続税評価額の引下げ</a></li>
                <li><a href="/transfer_of_property">贈与等による財産の移転</a></li>
                <li><a href="/delivery_of_real_estate">不動産の物納対策</a></li>
            </ul>

            <!--************************ Section reduction1 start ************************-->
            <section class="p-transfer1">
                <div class="l-container">
                    <h3 class="c-title1">[ 贈与等による財産の移転 ]</h3>
                    <div class="c-text1">
                        <p class="c-text1-center">贈与等による財産の移転は、生前に財産を移転し、被相続人の課税遺産総額を減額する方法で、<br>
                            不動産を利用した相続対策において最も基本的な手法の一つです。</p>
                    </div>
                    <div class="c-text1">
                        <p>1. 配偶者に対する贈与税の特例<br>
                            婚姻期間が20年以上である配偶者から居住用不動産または居住用不動産を取得するための金銭の贈与を受けた場合、その贈与を受けた財産の価格から贈与税の基礎控除額110万円とは別に2,000万円まで控除することが可能です。「贈与税の配偶者控除の特例」といい、非課税で2,000万円（基礎控除を含めると2,110万円）まで財産の移転を行うことが可能となります。<br>
                            また居住用土地の一部のみではなく、建物の持分の一部を贈与し共有財産になれば、将来的に売却した際は譲渡所得税の計算において、居住用財産の3,000万円の特別控除を夫婦それぞれに適用することができ、合計6,000万円までの控除が可能となり、譲渡所得税の節税につながります。</p>
                    </div>
                    <div class="c-text1">
                        <p>2. 相続時精算課税制度の特例<br>
                            相続時精算課税の制度とは、原則として60歳以上の父母又は祖父母から、20歳以上の推定相続人である子又は孫に対し、財産を贈与した場合において選択できる贈与税の制度です。　この制度を選択すると、その選択に係る贈与者から贈与を受ける財産については、その選択をした年分以降全てこの制度が適用され、「暦年課税」へ変更することはできません。<br>
                            また、この制度の贈与者である父母又は祖父母が亡くなった時の相続税の計算上、相続財産の価額にこの制度を適用した贈与財産の価額（贈与時の時価）を加算して相続税額を計算します。　このように、相続時精算課税の制度は、贈与税・相続税を通じた課税が行われる制度です。
                    </div>
                    <div class="c-text1">
                        <p>3. 住宅取得資金の為の贈与税の非課税<br>
                            直系尊属である両親、祖父母などから住宅取得資金として贈与を受けた場合に一定の金額が非課税となる制度です。この制度は、単独で使うことも、相続時精算課税制度と組み合わせて使うことも可能です。
                        </p>
                    </div>
                </div>
            </section>
            <!--************************ Section reduction1 end ************************-->

            <!--************************ Section reduction2 start ************************-->
            <section class="p-transfer2">
                <div class="l-container">
                    <h3 class="c-title1">非課税限度額</h3>
                    <div class="c-text1">
                        <p class="c-text1-center">
                            受贈者ごとの非課税限度額は、次の表のとおり、新築等をする住宅用の家屋の種類ごとに、<br>
                            受贈者が最初に非課税の特例の適用を受けようとする住宅用の家屋の新築等に係る契約の締結日に応じた金額となります。
                        </p>
                    </div>
                    <div class="c-table1 c-table1--trf">
                        <dl class="c-table1--trf__top">
                            <dd>住宅用家屋の新築等に係る契約の締結日</dd>
                            <dt>省エネ等住宅</dt>
                            <dt>左記以外の住宅</dt>
                        </dl>
                        <dl>
                            <dd>～平成27年12月31日</dd>
                            <dt>1,500万円</dt>
                            <dt>1,000万円</dt>
                        </dl>
                        <dl>
                            <dd>平成28年1月1日～平成32年（2020年）3月31日</dd>
                            <dt>1,1,200万円</dt>
                            <dt>700万円</dt>
                        </dl>
                        <dl>
                            <dd>平成32年（2020年）4月1日～平成33年（2021年）3月31日</dd>
                            <dt>1,000万円</dt>
                            <dt>500万円</dt>
                        </dl>
                        <dl>
                            <dd>平成33年（2021年）4月1日～平成33年（2021年）12月31日</dd>
                            <dt>800万円</dt>
                            <dt>300万円</dt>
                        </dl>
                    </div>
                    <div class="c-text1">
                        <p class="c-text1-center">住宅用の家屋の新築等に係る対価等の額に含まれる消費税等の税率が10％である場合</p>
                    </div>
                    <div class="c-table1 c-table1--trf">
                        <dl class="c-table1--trf__top">
                            <dd>住宅用家屋の新築等に係る契約の締結日</dd>
                            <dt>省エネ等住宅</dt>
                            <dt>左記以外の住宅</dt>
                        </dl>
                        <dl>
                            <dd>平成31年（2019年）4月1日～平成32年（2020年）3月31日</dd>
                            <dt>3,000万円</dt>
                            <dt>2,500万円</dt>
                        </dl>
                        <dl>
                            <dd>平成32年（2020年）4月1日～平成33年（2021年）3月31日</dd>
                            <dt>1,500万円</dt>
                            <dt>1,000万円</dt>
                        </dl>
                        <dl>
                            <dd>平成33年（2021年）4月1日～平成33年（2021年）12月31日</dd>
                            <dt>1,200万円</dt>
                            <dt>700万円</dt>
                        </dl>
                    </div>
                    <div class="c-transfer2">
                        <div>
                            <span>(注1)</span>
                            <p>
                                既に非課税の特例の適用を受けて贈与税が非課税となった金額がある場合には、その金額を控除した残額が非課税限度額となります。<br>
                                （一定の場合を除きます。）ただし、上記ロの表における非課税限度額は、平成31年（2019年）3月31日までに住宅用の家屋の新築等に
                                係る契約を締結し、既に非課税の特例の適用を受けて贈与税が非課税となった金額がある場合でも、その金額を控除する必要はありま
                                せん。<br>
                                また、平成31年（2019年）4月1日以後に住宅用の家屋の新築等に係る契約を締結して非課税の特例の適用を受ける場合の受贈者ごと<br>
                                の非課税限度額は、上記イ及びロの表の金額のうちいずれか多い金額となります。
                            </p>
                        </div>
                        <div>
                            <span>(注2)</span>
                            <p>
                                「省エネ等住宅」とは、省エネ等基準（1断熱等性能等級4若しくは一次エネルギー消費量等級4以上であること、1耐震等級（構造躯体の
                                倒壊等防止）2以上若しくは免震建築物であること又は1高齢者等配慮対策等級（専用部分）3以上であること）に適合する住宅用の家屋
                                であることにつき、一定の書類により証明されたものをいいます。
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!--************************ Section reduction2 end ************************-->
        </div>
        {{> contact}}

    </div>
    <!--************************ main page end ************************-->
  {{/content}}
{{/extend}}
