{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">
        <div class="p-use_diagnosis">
            <!--************************ MainBlock start ************************-->
            <div class="c-mainBlock">
                <div class="c-mainBlock__img"><img src="/assets/img/common/index_our_service.png" alt="私たちのサービス"></div>
            </div>
            <!--************************ MainBlock end ************************-->
            <ul class="c-navi1">
                <li><a href="/use_diagnosia.html">土地活用診断</a></li>
                <li><a href="/investment_advice.html">不動産投資助言</a></li>
                <li><a href="/right_adjustmentfield.html">権利調整分野</a></li>
            </ul>
            
            <!--************************ Section use_diagnosis1 start ************************-->
            <section class="p-use_diagnosis1">
                <h3 class="c-title1">[ 土地活用診断 ]</h3>
                <div class="c-text1">
                    <p>土地の有効活用をする目的として、相続対策をしたい、所得を増やしたいなどがあります。<br>
                        不動産の有効活用は相続抜きには考えることはできません。しかし、いま相続が発生した場合、どのくらいの相続税が<br>
                        かかるかを把握していたり、また全体資産の中でどのような活用効果があるかを十分に理解している人は意外に少なく、<br>
                        活用（事業スタート）後に後悔するケースも見受けられます。</p>
                    <p>
                    土地の有効活用をするには多額の資金を投入する場合もあり、また一度活用を開始すると容易に転用や中止をすることができません。<br>
                    最適な選択をするためには、不動産の権利関係や法令上の制限、市場ニーズ、土地所有者の資産状況や所得状況を考慮したうえで、<br>
                    様々な活用方法や活用形態を選択しなければなりません。</p>
                </div>
            </section>
            <!--************************ Section use_diagnosis1 end ************************-->

            <!--************************ Section use_diagnosis2 start ************************-->
            <section class="p-use_diagnosis2">
                <h3 class="c-title1">こんなお悩みはありませんか？</h3>
                <div class="c-diagnosis2">
                    <div class="c-text1">
                        <p>
                            ・ 土地の最適な活用方法を知りたい<br>
                            ・ アパート経営を検討しているが、事業計画に不安がある<br>
                            ・ 所有のアパート、空室が目立ってきた<br>
                            ・ 遊休地はあるが、立地や大きさ、地型などで活用をあきらめている<br>
                            ・ 多額の投資はしたくない。<br>
                            ・ 生産緑地指定があるからしかたない<br>
                            ・ アパートメーカーの「30年一括借上げ」ほんとに大丈夫？<br>
                            ・ 親から引き継いだ農地、農業はやるつもりはない<br>
                            ・ 固定資産税の支払いが大変
                        </p>
                    </div>
                    <div class="c-diagnosis2__img">
                        <img src="/assets/img/use_diagnosis/toshikatsuyoushindan_image1.png" alt="こんなお悩みはありませんか？">
                    </div>
                </div>
            </section>
            <!--************************ Section use_diagnosis2 end ************************-->

            <!--************************ Section use_diagnosis3 start ************************-->
            <section class="p-use_diagnosis3">
                <h3 class="c-title1">土地の有効活用形態</h3>
                <div class="c-text1">
                    <p>土地活用といっても、その方法は単純な土地の売却を除けば　1．建物を建てて貸す　2．土地を貸す　の2つに大別されます。<br>
                        土地の有効活用を行うに当たっては、立地特性、収益性、公法上に規制税制上の観点から総合的な検討をする必要があります。</p>
                </div>
                <div class="c-diagnosis3-list">
                    <ul>
                        <li><a href="/apart.html"><img src="/assets/img/use_diagnosis/toshikatsuyoushindan_apart.png" alt="アパート・マンション経営"></a></li>
                        <li><a href="/parking.html"><img src="/assets/img/use_diagnosis/toshikatsuyoushindan_parking.png" alt="駐車場経営"></a></li>
                        <li><a href="/office_building.html"><img src="/assets/img/use_diagnosis/toshikatsuyoushindan_officebild.png" alt="オフィスビル経営・商業施設経営"></a></li>
                        <li><a href="/store_managemen.html"><img src="/assets/img/use_diagnosis/toshikatsuyoushindan_store.png" alt="ロードサイド店舗経営"></a></li>
                        <li><a href="/leasehold.html"><img src="/assets/img/use_diagnosis/toshikatsuyoushindan_leasehold.png" alt="定期借地権"></a></li>
                    </ul>
                </div>
            </section>
            <!--************************ Section use_diagnosis3 end ************************-->

            <!--************************ Section use_diagnosis4 start ************************-->
            <section class="p-use_diagnosis4">
                <h3 class="c-title1">業務の流れ</h3>
                <div class="c-diagnosis4">
                    <div class="c-diagnosis4__text">
                        <div class="c-diagnosis4__step">
                            <img src="/assets/img/use_diagnosis/step01.png" alt="">
                            <p>お申し込みフォーム・FAX・メール・お電話にてお問い合わせください。</p>
                        </div>
                        <div class="c-diagnosis4__step">
                            <img src="/assets/img/use_diagnosis/step02.png" alt="">
                            <p>ご予約のご連絡が届き次第、弊社よりご連絡をさせて頂き、依頼主様より<br>
                                案件の内容、及び有効活用に対するお考えをヒアリングさせていただきます。<br>
                                (メールやお電話によるご相談も可能です)</p>
                        </div>
                        <div class="c-diagnosis4__step">
                            <img src="/assets/img/use_diagnosis/step03.png" alt="">
                            <p>現地・周辺調査<br>
                                (立地、環境、マーケティング調査、商業調査)</p>
                        </div>
                        <div class="c-diagnosis4__step">
                            <img src="/assets/img/use_diagnosis/step04.png" alt="">
                            <p>役所、法務局等、各所轄官庁での調査<br>
                                (建築基準法、都市計画法、各指導要網、各法令チェック)</p>
                        </div>
                        <div class="c-diagnosis4__step">
                            <img src="/assets/img/use_diagnosis/step05.png" alt="">
                            <p>企画提案書を作成の上、ご報告・ご提案させていただきます。</p>
                        </div>
                    </div>
                    <div class="c-diagnosis4__img">
                        <img src="/assets/img/use_diagnosis/toshikatsuyoushindan_report.png" alt="不動産最適化診断レポートイメージ">
                    </div>
                    <div class="c-text1">
                        <p>ご希望に応じて、調査結果のご報告後も継続的なコンサルティングを行います。</p>
                    </div>
                </div>
            </section>
            <!--************************ Section use_diagnosis4 end ************************-->
        </div>

        {{> contact}}

    </div>
    <!--************************ main page end ************************-->
  {{/content}}
{{/extend}}
