{{#extend "default"}}
  {{#content "main"}}
    <!--************************ main page start ************************-->
    <div class="l-main">

        <div class="p-vacant_house">
                <!--************************ MainBlock start ************************-->
                <div class="c-mainBlock">
                    <div class="c-mainBlock__img"><img src="/assets/img/vacant_house/index_our_service.png" alt="私たちのサービス"></div>
                </div>
                <!--************************ MainBlock end ************************-->

            <!--************************ Section vacant_house1 start ************************-->
            <section class="p-vacant_house1">
                <h3 class="c-title1">[ 空き家活用と管理 ]</h3>
                <div class="c-text1">
                    <p>少子高齢化によって地方を中心に日本でも空き家が多くなってきました。<br>
                        その割合は毎年増加してきて、行政・近隣住民などに大きな問題を引き起こしています。<br>
                        2014年7月の総務省発表のデータによると、820万戸が空き家で総住宅数に対して13.5%が空き家というデータが出ています。<br>
                        空家等対策の推進に関する特別措置法の施行により、「特定空き家」に指定された空き家の所有者には<br>
                        固定資産税の減税対象から除外されることになりました。 <br>
                        　また空き家の解体やリフォーム等には自治体から補助金を出す事例も増えてきています。
                    </p>
                    <p>
                        「実家が空き家になっているが、遠方に住んでいて管理ができない。」<br>
                        「樹木や雑草などの管理ができず、近隣に迷惑が掛からないか心配。」<br>
                        「放火や空き巣など、犯罪の温床にならないか・・・。」<br>
                        「法事や兄弟等で集まるために、年に数回は使用するため、売却や賃貸はできない。」
                    </p>
                    <p>当社では、空き家オーナー様個別の事情を鑑み、ご希望に応じたご提案をさせていただきます。</p>
                </div>
                <div class="p-vacant_house1__link">
                    <a href="#houwtouse"><img src="/assets/img/vacant_house/houwtouse_button.png" alt="空き家の活用方法を詳しく知る"></a>
                    <a href="#kanri"><img src="/assets/img/vacant_house/kanri_button.png" alt="空き家管理について詳しく知る"></a>
                </div>
            </section>
            <!--************************ Section vacant_house1 end ************************-->

            <!--************************ Section vacant_house2 start ************************-->
            <section class="p-vacant_house2" id="houwtouse">
                <h3 class="c-title1">[ 近隣の空き家に困っている方へ ]</h3>
                <p><img src="/assets/img/vacant_house/vacant_house_image.png" alt="近隣の空き家に困っている方へ"></p>
                <div class="c-text1">
                    <p>近所の空き家でこんな困りごとはありませんか？<br>
                        建物の所有者が分からなくても、当社にてお調べし、所有者へご連絡させていただきます。<br>
                        ご近所に放置されている空き家で困っている方は、当社までご連絡ください。
                    </p>
                </div>
            </section>
            <!--************************ Section vacant_house2 end ************************-->

            <!--************************ Section vacant_house3 start ************************-->
            <section class="p-vacant_house3">
                <h3 class="c-title1">[ 空き家の活用方法 ]</h3>
                <div class="c-text1">
                    <p>空き家には、所有される空き家の状態や、将来的にどうしたいのかという意向によって、<br>
                        活用方法は異なりますが、大きく分けて「賃貸」と「売却」に分けられます。
                    </p>
                </div>
            </section>
            <!--************************ Section vacant_house3 end ************************-->

            <!--************************ Section vacant_house4 start ************************-->
            <section class="p-vacant_house4">
                <div class="c-table1">
                    <dl class="c-table1-top">
                        <dd></dd>
                        <dt>賃貸　 -空家を貸す-</dt>
                    </dl>
                    <dl>
                        <dd>活用方法の説明</dd>
                        <dt>建物を賃貸に出すことで、建物が傷むことを防ぎ、安定した収入が得られる反面、自宅といえどもいったん貸すと、貸主側の事情では基本的に退去を強制できないので、再び自己利用（住みたい）場合や売却したい場合、容易にできない可能性があります。 その場合は定期借家契約の活用も検討できます。<br> 
                        　定期借家契約は期間の満了により契約は終了し、更新はありません。しかし、入居募集の段階で借主が限定的になり、賃料が下がったり、そもそも入居が見込めなくなるリスクもあります。<br>
                        　当社では、入居者の募集段階での審査から、入居期間中の管理、退去時の清算手続きに至るまで、お手伝いさせていただきます。</dt>
                    </dl>
                    <dl>
                        <dd>契約内容</dd>
                        <dt><h4><span>A．</span>普通借家契約</h4>
                            メリットは、安定した賃料収入を得られることです。<br>
                            デメリットは、立ち退き交渉が困難ということです。<br>
                            その他のリスクとして、賃料の滞納や借家人とのトラブル、不良借家人による建物の傷みなど、管理面でのリスクもあります。</dt>
                    </dl>
                </div>
                <div class="c-table1">
                    <dl class="c-table1-top">
                        <dd></dd>
                        <dt>売却　-空家を売る-</dt>
                    </dl>
                    <dl>
                        <dd>活用方法の説明</dd>
                        <dt>空き家を売却し換金することで、建物を管理する手間や時間はもちろん、固定資産税も支払う必要がなくなります。<br>
                        　しかし注意点としては、「売った場合の売却価格が住宅ローン残債を上回るかどうか」です。売却額がローン残高を下回り、売ってもローンを完済できない場合、その差額分を貯金などの自己資金で補てんする必要があります。<br>
                        　住宅の売却額は建物の築年数などはもちろん、景気にも大きく左右されます。景気が低迷している時期は地価や住宅価格も下がり気味なので、希望の価格で売却することが困難な場合もあります。<br>
                        　売却を検討するにあたって、ローン残高が多額に残っていたり、せっかくなら評価や相場の高い時期に売却した</dt>
                    </dl>
                    <dl>
                        <dd>契約内容</dd>
                        <dt><h4><span>A．</span>中古住宅として売却 </h4>
                            空き家をそのまま売却することによる売主のメリットは解体の手間や費用がかからない事です。この場合、取引条件によって異なりますが、リフォーム費用や建物解体や造成等の費用は買主の負担となります。また購入者は新たに家を建てる必要がない為金銭的なメリットが大きくなります。しかし建物が古く、間取りや設備機器が買主の希望とマッチしにくい場合、建物が土地売却の足かせとなる事もあります。
                            <br><br>
                            <h4><span>B．</span>建物を解体して売却</h4>
                            建物を解体して更地にすることで、一時的な解体費用の出費にはなりますが、「建物付土地」よりも高く売却することができる可能性があります。また、買主も解体費用の負担がなくなるだけでなく、購入を検討する段階で家を建てるイメージがしやすくなります。
                        </dt>
                    </dl>
                </div>
            </section>
            <!--************************ Section vacant_house4 end ************************-->

            <!--************************ Section vacant_house5 start ************************-->
            <section class="p-vacant_house5" id="kanri">
                <h3 class="c-title1">[ 空き家管理 ]</h3>
                <div class="c-text1">
                    <p>家は住まなくなって放置すると次第に傷んで住めなくなってしまいます。<br>
                        また、長年放置された空き家は景観を損ねるだけでなく放火や空き巣、不法投棄などの犯罪の温床にもなりかねません。
                    </p>
                    <p>賃貸や売却をお考えでない方、安心して管理を任せたい方、どうしたら良いのか分からない方、<br>
                        当社では、空き家を無料にて管理させていただきます。<br>
                        建物のカギはお預かりせずに、外側からのチェック及び近隣からのクレーム処理等を行い、<br>
                        月1回写真付き書面にてご報告させていただきます。</p>
                </div>
                <div class="c-table1">
                    <dl>
                        <dd>管理内容</dd>
                        <dt>
                            ・月1回の訪問による巡回管理<br>
                            ・管理看板の設置及び、近隣へのご挨拶（隣接地のみ）<br>
                            ・目視による建物チェック（老朽や防犯等）<br>
                            ・樹木や雑草等の越境、不法投棄の状況<br>
                            ・近隣からのクレーム対応
                        </dt>
                    </dl>
                    <dl>
                        <dd>対応エリア</dd>
                        <dt>西三河全域（刈谷市、安城市、知立市、高浜市、碧南市、豊田市、岡崎市、西尾市）<br>
                            名古屋市の一部の地域（緑区、南区、瑞穂区、昭和区、天白区）<br>
                            その他のエリア（大府市、豊明市、東海市、知多郡東浦町）<br>
                            ※対応エリア外の空き家や、鍵をお預かりしての建物内の管理は有料となります。
                        </dt>
                    </dl>
                    <dl>
                        <dd>有料での <br>
                            管理サービスメニュー</dd>
                        <dt>・建物内の清掃、通水、通風<br>
                            ・ごみの片付け<br>
                            ・庭木の剪定、草刈り<br>
                            ・郵便物の転送 <br>
                            <br>
                            管理料金は建物所在地及びサービスメニュー、巡回回数に応じて決定します。（月額3,000～10,000円内消費税 別途で応相談）
                        </dt>
                    </dl>
                </div>
                <div class="c-text1">
                    <p>また住宅などの居住用建物だけでなく、店舗、事務所、ビル、工場、倉庫などの事業用建物も管理を行っています。まずはご相談ください。</p>
                </div>
            </section>
            <!--************************ Section vacant_house5 end ************************-->
        </div>

        {{> contact}}
        
    <!--************************ main page end ************************-->
    </div>
  {{/content}}
{{/extend}}
