/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1{
  font-size: 18px;
  color: #231815;
  @include mincyo;
  font-weight: bold;
  line-height: 1.7;
  padding-bottom: 15px;
}

.c-title2{
  font-size: 14px;
  color: #10386B;
  @include mincyo;
  font-weight: bold;
  line-height: 1.7;
  padding-bottom: 5px;
}

.c-title3{
  font-size: 18px;
  line-height: 1.8;
  @include mincyo;
  font-weight: bold;
}