/*------------------------------------------------------------
form
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.icon-search-container {
  display: inline-block;
  border: 2px solid #d9d9d9;
  border-radius: 12px;
  height: 24px;
  width: 50px;
  position: relative;
  transition: width 0.2s ease-out;
  backface-visibility: hidden;
  margin-top: 31px;
  background-color: #fff;
  @include sp{
    margin-top: 20px;
    width: 50%;
    height: 30px;
    border-radius: 15px;
  }
  &.active {
    width: 125px;
    @include sp{
      width: 80%;
    }
    .fa-times-circle {
      opacity: 1;
    }
    .search-input {
      width: 70px;
      padding-left: 22px;
      @include sp{
        width: 80%;
      }
    }
  }
  .fa-search {
    position: absolute;
    content: "";
    background: url(../img/common/search.png) no-repeat;
    width: 24px;
    height: 24px;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
  }
  .fa-times-circle {
    opacity: 0;
    color: #d9d9d9;
    font-size: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: opacity 0.2s ease-out;
    cursor: pointer;
    background: url(../img/common/icondeleted.png) no-repeat;
    height: 16px;
    width: 16px;
    @include sp{
      top: 4px;
    }
  }
  .search-input {
    position: absolute;
    cursor: default;
    left: 0;
    top: -5px;
    width: 0;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0);
    transition: width 0.2s ease-out;
    @include sp{
      top: -2px;
    }
  }
}

/*------------------------------------------------------------
form
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-form1 {
  width: 800px;
  margin: 0 auto;
  @include sp{
    @include wsp;
  }

  //-------------------------------------------------------
  &__col {
    display: flex;
    align-items: center;
    padding: 25px 0;
    border-top: 1px solid #BFBFBF;
    @include sp{
      padding: 15px 0;
    }
  }

  //-------------------------------------------------------
  &__col--left {
    width: 180px;
    font-size: 14px;
    color: #000;
    position: relative;
    line-height: 1.4;
    font-weight: bold;
    @include mincyo;
    @include sp{
      width: 120px;
      margin-right: 10px;
      min-width: 100px;
      letter-spacing: -0.5px;
    }
  }

  //-------------------------------------------------------
  &__col--right {
    width: 620px;
    @include sp{
      width: auto;
      margin: 0 auto;
    }
    button {
      background-color: #DCDDDD;
      border: 1px solid #3E3A39;
      height: 35px;
      width: 150px;
      cursor: pointer;
      color: #000;
      @include mincyo;
      border-radius: 17.5px;
      margin-left: 145px;
      margin-top: 50px;
      @include sp{
        margin-left: -110px;
        margin-top: 30px;
      }
    }
    small{
      font-size: 14px;
      color: #000;
      line-height: 1.4;
    }
  }

  //-------------------------------------------------------
  input, select {
    box-sizing: border-box;
    height: 30px;
    font-size: 12px;
    color: #000;
    border: 2px solid #BFBFBF;
    @include mincyo;
    padding-left: 5px;
    @include sp{
      border: 1px solid #BFBFBF;
    }
  }
  input::placeholder {
    color: #a3a3a3;
    @include mincyo;
  }
  select {
    height: 20px;
    border-radius: 5px;
    width: 130px;
    border: 1px solid #7F7F7F;
    border-right: 2px solid #00A2FF;
    appearance: none;
    background: url(../img/contact/icon-select.png) no-repeat 101% 50%;
    cursor: pointer;
    &::placeholder {
      color: #a3a3a3;
      @include mincyo;
    }
  }
  textarea {
    width: 500px;
    height: 110px;
    border: 1px solid #BFBFBF;
    @include sp{
      height: auto;
      min-height: 60px;
    }
  }
  input {
    &[type="checkbox"], &[type="radio"] {
      position: absolute;
      cursor: pointer;
      opacity: 0;
    }
  }

  //-------------------------------------------------------
  &__w01 {
    width: 500px;
  }
  //-------------------------------------------------------
  &__w02 {
    width: 135px;
    border: 1px solid #7F7F7F !important;
  }
  //-------------------------------------------------------
  &__w03 {
    width: 40px;
    height: 20px !important;
  }

  //-------------------------------------------------------
  &__checker {
    position: relative;
    font-size: 14px;
    color: #000;
    padding-left: 25px;
    display: inline-block;
    margin-right: 44px;
    cursor: pointer;
    user-select: none;
    &:last-of-type {
      margin-right: 0;
    }
    strong {
      font-size: 16px;
      font-weight: normal;
      margin-top: 2px;
      display: inline-block;
    }
    .checkmark, .radioCheck {
      z-index: -1;
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      height: 15px;
      width: 15px;
      border: 1px solid #ccc;
      background-color: #fff;
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: 4px;
      top: 1px;
      width: 3px;
      height: 8px;
      border: solid #595757;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    .radioCheck {
      border-radius: 50%;
      width: 16px;
      height: 16px;
      top: 2px;
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 4px;
        top: 1px;
        width: 3px;
        height: 8px;
        border: solid #595757;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        border: 0;
        background-color: #000;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        left: 3px;
        top: 3px;
      }
    }
    input:checked ~ {
      .checkmark:after, .radioCheck:after {
        display: block;
      }
    }
  }
}
.c-form1-time{
  display: inline;
  @include sp{
    display: block;
  }
}
.l-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #BFBFBF;
  @include sp{
    justify-content: flex-start;
  }
  &__left{
    width: 180px;
    @include sp{
      width: auto;
      margin-right: 10px;
      min-width: 80px;
    }
  }
  &__right{
    width: 620px;
    display: flex;
    @include sp{
      display: block;
      width: auto;
    }
    .c-form1__col--left{
      width: 80px;
      text-align: right;
      margin-right: 20px;
      @include sp{
        width: auto;
        margin-right: 10px;
        min-width: 65px;
      }
    }
    .c-form1__col{
      border: 0;
      margin-right: 50px;
      @include sp{
        margin-right: 0;
      }
    }
  }
}
