/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text1{
  p{
    font-size: 14px;
    color: #231815;
    @include mincyo;
    font-weight: normal;
    line-height: 1.7;
  }
  &--pb{
    padding-top: 40px;
  }
  &-bd{
    border: 2px solid #C8C5C4;
    padding: 5px;
    margin-bottom: 30px;
    p{
      padding-bottom: 0 !important;
    }
  }
  &--mg{
    padding-top: 25px;
  }
  &--fee2{
    text-align: center;
    padding: 20px 0 30px;
    @include sp{
      padding: 0 0 15px;
      @include wsp;
    }
  }
  &-center{
      text-align: center;
  }
  // page right_adjustmentfield
  &__title{
    margin-top: 22px;
    font-size: 14px;
    color: #231815;
    @include mincyo;
    font-weight: bold;
    line-height: 1.7;    
  }
}