/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-mainBlock{
  min-width: 980px;
  margin: 0 auto;
  background: url(../img/vacant_house/our_service_bg2.png) center top no-repeat;
  min-height: 350px;
  background-size: cover;
  position: relative;
  @include sp{
    min-width: 320px;
    min-height: 220px;
    width: 100%;
  }
  &__img{
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    @include sp{
      bottom: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      img{
        width: 100%;
      }
    }
  }
}