/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table1{
	width: 980px;
	margin: 0 auto 40px;
	border-bottom: 1px solid #C8C5C4;
  border-top: 1px solid #C8C5C4;
  @include sp{
		width: 100%;
		border-bottom: 0;
		margin-bottom: 30px;
  }
	dl{
		display: flex;
		align-items: center;
		background-color: #F7F8F8;
    border: 1px solid #C8C5C4;
    @include sp{
      display: block;
      border-top: 0;
    }
	}
	dd{
		font-size: 14px;
		color: #231815;
		font-weight: bold;
		@include mincyo;
		width: 200px;
		text-align: center;
    background-color: #F7F8F8;
    @include sp{
      width: 100%;
      padding: 5px 0;
    }
	}
	dt{
		width: 780px;
		font-size: 14px;
		color: #231815;
		font-weight: normal;
		@include mincyo;
		background-color: #fff;
		padding: 15px 5px 20px 10px;
		box-sizing: border-box;
		line-height: 1.7;
		border-left: 1px solid #C8C5C4;
    text-align: left;
    @include sp{
      width: 100%;
      padding: 15px 10px;
      border-left: 0;
    }
  }

  /* Modifly page consultation */
  &--mod1{
    dl{
      background-color: #fff;
    }
    dd{
      background-color: #fff;
      color: #10386B;
      text-align: left;
      padding-left: 15px;
      @include sp{
        border-bottom: 1px solid #C8C5C4;
      }
    }
    dt{
      padding-left: 20px;
    }
  }

  /* Modifly page company */
  &--mod2{
    width: 50%;
    @include sp{
      width: 100%;
    }
    dd{
      width: 170px;
      @include sp{
        width: 100%;
        border-bottom: 1px solid #C8C5C4;
      }
    }
    dt{
      width: 320px;
      padding-bottom: 15px;
      @include sp{
        width: 100%;
        padding: 10px 15px;
      }
    }
    .lh-text{
      padding-bottom: 24px;
      @include sp{
        padding-bottom: 10px;
      }
    }
  }

  /* Modifly page consultation */
  &--conslt{
    border-left: 1px solid #C8C5C4;
    border-right: 1px solid #C8C5C4;
		margin-bottom: 80px;
		@include sp{
			margin-bottom: 30px;
			border-left: 0;
			border-right: 0;
		}
    dl{
      align-items: flex-start;
    }
    dd{
      width: 100px;
			padding-top: 10px;
			@include sp{
        padding-top: 5px;
				width: 100%;
				border-bottom: 1px solid #C8C5C4;
      }
    }
    dt{
      width: 880px;
			padding: 10px 15px;
			@include sp{
        width: 100%;
      }
    }
  }
  &--fee{
    margin-bottom: 0;
    dl{
      background-color: #fff;
      @include sp{
        display: flex;
      }
    }
    dl.fee-first{
      dt,dd{
        font-weight: bold;
      }
    }
    dd,dt{
      width: 50%;
      text-align: center;
      font-weight: normal;
    }
    dt, dd{
      @include sp{
        padding: 10px 0;
      }
    }
    dt{
      @include sp{
        border-left: 1px solid #C8C5C4;
      }
    }
    dd{
      background-color: #fff;
    }
  }
  // page reduction_of_evaluation
  &--redu, &--redu1{
    margin-bottom: 0;
    dt{
      padding-bottom: 13px;
      p{
        margin: 13px -5px 0 -10px;
        border-top: 2px solid #C8C5C4;
        padding: 13px 5px 0 10px;
        @include sp{
          border-top: 1px solid #C8C5C4;
        }
      }
    }
  }
  &--redu{
    dd{
      @include sp{
        width: 100%;
        border-bottom: 1px solid #C8C5C4;
      }
    }
    dt{
      @include sp{
        width: 100%;
      }
    }
  }
  &--redu1{
    dd{
      width: 300px;
      @include sp{
        width: 100%;
        border-bottom: 1px solid #C8C5C4;
      }
    }
    dt{
      width: 680px;
      @include sp{
        width: 100%;
      }
    }
  }
  // page transfer_of_property
  &--trf{
    margin-bottom: 0;
    &__top{
      dd,dt{
        font-weight: bold !important;
      }
    }
    dd{
      width: 500px;
      text-align: left;
      padding-left: 15px;
      font-weight: normal;
      @include sp{
        width: 100%;
      }
    }
    dt{
      width: 240px;
      text-align: center;
      padding-bottom: 13px;
      @include sp{
        width: 100%;
        border-top: 1px solid #C8C5C4;
        padding: 7px 0;
      }
    }
  }

  // page apart
  &--apart{
    margin-bottom: 0;
    overflow: hidden;
    dd{
      width: 160px;
      @include sp{
        width: 100%;
      }
    }
    dt{
      width: 820px;
      padding-bottom: 13px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @include sp{
        width: 100%;
      }
      span{
        width: 110px;
        text-align: center;
        height: 100%;
        background-color: #F7F8F8;
        font-weight: bold;
        @include sp{
          width: 100%;
          text-align: left;
          padding: 5px 0 5px 15px;
        }
      }
      p{
        border-left: 1px solid #C8C5C4;
        padding: 10px;
        background-color: #fff;
        width: 709px;
      }
    }
    hr{
      border-top: 1px solid #C8C5C4;
      width: 820px;
      margin: 0;
      padding: 0;
    }
    &__bd{
      dd,dt{
        padding: 0;
        @include sp{
          width: 100%;
          padding: 10px 0 0;
        }
      }
      dt{
        background-color: #F7F8F8;
      }
    }
  }
}
.c-table1-top{
  background-color: #EFEFEF;
  @include sp{
    border-top: 0 !important;
    dd{
      padding: 0;
    }
  }
  dt{
    background-color: #EFEFEF;
    text-align: center;
    font-weight: bold;
  }
}