/*------------------------------------------------------------
video
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
#movArea{
  position: relative;
  overflow: hidden;
  min-height: 700px;
  height: 100vh;
  background-size: cover;
  @include sp{
    height: 100vh;
    min-height: 100%;
  }
  .movArea-title {
    width: 980px;
    left: 50%;
    position: absolute;
    top: 35%;
    transform: translate(-50%, -50%);
    @include sp{
      width: 100%;
      top: 50%;
      left: 60%;
      img{
        width: 70%;
      }
    }
  }
}

/*
------------------------------------------------------------*/
.p-index1-slide{
  position: relative;
  min-width: 980px;
  padding: 0 30px;
  @include sp{
    min-width: auto;
    width: 100%;
    padding: 0 7%;
  }
  li img {
    width: 100%;
  }
  li{
    padding: 0 15px;
    a,p{
      text-align: center;
      font-size: 13px;
      color: #231815;
      padding: 15px 0 0;
      @include mincyo;
      display: block;
      text-decoration: none;
    }
  }
  .left-arrow, .right-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-140%);
    z-index: 100;
    cursor: pointer;
    @include sp{
      transform: translateY(-100%);
    }
  }
  .left-arrow{
    left: -30px;
    @include sp{
      left: -20px;
    }
  }
  .right-arrow{
    right: -30px;
    @include sp{
      right: -20px;
    }
  }
  .slick-dots{
    display: flex;
    justify-content: center;
      li {
        padding: 13px 5px;
      }
      button{
        display: block;
        width: 7px;
        height: 7px;
        padding: 0;
        border: none;
        border-radius: 50%;
        background-color: #ddd;
        text-indent: -9999px;
        cursor: pointer;
      }
      li.slick-active button{
        background-color: #727171;
      }
  }
}

#slideSite{
  .left-arrow, .right-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-140%);
    z-index: 100;
    cursor: pointer;
  }
  .left-arrow{
    left: 5px;
  }
  .right-arrow{
    right: 5px;
  }
}

.l-upToo{
  opacity: 0;
  transform: translateY(300px);
}
.is-fadeup{
  transition: 1.2s all ease-out; transform: translateY(0); opacity: 1;
}