/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-contact{
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  background-color: #fff;
  overflow: hidden;
  &__title{
    text-align: center;
    p{
      padding-top: 25px;
    }
  }
  @include sp{
    display: block;
    text-align: center;
    padding-bottom: 40px;
    @include wsp;
  }
  &__info{
    padding-left: 60px;
    @include sp{
      padding-left: 0;
      margin: 20px 0;
    }
    p{
      font-size: 14px;
      color: #231815;
      @include mincyo;
      line-height: 2.2;
      font-weight: 500;
    }
    a{
      font-size: 21px;
      color: #231815;
      @include mincyo;
      text-decoration: none;
      font-weight: 500;
      span{
        font-size: 14px;
      }
    }
  }
  &__link{
    align-self: flex-end;
    margin: 0 0 10px 15px;
  }
}