<!--************************ Contact start ************************-->
<div class="c-contact">
    <h3 class="c-contact__title"><img src="/assets/img/index/contact_us.png" alt="contact us">
        <p class="l-upToo"><img src="/assets/img/index/contact_usname.png" alt="contact us"></p>
    </h3>
    <div class="c-contact__info">
        <p>ご依頼やご相談など、弊社へのお問合せはこちらから。</p>
        <a href="tel:0566231226">tel 0566-23-1226 <span>fax 0566-23-1227</span></a>
        <p>〒448-0802 愛知県刈谷市末広町2丁目2-18 <br>水曜日定休</p>
    </div>
    <a class="c-contact__link" href="/standard/contact_all.html"><img src="/assets/img/index/contact_button.png" alt="お問い合わせフォーム"></a>
</div>
<!--************************ Contact start ************************-->