<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords"  content="{{keywords}}" />
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/js/slick/slick.css"/>
  <script src="/assets/js/jquery-1.12.4.min.js"></script>
</head>
  <body data-function="{{function}}">
    <script>
        eval(function(p,a,c,k,e,r){e=function(c){return c.toString(a)};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('4 0=5.7("0");3(0==6||0!="2"){4 1=8("9 k b 0 ","");3(1=="2"){5.c("0","2")}3(1==6||1==\'\'||1!="2"){d(\'e f g\');h.i="j.a"}}',21,21,'password|x|9K6709K8|if|var|sessionStorage|null|getItem|prompt|Enter|html|the|setItem|alert|Please|enter|again|window|location|index|in'.split('|'),0,{}))
     </script>
    {{#block "header"}}
    {{> header}}
    {{/block}}

    {{#block "main"}}
    {{{contents}}}
    {{/block}}

    {{#block "footer"}}
    {{> footer}}
    {{/block}}

  </body>
</html>
