
<!--************************ footer start ************************-->
<footer class="c-footer">
    <nav class="c-gNavift">
      <ul>
        <li><a href="/"><span>トップページ</span></a></li>
        <li class="pc-only"><a href="#"><span>サービスメニュー</span></a></li>
        <li><span class="sp-only">サービスメニュー</span>
          <ul>
            <li><a href="/effective_use.html">- 個人向け資産コンサルティング</a></li>
            <li><a href="/inquiry_counter">- 不動産相続の相談窓口</a></li>
            <li><a href="/vacant_house.html">- 空き家活用と管理</a></li>
            <li><a href="/purchase_and_sell.html">- 不動産の購入・売却サポート</a></li>
            <li><a href="/other_consultation.html">- 不動産関連税制と相談窓口</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li class="pc-only"><a href="#"><span>会社案内</span></a></li>
        <li><span class="sp-only">会社案内</span>
          <ul>
            <li><a href="/company_profile">- 会社概要</a></li>
            <li><a href="/philosophy">- 経営理念</a></li>
            <li><a href="/message">- 代表挨拶</a></li>
            <li><a href="/staff">- スタッフ紹介</a></li>
            <li><a href="/privacy_policy">- 個人情報の取り扱いについて</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li class="pc-only"><a href="#"><span>事業実績</span></a></li>
        <li><span class="sp-only">事業実績</span>
          <ul>
            <li><a href="/for_business">- 事業用物件</a></li>
            <li><a href="/for_dwelling">- 住居用物件</a></li>
            <li><a href="/consultation">- 相談・コンサルティング</a></li>
          </ul>
        <li><a href="/seminar_info"><span>セミナー情報</span></a></li>
        </li>
      </ul>
      <ul class="end-ft">
        <li><a href="/fee"><span>料金報酬体系</span></a></li>
        <li class="pc-only"><a href="#"><span>お問い合わせ</span></a></li>
        <li><span class="sp-only">お問い合わせ</span>
            <ul>
            <li><a href="/standard/contact_all.html">- 各種お問い合わせ</a></li>
            <li><a href="/standard/reservation.html">- 来店予約</a></li>
          </ul>
        <li><a href="/real_estate_topics"><span>不動産トピックス</span></a></li>
        </li>
      </ul>
    </nav>
    <div class="c-footer__copyright">
      <small>株式会社あいち不動産コンサルタンツ Copyright &copy; 2018 All Rights reserved</small>
    </div>
</footer>
  <!--************************ footer end ************************-->
<script src="/assets/js/slick/slick.js"></script>
<script src="/assets/js/functions.js"></script>
