<!--************************ header start ************************-->
<header id="headerEffect">
  <div class="p-header">
    <div class="c-head">
      <h1 class="c-head__logo">
        <a href="/">
            <img class="imgLogoNoScroll" src="/assets/img/common/logo.png" alt="あいち不動産コンサルタンツ">
            <img class="imgLogoScroll" src="/assets/img/common/logo_change.png" alt="あいち不動産コンサルタンツ">
        </a>
      </h1>
      <!--************************ navigation start ************************-->
      <nav class="c-gnavi" id="gNavi">
        <!-- Menu pc -->
        <ul class="c-gnavi__PC">
            <li class="c-search">
                <div class="icon-search-container" data-ic-class="search-trigger">
                    <span class="fa fa-search"></span>
                    <input type="text" class="search-input" data-ic-class="search-input" placeholder="Search"/>
                    <span class="fa fa-times-circle" data-ic-class="search-clear"></span>
                </div>
            </li>
            <li><a class="c-gnavi__link" href="https://www.nishio-dc.com/">サービスメニュー</a>
                <ul class="c-gnavi__submenu item01">
                    <li><a href="/effective_use.html">個人向け資産コンサルティング</a></li>
                    <li><a href="/purchase.html">不動産の購入・売却サポート</a></li>
                    <li><a href="/inquiry_counter">不動産相続の相談窓口</a></li>
                    <li><a href="/other_consultation.html">不動産関連税制と相談窓口</a></li>
                    <li><a href="/vacant_house.html">空き家活用と管理</a></li>
                </ul>
            </li>
            <li><a class="c-gnavi__link" href="/our_company.html">会社案内</a>
                <ul class="c-gnavi__submenu item02">
                    <li><a href="/company_profile">会社概要</a></li>
                    <li><a href="/staff">スタッフ紹介</a></li>
                    <li><a href="/philosophy">経営理念</a></li>
                    <li><a href="/privacy_policy">個人情報の取扱いについて</a></li>
                    <li><a href="/message">代表挨拶</a></li>
                </ul>
            </li>
            <li><a class="c-gnavi__link" href="/business_results.html">事業実績</a>
                <ul class="c-gnavi__submenu item03">
                    <li><a href="/consultation">事業用物件</a></li>
                    <li><a href="/for_dwelling">住居用物件</a></li>
                    <li><a href="/for_business">相談・コンサルティング</a></li>
                </ul>
            </li>
            <li><a class="c-gnavi__link" href="/fee">料金報酬体系</a></li>
            <li><a class="c-gnavi__link" href="/standard/contact.html">お問い合わせ</a>
                <ul class="c-gnavi__submenu item05">
                    <li><a href="/standard/reservation.html">各種お問い合わせ</a></li>
                    <li><a href="/standard/contact_all.html">来店予約</a></li>
                </ul>
            </li>
        </ul>

        <!-- Menu sp -->
        <ul class="c-gnavi__SP">
          <li><a href="#">サービスメニュー</a>
            <ul>
                <li><a href="/effective_use.html">個人向け資産コンサルティング</a></li>
                <li><a href="/purchase.html">不動産の購入・売却サポート</a></li>
                <li><a href="/inquiry_counter">不動産相続の相談窓口</a></li>
                <li><a href="/other_consultation.html">不動産関連税制と相談窓口</a></li>
                <li><a href="/vacant_house.html">空き家活用と管理</a></li>
            </ul>
          </li>
          <li><a href="#">会社案内</a>
            <ul>
                <li><a href="/company_profile">会社概要</a></li>
                <li><a href="/staff">スタッフ紹介</a></li>
                <li><a href="/philosophy">経営理念</a></li>
                <li><a href="/privacy_policy">個人情報の取扱いについて</a></li>
                <li><a href="/message">代表挨拶</a></li>
            </ul>
          </li>
          <li><a href="#">事業実績</a>
            <ul>
                <li><a href="/consultation">事業用物件</a></li>
                <li><a href="/for_dwelling">住居用物件</a></li>
                <li><a href="/for_business">相談・コンサルティング</a></li>
            </ul>
          </li>
          <li><a href="/fee">土地有効活用</a></li>
          <li><a href="#">お問い合わせ</a>
            <ul>
                <li><a href="/standard/contact.html">お問い合わせ</a></li>
                <li><a href="/standard/reservation.html">各種お問い合わせ</a></li>
                <li><a href="/standard/contact_all.html">来店予約</a></li>
            </ul>
          </li>
          <li class="c-search">
            <div class="icon-search-container" data-ic-class="search-trigger">
                <span class="fa fa-search"></span>
                <input type="text" class="search-input" data-ic-class="search-input" placeholder="Search"/>
                <span class="fa fa-times-circle" data-ic-class="search-clear"></span>
            </div>
        </li>
        <li class="c-close" id="closeNavi">
            <img src="/assets/img/common/closegnavi.png" alt="">
        </li>
        </ul>
      </nav>
      <div class="c-bar" id="menuBar">
        <span></span>
      </div>
    </div>
  </div>
  <!--************************ navigation end ************************-->
</header>
<!--************************ header end ************************-->