/*------------------------------------------------------------
Apart page
------------------------------------------------------------*/

.p-apart{
  padding-bottom: 100px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/apart/our_service_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section apart1
------------------------------------------------------------*/
.p-apart1{
  padding: 80px 0;
  @include sp{
    @include wsp;
    padding: 40px 0;
  }
  .c-title1{
    text-align: center;
  }
  .c-text1{
    padding: 17px 0;
    text-align: center;
  }
}
.p-apart1-img{
  text-align: center;
}