/*------------------------------------------------------------
Company page
------------------------------------------------------------*/

.p-company{
  padding-bottom: 100px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/company/company_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section p-company1
------------------------------------------------------------*/
.p-company1{
  padding-top: 80px;
  text-align: center;
  @include sp{
    padding-top: 40px;
  }
  .c-text1 p{
    padding-bottom: 60px;
  }
}

.l-company1{
  display: flex;
  width: 980px;
  margin: 0 auto;
  @include sp{
    @include wsp;
    display: block;
  }
}

/* Section p-company2
------------------------------------------------------------*/
.p-company2{
  padding-top: 30px;
  padding-bottom: 80px;
  @include sp{
    @include wsp;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .c-title1{
    text-align: center;
  }
  .c-text1 p{
    padding-bottom: 20px;
  }
}
