/*------------------------------------------------------------
contact page
------------------------------------------------------------*/
.p-contact{
	padding-bottom: 120px;
	@include sp{
		padding-bottom: 50px;
	}
  .c-mainBlock{
    background: url(../img/contact/contact_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section contact1
------------------------------------------------------------*/
.p-contact1{
  padding-top: 80px;
	text-align: center;
	@include sp{
    padding-top: 40px;
    @include wsp;
  }
  .c-text1 p{
		padding-bottom: 70px;
		@include sp{
			padding-bottom: 30px;
		}
  }
}

.p-contact-thank{
  text-align: center;
	padding-top: 100px;
	@include sp{
		@include wsp;
		padding-top: 50px;
	}
  h3{
    font-size: 18px;
    color: #231815;
    font-weight: bold;
    padding-bottom: 15px;
  }
  p{
    line-height: 1.8;
    font-size: 14px;
    color: #231815;
    font-weight: normal;
  }
}