/*------------------------------------------------------------
Consultation page
------------------------------------------------------------*/

.p-consultation{
	padding-bottom: 70px;
	@include sp{
		padding-bottom: 50px;
	}
  .c-mainBlock{
    background: url(../img/consultation/business_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section p-other_consultation1
------------------------------------------------------------*/
.p-consultation1{
  padding-top: 80px;
	text-align: center;
	@include sp{
		@include wsp;
		padding-top: 40px;
  }
  .c-title1{
		padding-bottom: 70px;
		@include sp{
			padding-bottom: 20px;
		}
  }
  .c-text1 p{
    padding-bottom: 20px;
  }
}