/*------------------------------------------------------------
Delivery page
------------------------------------------------------------*/

.p-delivery{
  padding-bottom: 50px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/reduction_of_evaluation/our_service_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section delivery1
------------------------------------------------------------*/
.p-delivery1{
  padding: 80px 0;
  @include sp{
      @include wsp;
      padding: 40px 0;
  }
  .c-title1{
    text-align: center;
    padding-bottom: 0;
  }
  .c-text1{
    padding: 17px 0;
  }
  .c-text1-center{
    padding-bottom: 25px;
  }
}