/*------------------------------------------------------------
Fee page
------------------------------------------------------------*/

.p-fee{
  padding-bottom: 150px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/fee/fee_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section fee1
------------------------------------------------------------*/
.p-fee1{
  padding: 50px 0;
  width: 980px;
  margin: 0 auto;
  @include sp{
    width: 100%;
    padding: 40px 0;
  }
  .c-title1{
    text-align: center;
    padding: 0 0 30px;
    @include sp{
      padding-top: 15px;
      padding-bottom: 5px;
    }
  }
}
.l-p-fee1{
  @include sp{
    padding-top: 20px;
    @include wsp;
  }
}
.c-fee-info{
  width: 980px;
  margin: 0 auto 50px;
  @include sp{
    @include wsp;
  }
  &:last-child{
    margin-bottom: 0;
  }
  .c-text1{
    padding-left: 8px;
    @include sp{
      padding-left: 0;
    }
  }
  li{
    font-size: 14px;
    color: #241916;
    font-weight: normal;
    @include mincyo;
    position: relative;
    line-height: 1.6;
    margin: 3px 0;
    padding-left: 15px;
    &:after{
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      background-color: #241916;
      left: 0;
      top: 3.5px;
    }
  }
  h4{
    font-size: 16px;
    color: #221714;
    font-weight: bold;
    @include mincyo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
    line-height: 1.8;
    margin-bottom: 5px;
    padding-left: 8px;
    @include sp{
      display: block;
      padding-left: 0;
      padding-top: 10px;
    }
    span{
      text-align: right;
      font-size: 18px;
      color: #10386B;
      padding-right: 8px;
      display: block;
      @include sp{
        font-size: 12px;
      }
    }
  }
  &__title{
    color: #10386B !important;
    border-bottom: 2px solid #DBDBDB !important;
    margin-bottom: 35px !important;
    padding-bottom: 5px;
    padding-left: 12px !important;
    position: relative;
    @include sp{
      margin-bottom: 10px !important;
    }
    &:after{
      position: absolute;
      content: "";
      width: 5px;
      height: 25px;
      background-color: #10386B;
      left: 0;
      top: 1px;
      @include sp{
        top: 10px;
      }
    }
  }
  &__name{
    display: flex;
    justify-content: space-between;
    span{
      text-align: right;
      font-size: 12px;
      color: #10386B;
      padding-right: 8px;
      font-weight: bold;
      display: block;
      @include sp{
        width: 80%;
        padding-left: 5px;
      }
    }
  }
}

/* Section fee2
------------------------------------------------------------*/
.p-fee2{
  padding: 50px 0;
  background-color: #EFEFEE;
  @include sp{
    padding: 40px 0;
  }
  .c-title1{
    text-align: center;
    padding: 0 0 30px;
    @include sp{
      @include wsp;
    }
  }
}

/* Section fee3
------------------------------------------------------------*/
.p-fee3{
  padding: 80px 0;
  @include sp{
    padding: 40px 0 20px;
    @include wsp;
  }
  .c-title1{
    text-align: center;
  }
  .c-text1{
    text-align: center;
    padding: 10px 0 30px;
  }
}
.c-fee3-table{
  text-align: center;
  background-color: #EFEFEF;
  padding: 5px 0;
  border: 1px solid #C8C5C4;
  font-size: 14px;
  color: #231815;
}

/* Section fee4
------------------------------------------------------------*/
.p-fee4{
  .c-title1{
    text-align: center;
  }
}