/*------------------------------------------------------------
business page
------------------------------------------------------------*/
.p-business{
	padding-bottom: 120px;
	@include sp{
		padding-bottom: 50px;
	}
  .c-mainBlock{
    background: url(../img/for_business/business_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section business1
------------------------------------------------------------*/
.p-business1{
  padding-top: 80px;
  text-align: center;
  width: 980px;
	margin: 0 auto;
	@include sp{
		@include wsp;
		padding-top: 40px;
	}
  .c-title1 {
		padding-bottom: 70px;
		@include sp{
			padding-bottom: 30px;
		}
  }
}
.c-list1{
  display: flex;
	flex-wrap: wrap;
	@include sp{
		justify-content: space-between;
	}
  li{
    width: 150px;
    overflow: hidden;
    text-align: left;
    margin-right: 16px;
		margin-bottom: 40px;
		@include sp{
			width: 48%;
      margin-right: 0;
      overflow: visible;
		}
    &:nth-child(6n){
      margin-right: 0;
    }
    p{
      font-size: 13px;
      color: #241916;
      font-weight: normal;
      line-height: 1.65;
      @include sp{
        padding-top: 5px;
      }
    }
    img{
      width: 100%;
			height: 113px;
			@include sp{
				height: 70%;
			}
    }
  }
}