/*------------------------------------------------------------
dwelling page
------------------------------------------------------------*/
.p-dwelling{
  padding-bottom: 120px;
  @include sp{
		padding-bottom: 50px;
	}
  .c-mainBlock{
    background: url(../img/for_dwelling/business_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section dwelling1
------------------------------------------------------------*/
.p-dwelling1{
  padding-top: 80px;
  text-align: center;
  width: 980px;
  margin: 0 auto;
  @include sp{
    @include wsp;
    padding-top: 40px;
  }
  .c-title1 {
    padding-bottom: 70px;
    @include sp{
			padding-bottom: 30px;
		}
  }
}