/*------------------------------------------------------------
Top page
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
#bgmov{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  z-index: -100;
}

/* Section index1
------------------------------------------------------------*/
.p-index1{
  background-color: #fff;
  padding-bottom: 50px;
  &__title{
    text-align: center;
    padding: 80px 0 43px 0;
    @include sp{
      padding: 40px 0;
    }
  }
}

/* Section index2
------------------------------------------------------------*/
.p-index2{
  background-color: #EFEFEF;
  padding: 80px 0;
  overflow: hidden;
  @include sp{
    padding: 40px 0;
  }
}

/*
------------------------------------------------------------*/
.c-info{
  display: flex;
  @include sp{
    display: block;
  }
  &__title{
    width: 270px;
    padding-top: 10px;
    padding-left: 46px;
    @include sp{
      text-align: center;
      width: auto;
      padding: 0 0 20px;
    }

  }
  &__text{
    width: 710px;
    @include sp{
      @include wsp;
    }
    a{
      display: flex;
      align-items: center;
      border-top: 1px solid #E4E4E4;
      text-decoration: none;
    }
    span, p{
      font-size: 16px;
      color: #231815;
      padding: 10px 0;
      @include mincyo;
      @include sp{
        font-size: 14px;
      }
    }
    p{
      padding-left: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      @include sp{
          padding-left: 5%;
      }
    }
  }
}

/* Gallery page index
------------------------------------------------------------*/
.c-gallery{
  padding: 80px 0;
  background-color: #fff;
  @include sp{
    padding: 40px 0;
  }
  ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    min-width: 980px;
    @include sp{
      min-width: auto;
      width: 100%;
      display: block;
    }
  }
  li{
    width: 50%;
    overflow: hidden;
    margin-top: -1px;
    @include sp{
      width: 100%;
    }
    img{
      width: 100%;
      transition: 0.5s all ease-in-out;
    }
    &:hover{
      img{
        width: 100%;
        transition: 0.8s all ease-in-out;
        transform: scale(1.2);
      }
    }
  }
  a{
    position: relative;
    display: block;
    &:after{
      content: "";
      position: absolute;
      width: 112px;
      height: 114px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
$list: 1 2 3 4;
@each $i in $list {
  .c-gallery ul li:nth-child(#{$i}) a:after{
    background: url("../img/index/0#{$i}.png") center no-repeat;
  }
}

/* Section index3
------------------------------------------------------------*/
.p-index3{
  padding: 50px 0;
  background-color: #fff;
  @include sp{
    padding: 20px 0;
  }
  &__title{
    text-align: center;
    margin-bottom: 50px;
    @include sp{
      margin-bottom: 30px;
    }
  }
}
.p-index3-navi1{
  display: flex;
  justify-content: space-around;
  width: 980px;
  @include sp{
    width: 100%;
    display: block;
  }
  li {
    width: 300px;
    text-align: center;
    margin: 0 20px;
    @include sp{
      width: auto;
      @include wsp;
      margin-bottom: 20px;
    }
    img{
      height: 270px;
    }
  }
  p,a{
    font-size: 14px;
    color: #231815;
    padding-top: 45px;
    @include mincyo;
    text-align: justify;
    font-weight: normal;
    text-decoration: none;
  }
  &--index4{
    justify-content: space-between;
    @include sp{
      padding: 0 5%;
    }
    li{
      width: 220px !important;
      height: 165px;
      @include sp{
        width: auto;
        height: auto;
        width: 100% !important;
        margin: 0;
        height: auto;
        padding: 0 5%;
      }
      img{
        height: 100%;
        width: 100%;
      }
    }
    p{
      padding: 22px 0;
    }
  }
}

/* Section index4
------------------------------------------------------------*/
.p-index4{
  padding: 25px 0 200px;
  background-color: #fff;
  @include sp{
    padding: 20px 0 40px;
  }
  &__title{
    text-align: center;
    margin-bottom: 42px;
  }
}
.p-index5{
  padding-top: 75px;
  background-color: #fff;
}

/* Map Api
------------------------------------------------------------*/
#map {
  width: 100%;
  height: 550px;
  @include sp{
    height: 300px;
  }
}
