/*------------------------------------------------------------
Inquiry_counter page
------------------------------------------------------------*/

.p-inquiry_counter{
  color: #241916;
  padding-bottom: 150px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/inquiry_counter/inquiry_counter_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section inquiry_counter1
------------------------------------------------------------*/
.p-inquiry_counter1{
  margin: 80px auto 45px;
  display: flex;
  position: relative;
  max-width: 980px;
  @include sp{
      @include wsp;
      padding: 40px 0;
      display: block;
  }
  &__text{
    z-index: 1
  }
  .c-text1{
    p{
      padding-bottom: 35px;
      letter-spacing: 1px;
      @include sp{
          padding-bottom: 15px;
          letter-spacing: 0;
      }
    }
  }
  &-img{
    position: absolute;
    right: 0;
    z-index: 0;
    @include sp{
        text-align: center;
        position: static;
    }
  }
}

/* Section inquiry_counter2
------------------------------------------------------------*/
.p-inquiry_counter2{
  background-color: #F0EFEF;
  padding-bottom: 50px;
  text-align: center;
  .c-title3{
    padding-top: 50px;
    padding-bottom: 20px;
    @include sp{
        padding: 20px 0;
        @include wsp;
    }
  }
  .c-text1{
    @include sp{
      @include wsp;
    }
  }
  &__list{
    display: flex;
    justify-content: space-between;
    width: 980px;
    margin: 0 auto 50px;
    @include sp{
        @include wsp;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    li{
      @include sp{
        width: 30%;
        margin-bottom: 20px;
      }
      @include sp480{
        width: 50%;
      }
    }
    &--mod{
      justify-content: center;
      margin-bottom: 0;
      margin-top: 30px;
      li{
        margin: 0 50px;
        @include sp{
          width: 29%;
          margin: 0px 2%;
        }
      }
      img:hover{
        transform: scale(1.2);
      }
    }
  }
}

/* Section inquiry_counter3
------------------------------------------------------------*/
.p-inquiry_counter3{
  background-color: #fff;
  padding: 30px 0 80px;
  text-align: center;
  @include sp{
    @include wsp;
    padding: 40px 0;
  }
  .c-title3{
    padding-top: 50px;
    @include sp{
      padding-top: 0;
    }
  }
  .c-text1{
    padding: 20px 0;
  }
  .c-btn1{
    padding-bottom: 20px;
  }
  &-img{
    margin-top: 20px;
  }
}

/* Section inquiry_counter4
------------------------------------------------------------*/
.p-inquiry_counter4{
  background-color: #F0EFEF;
  padding: 50px 0;
  @include sp{
    padding: 40px 0;
  }
  .c-title3{
    text-align: center;
    @include sp{
      @include wsp;
    }
  }
  .c-text1{
    text-align: center;
    padding: 15px 0 30px;
    @include sp{
      @include wsp;
    }
  }
}

/* Component section inquiry_counter4
------------------------------------------------------------*/
.c-need{
  display: flex;
  width: 980px;
  margin: 0 auto;
  justify-content: space-between;
  @include sp{
    @include wsp;
    display: block;
  }
  &__info{
    width: 460px;
    @include sp{
      width: 100%;
    }
  }
  &__img{
    @include sp{
      margin-top: 20px;
      img{
        width: 100%;
      }
    }
  }
  &__item{
    margin-bottom: 40px;
    h4{
      font-size: 16px;
      color: #241916;
      font-weight: bold;
      border-bottom: 1px solid #241916;
      @include mincyo;
      margin-bottom: 5px;
    }
    li{
      font-size: 14px;
      color: #241916;
      font-weight: normal;
      @include mincyo;
      position: relative;
      line-height: 1.6;
      margin: 3px 0;
      padding-left: 15px;
      &:after{
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background-color: #241916;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}