/*------------------------------------------------------------
Investment_advice page
------------------------------------------------------------*/

.p-investment_advice{
  padding-bottom: 120px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/investment_advice/our_service_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section investment_advice1
------------------------------------------------------------*/
.p-investment_advice1{
  padding: 80px 0 55px;
  text-align: center;
  h4{
    padding-bottom: 25px;
  }
  .c-text1 p{
    padding-bottom: 25px;
  }
}

/* Section investment_advice2
------------------------------------------------------------*/
.p-investment_advice2{
  background-color: #F0EFEF;
  padding: 50px 0;
  .c-title1{
    text-align: center;
  }
}
.c-investment-imgtext{
  display: flex;
  width: 980px;
  margin: 0 auto;
  justify-content: space-between;
  &__img{
    width: 281px;
    text-align: right;
  }
  &__info{
    width: 670px;
  }
}

/* Section investment_advice3
------------------------------------------------------------*/
.p-investment_advice3{
  background-color: #fff;
  padding: 80px 0;
  width: 980px;
  margin: 0 auto;
  .c-title1, .c-text1{
    text-align: center;
  }
}
.c-investment-img{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

/* Section investment_advice4
------------------------------------------------------------*/
.p-investment_advice4{
  .c-title1{
    text-align: center;
  }
  .c-text1 p{
    padding-bottom: 25px;
  }
}