/*------------------------------------------------------------
Philosophy page
------------------------------------------------------------*/
.p-message{
  padding-bottom: 120px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/message/company_bg.png) no-repeat;
    background-size: cover;
  }
}
  
/* Section vacant_house3
------------------------------------------------------------*/
.p-message1{
  padding-top: 80px;
  text-align: center;
  @include sp{
    padding-top: 40px;
    @include wsp;
  }
  h4{
    padding-bottom: 25px;
  }
  .c-text1 p{
    padding-bottom: 25px;
    text-align: left;
    @include sp{
      padding-bottom: 15px;
    }
  }
}

.p-message1-imgtext{
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  &__img{
    @include sp{
      min-width: 150px;
    }
    img{
      @include sp{
        max-width: 160px;
      }
    }
  }
  .c-text1 p{
    padding-left: 20px;
    @include sp{
      font-size: 12px;
      padding-left: 20px;
    }
    @include sp480{
      font-size: 11px;
      padding-left: 15px;
    }
  }
  &--fz .c-text1 p{
    font-size: 12px;
    letter-spacing: -0.5px;
    padding-left: 10px;
  }
  &--fz .p-message1-imgtext__img{
    min-width: 63px;
  }
}
