/*------------------------------------------------------------
Other_consultation page
------------------------------------------------------------*/

.p-other_consultation{
  padding-bottom: 150px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/consultation/our_service_bg4.png) no-repeat;
    background-size: cover;
  }
}

/* Section p-other_consultation1
------------------------------------------------------------*/
.p-other_consultation1{
  padding-top: 80px;
  text-align: center;
  @include sp{
    padding-top: 40px;
    @include wsp;
  }
  .c-text1 p{
    padding-bottom: 60px;
    @include sp{
      padding-bottom: 40px;
    }
  }
}

.l-table2{
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include sp{
    width: auto;
  }
}
.c-table2{
  width: 475px;
  text-align: left;
  border: 1px solid #C8C5C4;
  margin-bottom: 30px;
  @include sp{
    width: 100%;
  }
  &__title{
    background-color: #EFEFEF;
    font-size: 14px;
    color: #231815;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #8F8988;
  }
  &__text{
    padding: 10px 10px;
    h4{
      font-size: 14px;
      color: #10386B;
      line-height: 1.6;
      font-weight: bold;
    }
    li{
      font-size: 14px;
      color: #231815;
      line-height: 1.8;
      letter-spacing: 2px;
    }
  }
}

/* Section p-other_consultation2
------------------------------------------------------------*/
.p-other_consultation2{
  padding-top: 50px;
  text-align: center;
  width: 980px;
  margin: 0 auto;
  @include sp{
    @include wsp;
    padding-top: 40px;
  }
  .c-title1{
    background-color: #EFEFEF;
    padding: 5px 0;
    border: 1px solid #C8C5C4;
    border-top: 2px solid #C8C5C4;
  }
  .c-text1 p{
    padding: 15px 0;
    border: 1px solid #C8C5C4;
    border-bottom: 0;
  }
}