/*------------------------------------------------------------
Philosophy page
------------------------------------------------------------*/
.p-philosophy{
  padding-bottom: 150px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/company/company_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section philosophy1
------------------------------------------------------------*/
.p-philosophy1{
  padding-top: 80px;
  text-align: center;
  @include sp{
    padding-top: 40px;
    @include wsp;
  }
}

/* Section philosophy2
------------------------------------------------------------*/
.p-philosophy2{
  padding-top: 80px;
  text-align: left;
  width: 980px;
  margin: 0 auto;
  @include sp{
    padding-top: 20px;
    @include wsp;
  }
  .c-title1{
    text-align: center;
    @include sp{
      padding-bottom: 10px;
      line-height: 1;
    }
  }
  .c-text1 p{
    line-height: 3.4;
    margin-top: -15px;
    @include sp{
        line-height: 2.8;
        margin-top: -10px;
    }
    &:first-child{
      padding-bottom: 15px;
      line-height: 1.8;
      margin-top: 0;
    }
  }
}
