/*------------------------------------------------------------
Philosophy page
------------------------------------------------------------*/
.p-privacy_policy{
  padding-bottom: 120px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/privacy_policy/company_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section privacy_policy1
------------------------------------------------------------*/
.p-privacy_policy1{
  padding-top: 80px;
  width: 980px;
  margin: 0 auto;
  @include sp{
    @include wsp;
    padding-top: 40px;
  }
  .c-title1{
    text-align: center;
  }
  .c-text1 p{
    padding-bottom: 30px;
    @include sp{
      padding-bottom: 15px;
    }
  }
}