/*------------------------------------------------------------
purchase page
------------------------------------------------------------*/

.p-purchase{
  padding-bottom: 150px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/purchase/our_service_bg3.png) no-repeat;
    background-size: cover;
  }
}

/* Component navigation page purchase
------------------------------------------------------------*/
.c-navi1{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #F0EFEF;
  flex-wrap: wrap;
  @include sp{
    display: none;
  }
  a{
    display: flex;
    height: 50px;
    width: 195px;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: #241916;
    justify-content: center;
    text-align: center;
    line-height: 1.6;
  }
  li:not(:last-child){
    position: relative;
    &:after{
      content: "";
      position: absolute;
      height: 20px;
      width: 1px;
      background-color: #241916;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

/* Section purchase1
------------------------------------------------------------*/
.p-purchase1{
  padding-top: 80px;
  text-align: center;
  @include sp{
    padding-top: 40px;
    @include wsp;
  }
  .c-title1{
    padding-bottom: 15px;
  }
}

/* Component stetp page purchase
------------------------------------------------------------*/
.c-step{
  text-align: left;
  width: 980px;
  margin: 0 auto;
  @include sp{
    width: 100%;
  }
  &__title{
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
    @include sp{
      padding-bottom: 20px;
    }
  }
  &__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 80px;
    @include sp{
      padding-top: 40px;
    }
    &--bg{
      background: url(../img/purchase/purchase_arec_bg.png) no-repeat right bottom;
    }
    .c-text1{
      text-align: center;
      width: 100%;
    }
  }
  &__img{
    width: 490px;
    text-align: center;
    @include sp{
      width: 100%;
      margin: 0 auto;
      padding-bottom: 15px;
    }
  }
  &__text{
    width: 465px;
    @include sp{
      width: 100%;
      text-align: left;
    }
    img{
      padding-bottom: 15px;
      border-bottom: 1px solid #231714;
      margin: 15px 0;
    }
    p{
      font-size: 14px;
      color: #241916;
      @include mincyo;
      font-weight: normal;
      line-height: 1.65;
    }
  }
}