/*------------------------------------------------------------
Reduction_of_evaluation page
------------------------------------------------------------*/

.p-reduction{
  padding-bottom: 100px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/reduction_of_evaluation/our_service_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section reduction1
------------------------------------------------------------*/
.p-reduction1{
  padding: 80px 0;
  @include sp{
    @include wsp;
    padding: 40px 0;
  }
  .c-title1{
    text-align: center;
    padding-bottom: 0;
  }
  .c-text1{
    padding: 17px 0;
  }
}