/*------------------------------------------------------------
Right_adjustmentfield page
------------------------------------------------------------*/

.p-right_adjustmentfield{
  padding-bottom: 150px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/right_adjustmentfield/our_service_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section right_adjustmentfield1
------------------------------------------------------------*/
.p-right_adjustmentfield1{
  padding: 80px 0 55px;
  text-align: center;
  .c-title1{
    padding-bottom: 0;
  }
  .c-text1{
    padding: 17px 0;
  }
}

/* Section right_adjustmentfield2
------------------------------------------------------------*/
.p-right_adjustmentfield2{
  background-color: #F0EFEF;
  padding: 50px 0;
  .c-title1{
    text-align: center;
  }
}

/* Section right_adjustmentfield3
------------------------------------------------------------*/
.p-right_adjustmentfield3, .p-right_adjustmentfield4{
  padding: 80px 0 58px;
  .c-title1{
    text-align: center;
  }
  .c-text1{
    p{
      padding-bottom: 22px;
    }
  }
  hr{
    border-top: 1px solid #D2D9EC;
    margin: 0;
    padding: 0;
  }
}

/* Section right_adjustmentfield4
------------------------------------------------------------*/
.p-right_adjustmentfield4{
  padding: 0;
}

/* Section right_adjustmentfield5
------------------------------------------------------------*/
.p-right_adjustmentfield5{
  background-color: #F0EFEF;
  padding: 50px;
  margin-top: 60px;
  .c-title1{
    text-align: center;
  }
  .c-text1{
    p{
      padding-bottom: 22px;
    }
  }
  .c-investment-imgtext{
    flex-wrap: wrap;
    h4{
      width: 100%;
      font-size: 14px;
      color: #231815;
      @include mincyo;
      font-weight: bold;
      line-height: 1.7;
      padding: 30px 0 20px;
    }
  }
}