/*------------------------------------------------------------
Sell page
------------------------------------------------------------*/

.p-sell{
  padding-bottom: 150px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/sell/our_service_bg3.png) no-repeat;
    background-size: cover;
  }
}

/* Section Sell1
------------------------------------------------------------*/
.p-sell1{
  padding-top: 80px;
  text-align: center;
  @include sp{
    @include wsp;
    padding-top: 40px;
  }
  .c-title1 {
    padding-bottom: 15px;
  }
}

/* Section Sell2
------------------------------------------------------------*/
.p-sell2{
  margin-top: 80px;
  text-align: center;
  padding: 50px 0 60px;
  background-color: #EFEFEE;
  @include sp{
    margin-top: 40px;
    padding: 30px 0 20px;
  }
  .c-text1 p{
    padding: 15px 0 40px;
    @include sp{
      @include wsp;
      padding: 5px 0 20px;
    }
  }
}
.p-sell2-navi{
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include sp{
    li{
      text-align: center;
      width: 50%;
      margin-bottom: 20px;
    }
  }
  @include sp480{
    li{
      width: 100%;
    }
  }
}

/* Section Sell3
------------------------------------------------------------*/
.l-sell3{
  @include sp{
    @include wsp;
  }
}
.p-sell3{
  padding-top: 80px;
  text-align: center;
  @include sp{
    padding-top: 40px;
    @include wsp;
  }
  .c-title1 {
      padding-bottom: 30px;
  }
  ul{
    display: flex;
    justify-content: center;
    @include sp{
      display: block;
    }
    li{
      width: 300px;
      margin: 0 15px;
      @include sp{
        width: auto;
        margin: 0 0 30px 0;
        img{
          width: 80%;
        }
      }
      &:nth-child(2) p{
        color: #0058A4;
      }
    }
    p{
      text-align: justify;
      font-size: 14px;
      color: #0D3767;
      font-weight: bold;
      padding-top: 20px;
      line-height: 1.65;
    }
  }
}

.p-sell-info{
  padding-top: 50px;
  text-align: center;
  @include sp{
    padding-top: 20px;
    @include wsp;
  }
  .c-text1 p{
    padding-top: 30px;
  }
}