/*------------------------------------------------------------
Seminar_info page
------------------------------------------------------------*/

.p-seminar_info{
	padding-bottom: 100px;
	@include sp{
		padding-bottom: 50px;
	}
  .c-mainBlock{
    background: url(../img/seminar_info/inquiry_counter_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section simulation1
------------------------------------------------------------*/
.p-seminar_info1{
	width: 980px;
	margin: 0 auto;
	padding: 80px 0;
	@include sp{
		@include wsp;
		padding: 40px 0;
	}
	.c-title1{
		text-align: center;
		padding-bottom: 50px;
	}
}

// Component page Seminar info
.c-sminar{
	display: flex;
	flex-wrap: wrap;
	@include sp{
		display: block;
	}
	&__title{
		font-size: 18px;
		color: #231815;
		@include mincyo;
		font-weight: bold;
		line-height: 1.7;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #717172;
		margin-bottom: 40px;
		@include sp{
			margin-bottom: 20px;
		}
	}
	&__step{
		width: 260px;
		padding-top: 8px;
		h4,p{
			font-size: 16px;
			font-family: monospace;
			font-weight: bold;
			color: #0D3767;
		}
		h4{
			letter-spacing: 1.3px;
		}
	}
	&__info{
		margin-bottom: 40px;
		@include sp{
			margin-bottom: 20px;
		}
		li{
			font-size: 14px;
			color: #231916;
			font-weight: normal;
			@include mincyo;
			display: flex;
			position: relative;
			padding-left: 15px;
			line-height: 1.7;
			margin: 7.5px 0;
			justify-content: space-between;
			&:after{
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background-color: #241916;
        left: 0;
        top: 5.5px;
      }
		}
		P{
			width: 200px;
			font-weight: bold;
			@include sp{
				width: 30%;
				margin-right: 5px;
			}
		}
		span{
			width: 480px;
			@include sp{
				width: 65%;
			}
		}
	}
}

.p-seminar_info2{
	background-color: #F0EFEF;
	padding: 50px 0;
}
.c-port1{
	width: 980px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 70px;
	overflow: hidden;
	@include sp{
		@include wsp;
		padding-bottom: 30px;
		justify-content: center;
	}
	&__img{
		width: 175px;
		@include sp{
			width: 30%;
			min-width: 150px;
			margin-right: 5%;
		}
		img{
			width: 100%;
		}
	}
	&__info{
		width: 775px;
		@include sp{
			width: 55%;
		}
	}
	&__title{
		font-size: 16px;
		color: #231916;
		font-weight: bold;
		line-height: 1.6;
	}
	&__step{
		font-size: 16px;
		font-family: monospace;
		font-weight: bold;
		color: #0D3767;
		display: flex;
		justify-content: space-between;
		padding: 15px 0;
		@include sp{
			display: block;
		}
		span{
			display: block;
			line-height: 2;
		}
	}
	&__link{
		text-decoration: none;
		font-size: 16px;
		color: #fff;
		font-weight: normal;
		@include mincyo;
		display: block;
		height: 33px;
		width: 260px;
    background-color: red; /* For browsers that do not support gradients */
		background-image: linear-gradient(#005c7f, #0a3867); /* Standard syntax (must be last) */
		text-align: center;
		line-height: 33px;
		border-radius: 10px;
		@include sp{
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			width: 85%;
			padding: 0 10px;
			font-size: 14px;
		}
	}
	&__date{
		display: flex;
		justify-content: space-between;
		@include sp{
			display: block;
		}
		p, span{
			font-size: 30px;
			color: #0D3767;
			font-weight: normal;
			font-family: sans-serif;
			letter-spacing: 5px;
			@include sp{
				font-size: 25px;
			}
		}
		span{
			font-size: 23px;
			@include sp{
				font-size: 20px;
			}
		}
	}
	&__time{
		width: 200px;
		padding-top: 15px;
		@include sp{
			padding-top: 0;
			width: auto;
		}
	}
	&__txt{
		width: 550px;
		dl{
			display: flex;
			@include sp{
				display: none;
			}
		}
		dd,dt{
			font-size: 14px;
			color: #231815;
			@include mincyo;
			font-weight: normal;
			line-height: 2.2;
		}
		dd{
			width: 70px;
		}
		dt{
			width: 480px;
		}
	}
	&:last-child{
		margin-bottom: 0;
		padding-bottom: 0;
	}
}