/*------------------------------------------------------------
purchase page
------------------------------------------------------------*/

.p-simulation{
  padding-bottom: 150px;
  @include sp{
    padding-bottom: 80px;
  }
	.c-mainBlock{
		background: url(../img/simulation/our_service_bg3.png) no-repeat;
		background-size: cover;
	}
}

/* Section simulation1
------------------------------------------------------------*/
.p-simulation1{
	padding-top: 80px;
  text-align: center;
  @include sp{
    padding-top: 40px;
    @include wsp;
  }
  &-btn{
    width: 380px;
    margin: 30px auto 10px;
    border: 1px solid #918B8A;
    text-align: left;
    padding: 10px 10px;
    li{
      font-size: 14px;
      color: #231815;
      font-weight: normal;
      line-height: 1.7;
    }
  }
}

/* Section simulation2
------------------------------------------------------------*/
.p-simulation2{
  padding-top: 80px;
  text-align: center;
  @include sp{
    @include wsp;
    padding-top: 40px;
  }
  &__title{
    font-size: 18px;
    color: #10386B;
    font-weight: bold;
  }
  &-iframe{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    @include sp{
      width: 100%;
      display: block;
    }
    &__left{
      width: 500px;
      @include sp{
        width: 100%;
      }
      .item{
        display: none;
      }
      .show-ifr{
        display: block;
      }
      iframe{
        @include sp{
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
    &__right{
      img{
        margin-bottom: 15px;
        @include sp{
          width: 100%;
          max-height: 80px;
          max-width: 300px;
        }
      }
    }
  }
}