/*------------------------------------------------------------
Staff page
------------------------------------------------------------*/

.p-staff{
  padding-bottom: 100px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/staff/company_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section staff1
------------------------------------------------------------*/
.p-staff1{
  padding: 50px 0;
  @include sp{
    padding: 40px 0;
  }
  .c-title1{
    text-align: center;
  }
}
.c-staff1-imgtext{
  width: 980px;
  margin: 0 auto;
  @include sp{
    @include wsp;
  }
  &__info{
    width: 700px;
    @include sp{
      width: 100%;
    }
  }
  &__item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #898989;
    padding-bottom: 45px;
    margin-bottom: 50px;
    @include sp{
      display: block;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
    h4{
     font-size: 18px;
     color: #10386B;
     font-weight: bold;
     line-height: 1.8;
     @include mincyo;
     padding-bottom: 5px;
    }
    dl{
      display: flex;
    }
    dd,dt{
      font-size: 14px;
      color: #10386B;
      font-weight: normal;
      line-height: 1.8;
      @include mincyo;
      padding: 2px 0;
    }
    dd{
      width: 65px;
      margin-right: 20px;
      text-align: justify;
      font-weight: bold;
      @include sp{
        margin-right: 10px;
        width: 20%;
      }
    }
    dt{
      @include sp{
        width: 80%;
      }
    }
    &:last-child{
      border-bottom: 0;
    }
  }
  &__img{
    width: 252px;
    text-align: center;
    @include sp{
      width: 100%;
      margin-bottom: 20px;
    }
  }
}