/*------------------------------------------------------------
Staff page
------------------------------------------------------------*/

.p-transfer{
  padding-bottom: 100px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/staff/company_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section transfer1
------------------------------------------------------------*/
.p-transfer1{
  padding: 80px 0 50px;
  @include sp{
    @include wsp;
    padding: 40px 0;
  }
  .c-title1{
    text-align: center;
    padding-bottom: 0
  }
  .c-text1{
    padding: 17px 0;
    @include sp{
      padding: 10px 0;
    }
  }
}

.p-transfer2{
  @include sp{
    @include wsp;
  }
  .c-title1 {
    background-color: #EFEFEF;
    padding: 5px 0;
    border: 1px solid #C8C5C4;
    border-top: 2px solid #C8C5C4;
    font-size: 14px;
    text-align: center;
  }
  .c-text1{
    padding: 15px 0;
    border-left: 1px solid #C8C5C4;
    border-right: 1px solid #C8C5C4;
    @include sp{
      padding: 10px 0;
    }
  }
}
.c-transfer2{
  padding-top: 20px;
  & > div{
    padding-bottom: 20px;
    display: flex;
    font-size: 14px;
    color: #231815;
    @include mincyo;
    font-weight: normal;
    line-height: 1.7;
    span{
      display: block;
      width: 45px;
      @include sp{
        width: 50px;
      }
    }
    p{
      width: 935px;
      @include sp{
        width: 95%;
      }
    }
  }
}