/*------------------------------------------------------------
Use_diagnosis page
------------------------------------------------------------*/

.p-use_diagnosis{
  padding-bottom: 150px;
  @include sp{
    padding-bottom: 80px;
  }
  .c-mainBlock{
    background: url(../img/use_diagnosis/our_service_bg.png) no-repeat;
    background-size: cover;
  }
}

/* Section use_diagnosis1
------------------------------------------------------------*/
.p-use_diagnosis1{
  padding: 50px 0;
  @include sp{
    padding: 40px 0 15px;
    @include wsp;
  }
  .c-title1{
    text-align: center;
  }
  .c-text1{
    padding: 20px 0;
    text-align: center;
    p{
      padding-bottom: 20px;
    }
  }
}

/* Section use_diagnosis2
------------------------------------------------------------*/
.p-use_diagnosis2{
  background-color: #EFEFEE;
  padding: 50px 0;
  @include sp{
    padding: 40px 0;
  }
  .c-title1{
    text-align: center;
    padding-bottom: 30px;
    @include sp{
      padding-bottom: 15px;
    }
  }
}
.c-diagnosis2{
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @include sp{
    @include wsp;
    display: block;
  }
  &__img{
    @include sp{
      text-align: center;
      margin-top: 20px;
    }
  }
}

/* Section use_diagnosis3
------------------------------------------------------------*/
.p-use_diagnosis3{
  text-align: center;
  padding: 80px 0;
  @include sp{
    @include wsp;
    padding: 40px 0;
  }
}
.c-diagnosis3-list{
  width: 980px;
  margin: 0 auto;
  padding-top: 80px;
  @include sp{
    padding-top: 20px;
    width: 100%;
  }
  ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include sp{
      flex-wrap: wrap;
    }
    li{
      @include sp{
        width: 48%;
        margin-top: 15px;
      }
      img:hover{
        transform: scale(1.2);
      }
    }
  }
}

/* Section use_diagnosis4
------------------------------------------------------------*/
.p-use_diagnosis4{
  text-align: center;
  padding: 50px 0;
  background-color: #EFEFEE;
  @include sp{
    padding: 40px 0;
  }
}
.c-diagnosis4{
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  flex-wrap: wrap;
  @include sp{
    @include wsp;
    display: block;
  }
  .c-text1{
    width: 100%;
    text-align: center;
  }
  &__text{
    width: 600px;
    @include sp{
      width: 100%;
    }
    p{
      font-size: 14px;
      color: #231815;
      @include mincyo;
      font-weight: normal;
      line-height: 1.7;
    }
  }
  &__step{
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    @include sp{
      padding-bottom: 15px;
    }
    img{
      width: 56px;
    }
    p{
      margin-left: 20px;
      margin-top: -3px;
    }
  }
  &__img{
    width: 368px;
    @include sp{
      width: 100%;
      text-align: center;
      margin: 20px 0;
    }
  }
}