/*------------------------------------------------------------
Vacant_house page
------------------------------------------------------------*/

.p-vacant_house{
  padding-bottom: 150px;
  @include sp{
    padding-bottom: 50px;
  }
}

/* Section vacant_house1
------------------------------------------------------------*/
.p-vacant_house1{
  padding-top: 75px;
  text-align: center;
  @include sp{
    @include wsp;
    padding-top: 30px;
  }
  .c-text1 p{
    padding-bottom: 30px;
    @include sp{
      padding-bottom: 15px;
    }
  }
  &__link{
    display: flex;
    justify-content: center;
    @include sp480{
      display: block;
      width: 100%;
    }
    a{
      margin: 10px 3%;
      display: block;
      @include sp{
        width: 50%;
      }
      @include sp480{
        width: 100%;
      }
    }
  }
}

/* Section vacant_house2
------------------------------------------------------------*/
.p-vacant_house2{
  margin-top: 100px;
  text-align: center;
  padding: 50px 0;
  background-color: #EFEFEE;
  @include sp{
    margin-top: 40px;
  }
  .c-text1 p{
    padding-top: 30px;
    @include sp{
      @include wsp;
    }
  }
}
/* Section vacant_house3
------------------------------------------------------------*/
.p-vacant_house3{
  padding-top: 80px;
  text-align: center;
  @include sp{
    @include wsp;
    padding-top: 40px;
  }
  .c-text1 p{
    padding-bottom: 70px;
    @include sp{
      padding-bottom: 10px;
    }
  }
}

/* Section vacant_house4
------------------------------------------------------------*/
.p-vacant_house4{
  @include sp{
    @include wsp;
  }
}

/* Section vacant_house5
------------------------------------------------------------*/
.p-vacant_house5{
  padding-top: 80px;
  text-align: center;
  @include sp{
    @include wsp;
    padding-top: 10px;
  }
  .c-text1 p{
    padding-bottom: 30px;
  }
}