/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer{
  background-color: #EFEFEF;
  padding-top: 40px;
  min-width: 980px;
  margin: 0 auto;
  @include sp{
    min-width: auto;
    width: 100%;
    padding-top: 0;
  }
  &__copyright{
    text-align: center;
    background-color: #3E3A39;
    padding: 15px 0;
    margin-top: 35px;
    @include sp{
      margin-top: 0;
    }
    small{
      font-size: 12px;
      color: #898989;
      @include mincyo;
      letter-spacing: 0.5px;
    }
  }
}
.c-gNavift{
  display: flex;
  width: 980px;
  margin: 0 auto;
  padding-left: 65px;
  @include sp{
    display: block;
    padding-left: 0;
    width: 100%;
  }
  ul{
    width: 245px;
    @include sp{
      width: 100%;
    }
    ul{
      width: 100%;
      @include sp{
        max-height: 0;
        transition: max-height 0.5s cubic-bezier(0.31, 0.01, 0.44, 0.96);
        overflow: hidden;
      }
      &.is-showft{
        display: block;
        max-height: 250px;
        transition: max-height 0.5s cubic-bezier(0.31, 0.01, 0.44, 0.96);
        li{
          a{
            display: block;
          }
        }
      }
      li{
        margin: 5px 0 !important;
        @include sp{
          padding: 7px 15px;
          margin: 0 !important;
        }
      }
    }
    &.end-ft{
      width: 180px;
      @include sp{
        width: 100%;
      }
    }
  }
  li{
    margin: 10px 0;
    position: relative;
    cursor: pointer;
    @include sp{
      border-top: 1px solid #ccc;
      margin: 0;
      a{
        display: block;
      }
    }
    span{
      font-size: 14px;
      font-weight: bold;
      margin: 5px 0;
      line-height: 1;
      @include sp{
        display: block;
        margin: 5px 0;
        padding: 5px 15px;
      }
    }
    &:after{
      transition: 0.3s all ease-in-out;
      position: absolute;
      content: "";
      border: solid #aaa;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
      top: 13px;
      transform: rotate(-45deg);
      right: 25px;
      display: none;
      @include sp{
        display: block;
      }
    }
    &.is-iconft{
      &:after{
        transform: rotate(45deg) translateY(-50%);
        transition: 0.3s all ease-in-out;
      }
    }
  }
  a{
    font-size: 13px;
    color: #231815;
    @include mincyo;
    text-decoration: none;
    font-weight: normal;
  }
}