/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
header{
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
  transition: 0.3s ease;
  &.fixed{
    transition: 0.3s ease;
    background-color: #fff;
  }
}

/* Header top
------------------------------------------------------------*/
.c-head{
  display: flex;
  width: 980px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  @include sp{
    max-width: 768px;
    height: 70px;
    padding-left: 10px;
    padding: 10px 75px 0 10px;
    display: block;
    width: 100%;
  }
  @include sp480{
    height: 55px;
    padding-top: 8px;
    padding-right: 60px;
  }
  //-------------------------------------------------------
  &__logo{
    width: 296px;
    height: 42px;
    @include sp{
      width: 100%;
      line-height: 45px;
    }
  }
  /* Humbarger menu
  ------------------------------------------------------------*/
  .c-bar{
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #10386b;
    right: 0;
    top: 0;
    cursor: pointer;
    display: none;
    @include sp{
      display: block;
    }
    @include sp480{
      height: 55px;
      width: 55px;
    }
    span{
      height: 2px;
      width: 40px;
      background-color: #fff;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: 0.3s all ease-in-out;
      transform: translate(-50%, -50%);
      @include sp480{
        width: 25px;
      }
      &:after, &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: 0.3s all ease-in-out;
      }
      &:after{
        top: -10px;
        left: 0;
      }
      &:before{
        top: 10px;
        left: 0;
      }
    }
  }
  .is-bar{
    span{
      background-color: transparent;
      transition: 0.1s all ease-in-out;
      &:after{
        transform: translateY(10px) rotate(-45deg);
        transition: 0.3s all ease-in-out;
      }
      &:before{
        transform: translateY(-10px) rotate(45deg);
      }
    }
  }
}
.p-header{
  position: relative;
  height: 90px;
  display: flex;
  align-items: center;
  transition: 0.3s all ease-in-out;
  @include sp{
    height: auto;
  }
  .imgLogoScroll{
      display: none;
  }
}
.fixed .p-header{
  height: 70px;
  transition: 0.3s all ease-in-out;
  @include sp{
    height: auto;
  }
}

/* Navigation Fixed
------------------------------------------------------------*/
.fixed01{
  background-color: #fff;
  .imgLogoScroll{
    display: block;
  }
  .imgLogoNoScroll{
    display: none;
  }
}
.fixed{
  .imgLogoScroll{
    display: block;
  }
  .imgLogoNoScroll{
    display: none;
  }
  .c-gnavi{
		&__link{
			color: #231815;
			text-shadow: none;
		}
		li{
			&:after{
				border: solid #231815;
				border-width: 0 1px 1px 0;
			}
		}
  }
}

/* Navigation
------------------------------------------------------------*/
.c-gnavi{
	position: relative;
	$root: &;
  @include sp{
    transform: translateX(100%);
    transition: 0.5s all ease-in-out;
    position: absolute;
    right: 0;
    top: 70px;
    width: 85%;
    background-color: #fff;
    height: 100vh;
  }
  @include sp480{
    top: 55px;
  }
  &.is-righshow{
    @include sp{
      transform: translateX(0);
    }
  }
  li{
		margin: 0 11px;
		position: relative;
		&:after{
			content: "";
			position: absolute;
			border: solid #fff;
			border-width: 0 1px 1px 0;
			display: inline-block;
			padding: 3px;
			right: -3px;
      top: 50%;
			transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			transform: rotate(45deg) translateY(-100%);
		}
		&:hover{
			#{$root}__submenu{
				transition: 0.3s all ease-out;
				visibility: visible;
				transform: translateY(0);
				opacity: 1;
			}
			&:after{
				transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
				transform: rotate(225deg) translateY(30%);
			}
		}
    @include sp{
      background-color: #fff;
		}
		&:nth-child(5){
			&:after{
				content: none;
			}
		}
	}
	.c-search{
    position: relative;
    @include sp{
      text-align: center;
    }
		&:after{
			content: none;
		}
	}
  > ul{
    display: flex;
    @include sp{
      display: none;
    }
  }
  //--------------------------------------
  &__link{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 34px 5px;
		font-size: 13px;
		color: #fff;
		text-decoration: none;
		text-shadow: 0px 0px 4px #000;
		position: relative;
	}
	//--------------------------------------
  &__submenu{
		position: absolute;
		content: "";
		background-color: #fff;
		left: -55px;
		top: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 3px 5px 5px 15px;
		transition: 0.3s all ease-out;
		visibility: hidden;
		opacity: 0;
		transform: translateY(50px);
		@include sp{
			display: none;
		}
		&:after{
			content: "";
			position: absolute;
			border-bottom: 10px solid #fff;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			top: -10px;
		}
		a{
			font-size: 13px;
			color: #727171;
			text-decoration: none;
			display: block;
			padding: 10px 10px 10px 8px;
      position: relative;
      &:hover{
        transform: translateX(-7px);
        transition: 0.1s all ease-out;
      }
			&:after{
				content: "";
				position: absolute;
				border: solid #727171;
				border-width: 0 1px 1px 0;
				display: inline-block;
				padding: 3px;
				left: -2px;
				top: 50%;
				transition: 0.3s all ease-out;
				-webkit-transform: rotate(-45deg) translateY(-70%);
				transform: rotate(-45deg) translateY(-70%);
			}
		}
		li{
			margin: 0;
			&:after{
				content: none;
			}
		}
		&.item01{
			width: 425px;
			li:nth-child(even){
                width: 200px;
			}
			&:after{
				left: 25%;
			}
		}
		&.item02{
			width: 300px;
			&:after{
				left: 30%;
			}
			li:nth-child(odd){
				width: 70px;
			}
			li:nth-child(even){
				width: 180px;
			}
		}
		&.item03{
			left: 0px;
			display: block;
			width: 200px;
			&:after{
				left: 15%;
			}
		}
		&.item05{
			left: -63px;
			display: block;
			width: 170px;
			&:after{
				left: 70%;
			}
		}
  }

  // menu SP
  //-------------------------------------------------------
  ul.c-gnavi__SP{
    display: none;
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
    @include sp{
      display: block;
      height: 90%;
      overflow-y: scroll;
    }
    a{
      width: auto;
      height: auto;
      display: block;
      padding: 15px 20px;
      text-decoration: none;
      color: #231815;
      border-bottom: 1px solid #e7e7e7;
      position: relative;
      font-size: 12px;
      @include sp480 {
        padding: 10px 20px;
      }
      &:after{
        transition: 0.5s all ease-in-out;
        position: absolute;
        content: "";
        border: solid #aaa;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        top: 46.5%;
        transform: rotate(-45deg) translateY(-50%);
        right: 20px;
      }
    }
    li{
      position: relative;
      margin: 0;
      &:after{
        content: none;
      }
    }
    li.is-submenu{
      ul{
        max-height: 350px;
        transition: max-height 0.5s ease-in-out;
      }
      a{
        &:after{
          transform: rotate(45deg) translateY(-50%);
          transition: 0.3s all ease-in-out;
        }
      }
    }
    ul{
      max-height: 0;
      transition: max-height 0.5s ease-in-out;
      overflow: hidden;
      a{
        display: block;
        padding-left: 35px;
        background-color: #f2f2f0;
        &:after{
          transform: rotate(-45deg) translateY(-50%) !important;
          transition: none !important;
        }
      }
    }
  }
}
.c-close{
  background-color: #eee !important;
  text-align: center;
  padding: 5px 0;
  border-top: 1px solid #e7e7e7;
  margin-top: 15px !important;
  cursor: pointer;
}