/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-container{
  max-width: 980px;
  margin: 0 auto;
}
.l-main{
  min-width: 980px;
  margin: 0 auto;
  @include sp{
    min-width: auto;
    width: 100%;
  }
}

.fixedBody{
  height: 100%;
  width: 100%;
  position: fixed;
}

.l-wrap {
  @include sp {
    width: 600/640*100%;
    margin: auto;
  }
}